Repository containers/buildah, pull requests merged in 2020-09, with the labels that each got.

#2581 fix build on 32bit arches
  pkg/rusage/rusage_unix.go
Labels: Required 1.16

#2579 StageExecutor.intermediateImageExists: recognize cached images based on scratch
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/cache-scratch/Dockerfile
  tests/bud/cache-scratch/Dockerfile.config
  tests/bud/cache-scratch/Dockerfile.different1
  tests/bud/cache-scratch/Dockerfile.different2
Labels: Required 1.16

#2644 chroot: fix handling of errno seccomp rules
  chroot/seccomp.go
Labels: target 1.17

#2653 [release-1.16] chroot: fix handling of errno seccomp rules
  chroot/seccomp.go
Labels: target 1.16

#2659 add: preserve ownerships and permissions on ADDed archives
  add.go
  copier/copier.go
  tests/conformance/conformance_test.go
  tests/copy.bats
Labels: target 1.16

#2660 [release-1.16] add: preserve ownerships and permissions on ADDed archives
  .golangci.yml
  add.go
  copier/copier.go
  tests/conformance/conformance_test.go
  tests/copy.bats
Labels: target 1.16
