Repository containers/buildah, pull requests merged in 2020-10, with the labels that each got.

#2662 CI: re-enable several linters
  .golangci.yml
  pkg/parse/parse.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#2667 ADD: only expand archives at the right time
  copier/copier.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/add/archive/Dockerfile.1
  tests/conformance/testdata/add/archive/Dockerfile.2
  tests/conformance/testdata/add/archive/Dockerfile.3
  tests/conformance/testdata/add/archive/Dockerfile.4
  tests/conformance/testdata/add/archive/Dockerfile.5
  tests/conformance/testdata/add/archive/Dockerfile.6
  tests/conformance/testdata/add/archive/Dockerfile.7
  tests/conformance/testdata/add/archive/sub/subdirectory.tar.gz
Labels: approved, kind/bug, lgtm, target 1.16

#2668 [release-1.16] ADD: only expand archives at the right time
  copier/copier.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/add/archive/Dockerfile.1
  tests/conformance/testdata/add/archive/Dockerfile.2
  tests/conformance/testdata/add/archive/Dockerfile.3
  tests/conformance/testdata/add/archive/Dockerfile.4
  tests/conformance/testdata/add/archive/Dockerfile.5
  tests/conformance/testdata/add/archive/Dockerfile.6
  tests/conformance/testdata/add/archive/Dockerfile.7
  tests/conformance/testdata/add/archive/sub/subdirectory.tar.gz
Labels: approved, kind/bug, lgtm, target 1.16

#2665 Remove configuration for bors
  bors.toml
Labels: approved, lgtm

#2642 New CI check: xref --help vs man pages
  Makefile
  cmd/buildah/bud.go
  cmd/buildah/run.go
  docs/buildah-add.md
  docs/buildah-bud.md
  docs/buildah-commit.md
  docs/buildah-config.md
  docs/buildah-containers.md
  docs/buildah-copy.md
  docs/buildah-from.md
  docs/buildah-images.md
  docs/buildah-inspect.md
  docs/buildah-login.md
  docs/buildah-logout.md
  docs/buildah-manifest-push.md
  docs/buildah-manifest.md
  docs/buildah-pull.md
  docs/buildah-push.md
  docs/buildah-rm.md
  docs/buildah-rmi.md
  docs/buildah-run.md
  docs/buildah-umount.md
  docs/buildah.md
  hack/xref-helpmsgs-manpages
Labels: approved, lgtm

#2669 [release-1.16] tag v1.16.4
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, kind/other, lgtm

#2672 Cirrus: Remove bors artifacts
  .cirrus.yml
Labels: approved, lgtm

#2656 Shell Completion for podman build flags
  go.mod
  go.sum
  pkg/cli/common.go
  pkg/cli/common_test.go
  pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#2647 Set directory ownership when copied with ID mapping
  copier/copier.go
  tests/namespaces.bats
Labels: approved, lgtm

#2678 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#2683 [release-1.16] Set directory ownership when copied with ID mapping
  copier/copier.go
  tests/namespaces.bats
Labels: approved, kind/bug, lgtm

#2681 ADD and COPY: descend into excluded directories, sometimes
  .cirrus.yml
  add.go
  copier/copier.go
  copier/copier_test.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/dockerignore/allowlist/alternating-nothing/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/alternating-nothing/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/alternating-nothing/subdir/subdir1/subdir2/subdir3/subdir4/subdir5/file
  tests/conformance/testdata/dockerignore/allowlist/alternating-other/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/alternating-other/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/alternating-other/subdir/subdir1/subdir2/subdir3/subdir4/subdir5/file2
  tests/conformance/testdata/dockerignore/allowlist/alternating/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/alternating/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/alternating/subdir/subdir1/subdir2/subdir3/subdir4/subdir5/file
  tests/conformance/testdata/dockerignore/allowlist/nothing-dot/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/nothing-dot/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/nothing-slash/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/nothing-slash/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/folder1/file1
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/folder1/file2
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/folder1/file1
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/folder1/file2
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/folder/subfolder/file
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/folder/file
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/folder/file
Labels: approved, kind/bug, lgtm

#2688 [release-1.16] ADD and COPY: descend into excluded directories, sometimes
  add.go
  copier/copier.go
  copier/copier_test.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/dockerignore/allowlist/alternating-nothing/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/alternating-nothing/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/alternating-nothing/subdir/subdir1/subdir2/subdir3/subdir4/subdir5/file
  tests/conformance/testdata/dockerignore/allowlist/alternating-other/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/alternating-other/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/alternating-other/subdir/subdir1/subdir2/subdir3/subdir4/subdir5/file2
  tests/conformance/testdata/dockerignore/allowlist/alternating/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/alternating/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/alternating/subdir/subdir1/subdir2/subdir3/subdir4/subdir5/file
  tests/conformance/testdata/dockerignore/allowlist/nothing-dot/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/nothing-dot/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/nothing-slash/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/nothing-slash/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/folder1/file1
  tests/conformance/testdata/dockerignore/allowlist/subdir-file/folder1/file2
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/folder1/file1
  tests/conformance/testdata/dockerignore/allowlist/subdir-nofile/folder1/file2
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/folder/subfolder/file
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/folder/file
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/.dockerignore
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/folder/file
Labels: approved, kind/bug, lgtm

#2684 refactor pullpolicy to avoid deps
  buildah.go
  define/types.go
Labels: approved, kind/other, lgtm

#2689 Fix build path wrong https://github.com/containers/podman/issues/7993
  imagebuildah/build.go
Labels: approved, lgtm

#2690 Skip tlsVerify insecure BUILD_REGISTRY_SOURCES
  cmd/buildah/commit.go
  cmd/buildah/from.go
  cmd/buildah/login.go
  cmd/buildah/manifest.go
  cmd/buildah/pull.go
  cmd/buildah/push.go
  commit.go
  docs/buildah-bud.md
  docs/buildah-commit.md
  docs/buildah-from.md
  docs/buildah-login.md
  docs/buildah-manifest-add.md
  docs/buildah-manifest-push.md
  docs/buildah-pull.md
  docs/buildah-push.md
  pull.go
  tests/push.bats
Labels: approved, lgtm

#2693 bump(github.com/openshift/imagebuilder) to v1.1.8 and require conformance
  .cirrus.yml
  go.mod
  go.sum
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dockerclient/archive.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/github.com/openshift/imagebuilder/shell_parser.go
  vendor/modules.txt
Labels: approved, kind/failing-test, lgtm

#2694 Stop excessive wrapping
  add.go
  buildah.go
  commit.go
  image.go
  imagebuildah/build.go
  imagebuildah/chroot_symlink_linux.go
  imagebuildah/stage_executor.go
  imagebuildah/util.go
  run_linux.go
  tests/bud.bats
  util.go
Labels: approved, lgtm

#2702 [release-1.16] bump(github.com/openshift/imagebuilder) to v1.1.8
  .cirrus.yml
  go.mod
  go.sum
  run_linux.go
  tests/containers_conf.bats
  vendor/github.com/openshift/imagebuilder/README.md
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/archive.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/dockerfile/parser/parser.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/github.com/openshift/imagebuilder/internals.go
  vendor/github.com/openshift/imagebuilder/shell_parser.go
  vendor/modules.txt
Labels: approved, kind/bug, lgtm

#2703 copier.copierHandlerPut: don't check length when there are errors
  copier/copier.go
Labels: approved, kind/bug, lgtm

#2704 [release-1.16] copier.copierHandlerPut: don't check length when there are errors
  copier/copier.go
Labels: approved, kind/bug, lgtm

#2711 Remove docs that refer to bors, since we're not using it
  CONTRIBUTING.md
  README.md
Labels: approved, kind/documentation, lgtm

#2708 Buildah bud should not use stdin by default
  cmd/buildah/bud.go
  tests/bud.bats
Labels: approved, lgtm

#2713 [release-1.16] tag v1.16.5
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2715 Use curl to get repo file (fix #2714)
  install.md
Labels: approved, kind/documentation, lgtm

#2718 copier: put: ignore Typeflag="g"
  copier/copier.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/tar-g/Dockerfile
  tests/conformance/testdata/tar-g/content.sh
  tests/conformance/testdata/tar-g/content.tar.gz
  tests/conformance/testdata/tar-g/content.txt
Labels: approved, kind/bug, lgtm

#2723 [release-1.16] copier: put: ignore Typeflag="g"
  copier/copier.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/tar-g/Dockerfile
  tests/conformance/testdata/tar-g/content.sh
  tests/conformance/testdata/tar-g/content.tar.gz
  tests/conformance/testdata/tar-g/content.txt
Labels: approved, kind/bug, lgtm

#2725 overlay: fix umount
  pkg/overlay/overlay.go
Labels: approved, kind/bug, lgtm

#2620 Drop logrus.Errorf to Warnf on warnings about OCI versus Docker format images.
  cmd/buildah/config.go
  cmd/buildah/main.go
  config.go
  docs/buildah.md
Labels: approved, lgtm

#2726 [release-1.16] overlay: fix umount
  pkg/overlay/overlay.go
Labels: approved, kind/bug, lgtm

#2728 overlay.MountReadOnly: support RO overlay mounts
  pkg/overlay/overlay.go
Labels: approved, lgtm

#2730 Handle cases where other tools mount/unmount containers
  cmd/buildah/mount.go
  mount.go
Labels: approved, lgtm

#2732 Bump 1.17.0
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2733 [release-1.17] Update CI configuration for the release-1.17 branch
  .cirrus.yml
  tests/validate/git-validation.sh
Labels: approved, kind/other, lgtm

#2734 imagebuildah: cache should take image format into account
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/cache-format/Dockerfile
Labels: approved, kind/bug, lgtm
