Repository containers/buildah, pull requests merged in 2020-11, with the labels that each got.

#2739 Use osusergo build tag for static build
  nix/default.nix
Labels: approved, kind/cleanup, lgtm

#2742 copier: try to force loading of nsswitch modules before chroot()
  copier/copier.go
  go.sum
Labels: approved, kind/bug, lgtm, todo-backport-to-1.16, todo-backport-to-1.17

#2746 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#2745 ADD: handle --chown on URLs
  add.go
  tests/bud.bats
  tests/bud/cache-chown/Dockerfile.add1
  tests/bud/cache-chown/Dockerfile.add2
  tests/bud/cache-chown/Dockerfile.copy1
  tests/bud/cache-chown/Dockerfile.copy2
  tests/bud/cache-chown/Dockerfile.prev1
  tests/bud/cache-chown/Dockerfile.prev2
  tests/bud/cache-chown/Dockerfile.tar1
  tests/bud/cache-chown/Dockerfile.tar2
  tests/bud/cache-chown/Dockerfile.url1
  tests/bud/cache-chown/Dockerfile.url2
  tests/bud/cache-chown/testfile
  tests/bud/cache-chown/testfile.tar.gz
Labels: approved, kind/bug, lgtm, todo-backport-to-1.16, todo-backport-to-1.17

#2752 Avoid overriding LDFLAGS in Makefile
  Makefile
Labels: approved, kind/other, lgtm

#2755 Run: correctly call copier.Mkdir
  imagebuildah/stage_executor.go
  run_linux.go
Labels: approved, kind/bug, lgtm

#2751 Use CPP, CC and flags in dep check scripts
  btrfs_installed_tag.sh
  btrfs_tag.sh
  libdm_tag.sh
Labels: approved, kind/other, lgtm

#2757 util: digging UID/GID out of os.FileInfo should work on Unix
  util/util_linux.go
  util/util_unix.go
  util/util_unsupported.go
  util/util_windows.go
Labels: approved, kind/cleanup, lgtm

#2758 imagebuildah.getImageTypeAndHistoryAndDiffIDs: cache results
  imagebuildah/executor.go
Labels: approved, kind/other, lgtm

#2748 Verify userns-uid-map and userns-gid-map input
  cmd/buildah/common.go
  pkg/cli/common.go
  tests/namespaces.bats
Labels: approved, lgtm

#2767 [release-1.17] ADD: handle --chown on URLs, cache should take image format into account
  add.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/cache-chown/Dockerfile.add1
  tests/bud/cache-chown/Dockerfile.add2
  tests/bud/cache-chown/Dockerfile.copy1
  tests/bud/cache-chown/Dockerfile.copy2
  tests/bud/cache-chown/Dockerfile.prev1
  tests/bud/cache-chown/Dockerfile.prev2
  tests/bud/cache-chown/Dockerfile.tar1
  tests/bud/cache-chown/Dockerfile.tar2
  tests/bud/cache-chown/Dockerfile.url1
  tests/bud/cache-chown/Dockerfile.url2
  tests/bud/cache-chown/testfile
  tests/bud/cache-chown/testfile.tar.gz
  tests/bud/cache-format/Dockerfile
Labels: approved, kind/bug, lgtm

#2766 [release-1.17] copier: try to force loading of nsswitch modules before chroot()
  copier/copier.go
Labels: approved, lgtm

#2768 [release-1.16] copier: try to force loading of nsswitch modules before chroot()
  copier/copier.go
Labels: approved, kind/bug, lgtm

#2753 Fix buildah config --cmd to handle array
  cmd/buildah/config.go
  tests/config.bats
Labels: approved, lgtm

#2749 Update podman bud man page
  cmd/buildah/bud.go
  cmd/buildah/from.go
  docs/buildah-bud.md
  pkg/cli/common.go
Labels: approved, lgtm

#2770 Add a few tests for `pull` command
  tests/pull.bats
Labels: approved, kind/other, lgtm

#2764 Fix NPE when Dockerfile path contains non-directory entries
  imagebuildah/build.go
  tests/bud.bats
  tests/bud/non-directory-in-path/non-directory
Labels: approved, lgtm

#2769 [release-1.16] ADD: handle --chown on URLs, cache should take image format into account
  add.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/cache-chown/Dockerfile.add1
  tests/bud/cache-chown/Dockerfile.add2
  tests/bud/cache-chown/Dockerfile.copy1
  tests/bud/cache-chown/Dockerfile.copy2
  tests/bud/cache-chown/Dockerfile.prev1
  tests/bud/cache-chown/Dockerfile.prev2
  tests/bud/cache-chown/Dockerfile.tar1
  tests/bud/cache-chown/Dockerfile.tar2
  tests/bud/cache-chown/Dockerfile.url1
  tests/bud/cache-chown/Dockerfile.url2
  tests/bud/cache-chown/testfile
  tests/bud/cache-chown/testfile.tar.gz
  tests/bud/cache-format/Dockerfile
Labels: approved, kind/bug, lgtm

#2778 copier.Get(): ignore ENOTSUP/ENOSYS when listing xattrs
  copier/xattrs.go
Labels: approved, kind/bug, lgtm, todo-backport-to-1.16, todo-backport-to-1.17

#2777 Run: don't forcibly disable UTS namespaces in rootless mode
  run_linux.go
  tests/run.bats
Labels: approved, kind/bug, lgtm

#2783 [release-1.16] copier.Get(): ignore ENOTSUP/ENOSYS when listing xattrs
  copier/xattrs.go
Labels: approved, kind/bug, lgtm

#2784 [release-1.17] copier.Get(): ignore ENOTSUP/ENOSYS when listing xattrs
  copier/xattrs.go
Labels: approved, kind/bug, lgtm

#2754 Add --policy flag to buildah pull
  cmd/buildah/common.go
  cmd/buildah/inspect.go
  cmd/buildah/pull.go
  contrib/completions/bash/buildah
  define/types.go
  docs/buildah-pull.md
  import.go
  pull.go
  tests/commit.bats
  tests/pull.bats
  tests/rm.bats
Labels: approved, lgtm

#2786 Vendor in containers/storage v1.24.0
  go.mod
  go.sum
  vendor/github.com/Microsoft/go-winio/archive/tar/LICENSE
  vendor/github.com/Microsoft/go-winio/archive/tar/common.go
  vendor/github.com/Microsoft/go-winio/archive/tar/reader.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_atim.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_atimespec.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_unix.go
  vendor/github.com/Microsoft/go-winio/archive/tar/writer.go
  vendor/github.com/Microsoft/go-winio/backuptar/strconv.go
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/archive_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/archive_linux.go
  vendor/github.com/containers/storage/pkg/archive/archive_other.go
  vendor/github.com/containers/storage/pkg/archive/archive_unix.go
  vendor/github.com/containers/storage/pkg/archive/archive_windows.go
  vendor/github.com/containers/storage/pkg/archive/diff.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm

#2789 Fix testing error caused by simultanious merge
  tests/pull.bats
Labels: approved, lgtm

#2792 Bump 1.18.0 try2
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2794 [release-1.16] tag v1.16.6
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, kind/other, lgtm

#2795 [release-1.18] Update CI configuration for the release-1.18 branch
  .cirrus.yml
  tests/validate/git-validation.sh
Labels: approved, lgtm

#2796 intermediateImageExists: ignore images whose history we can't read
  cmd/buildah/manifest.go
  imagebuildah/stage_executor.go
  tests/lists.bats
Labels: approved, kind/bug, lgtm, todo-backport-to-1.16, todo-backport-to-1.17, todo-backport-to-1.18

#2793 [release-1.17] tag v1.17.1
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, kind/other, lgtm

#2803 imagebuildah: disable pseudo-terminals for RUN
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/terminal/Dockerfile
Labels: approved, kind/bug, lgtm, todo-backport-to-1.16, todo-backport-to-1.17, todo-backport-to-1.18

#2801 Compute diffID for mapped-layer at creating image source
  image.go
  tests/namespaces.bats
Labels: approved, kind/bug, lgtm

#2804 update docs for debian testing and unstable
  install.md
Labels: kind/documentation

#2808 Add suggests cpp to spec file
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2813 Remove copy/paste errors that leaked `Podman` into man pages.
  docs/buildah-bud.md
  docs/buildah-run.md
  docs/buildah.md
Labels: approved, lgtm

#2814 fix: non-portable shebang #2812
  examples/all-the-things.sh
  examples/copy.sh
  examples/lighttpd.sh
Labels: approved, lgtm

#2815 Switch to using containers/common pkg's
  cmd/buildah/common.go
  go.mod
  go.sum
  pkg/secrets/secrets.go
  pkg/umask/umask.go
  pkg/umask/umask_unsupported.go
  run_linux.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/supported.go
  vendor/github.com/containers/common/pkg/subscriptions/mounts.conf
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/umask/umask_unix.go
  vendor/github.com/containers/common/pkg/umask/umask_unsupported.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/unshare/unshare.go
  vendor/github.com/klauspost/compress/flate/gen_inflate.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/flate/inflate_gen.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/modules.txt
Labels: approved, lgtm

#2806 Fix crash on invalid filter commands
  cmd/buildah/images.go
  cmd/buildah/images_test.go
  tests/images.bats
Labels: approved, lgtm

#2821 Add container information to .containerenv
  run_linux.go
  tests/run.bats
Labels: approved, lgtm

#2807 Add --ignorefile flag to use alternate .dockerignore flags
  cmd/buildah/addcopy.go
  cmd/buildah/bud.go
  contrib/completions/bash/buildah
  docs/buildah-add.md
  docs/buildah-bud.md
  docs/buildah-copy.md
  imagebuildah/build.go
  imagebuildah/executor.go
  pkg/cli/common.go
  tests/add.bats
  tests/bud.bats
  tests/copy.bats
Labels: approved, lgtm

#2826 inserts forgotten quotation mark
  troubleshooting.md
Labels: approved, kind/documentation, lgtm

#2828 pkg/supplemented test: replace our null blobinfocache
  pkg/supplemented/supplemented_test.go
Labels: approved, kind/cleanup, lgtm

#2830 [release-1.16] tag v1.16.7
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, kind/other, lgtm
