Repository containers/buildah, pull requests merged in 2020-12, with the labels that each got.

#2824 Not use local image create/add manifest
  cmd/buildah/manifest.go
Labels: approved, lgtm

#2834 Throw errors when using bogus --network flags
  cmd/buildah/bud.go
  cmd/buildah/run.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/run.bats
Labels: approved, lgtm

#2839 enable short-name aliasing
  new.go
Labels: approved, lgtm

#2844 Move away from using docker.io
  tests/commit.bats
  tests/helpers.bash
  tests/pull.bats
  tests/registries.bats
  tests/registries.conf
  tests/run.bats
Labels: approved, lgtm

#2846 update installation doc to reflect current status
  install.md
Labels: approved, kind/documentation, lgtm

#2854 pkg, cli: rootless uses correct isolation
  pkg/cli/common.go
Labels: approved

#2856 Turn off PRIOR_UBUNTU Test until vm is updated
  .cirrus.yml
Labels: approved, lgtm

#2822 Add a source debug build
  Makefile
  install.md
Labels: approved, kind/feature, lgtm

#2849 copier: Put: skip entries with zero-length names, handle directory <=> not-directory better
  copier/copier.go
  copier/copier_test.go
  copier/copier_unix_test.go
  copier/syscall_unix.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/add/dir-not-dir/Dockerfile
  tests/conformance/testdata/add/dir-not-dir/test.tar
  tests/conformance/testdata/add/not-dir-dir/Dockerfile
  tests/conformance/testdata/add/not-dir-dir/test.tar
  tests/conformance/testdata/add/populated-dir-not-dir/Dockerfile
  tests/conformance/testdata/add/populated-dir-not-dir/test.tar
Labels: approved, kind/bug, lgtm

#2805 Add U volume flag to chown source volumes
  docs/buildah-bud.md
  docs/buildah-from.md
  docs/buildah-run.md
  pkg/parse/parse.go
  run_linux.go
  tests/from.bats
  tests/run.bats
Labels: approved, kind/feature, lgtm

#2831 Update nix pin with `make nixpkgs`
  Makefile
  nix/default.nix
  nix/nixpkgs.json
Labels: approved, lgtm

#2823 Allow FROM to be overriden with from option
  cmd/buildah/bud.go
  docs/buildah-bud.md
  imagebuildah/build.go
  imagebuildah/executor.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/build-with-from/Containerfile
Labels: approved, lgtm

#2861 Switch references of /var/run -> /run
  contrib/cirrus/lib.sh
  docs/buildah-info.md
  docs/buildah-unshare.md
  docs/buildah.md
  docs/tutorials/03-on-build.md
Labels: approved, lgtm

#2847 Allow users to specify stdin into containers
  cmd/buildah/bud.go
  docs/buildah-bud.md
  pkg/cli/common.go
  tests/bud.bats
Labels: approved, lgtm

#2862 SELinux no longer requires a tag.
  Makefile
  chroot/selinux.go
  chroot/selinux_unsupported.go
  selinux.go
  selinux_unsupported.go
Labels: approved, lgtm

#2867 Drop log message on failure to mount on /sys file systems to info
  chroot/run.go
Labels: approved, lgtm

#2864 Spelling
  CONTRIBUTING.md
  cmd/buildah/common.go
  cmd/buildah/containers_test.go
  cmd/buildah/images_test.go
  config.go
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/cirrus/lib.sh
  copier/copier.go
  demos/buildah_multi_stage.sh
  docs/buildah-add.md
  docs/buildah-bud.md
  docs/buildah-copy.md
  docs/buildah-from.md
  docs/buildah-logout.md
  docs/buildah-run.md
  docs/release-announcements/v0.12.md
  docs/tutorials/01-intro.md
  docs/tutorials/03-on-build.md
  docs/tutorials/05-openshift-rootless-bud.md
  hack/build_speed.sh
  pkg/parse/parse.go
  run.go
  run_linux.go
  tests/authenticate.bats
  tests/bud.bats
  tests/commit.bats
  tests/conformance/conformance_test.go
  tests/e2e/buildah_suite_test.go
  tests/from.bats
  tests/helpers.bash
  tests/lists.bats
  tests/pull.bats
  tests/push.bats
  tests/test_buildah_build_rpm.sh
Labels: approved, kind/cleanup, lgtm
