Repository containers/buildah, pull requests merged in 2021-04, with the labels that each got.

#3083 Check for symlink in builtin volume
  chroot/run.go
  run_linux.go
  tests/bud.bats
  tests/bud/volume-symlink/Dockerfile
  tests/bud/volume-symlink/Dockerfile.no-symlink
Labels: approved, lgtm

#3118 System-test cleanup
  tests/bud.bats
  tests/helpers.bash
Labels: approved, lgtm

#3117 Sort all mounts by destination directory
  run_linux.go
  tests/run.bats
  util/util.go
  util/util_test.go
Labels: approved, lgtm

#3121 Add conformance tests for COPY ""
  .cirrus.yml
  Makefile
  tests/conformance/conformance_test.go
  tests/conformance/testdata/copyblahblub/Dockerfile
  tests/conformance/testdata/copyblahblub/Dockerfile2
  tests/conformance/testdata/copyblahblub/Dockerfile3
  tests/conformance/testdata/copyblahblub/firstdir/seconddir/dir-a/file-a
  tests/conformance/testdata/copyblahblub/firstdir/seconddir/dir-b/file-b
  tests/conformance/testdata/copyempty/.script
  tests/conformance/testdata/copyempty/Dockerfile
  tests/conformance/testdata/copyempty/Dockerfile2
  tests/conformance/testdata/copyempty/script1
  tests/conformance/testdata/copyempty/script2
  tests/conformance/testdata/copysymlink/Dockerfile2
Labels: approved, kind/other, lgtm

#3124 Setup alias for --tty to --terminal
  cmd/buildah/run.go
  contrib/completions/bash/buildah
  pkg/cli/common.go
  tests/namespaces.bats
Labels: approved, lgtm

#3108 Remove some stuttering on returns errors
  image.go
  pkg/blobcache/blobcache.go
  pkg/overlay/overlay.go
  pkg/parse/parse.go
  tests/run.bats
Labels: approved, lgtm

#3109 Cirrus: Make use of shared get_ci_vm container
  .cirrus.yml
  contrib/cirrus/lib.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#3129 fix local image lookup for custom platform
  new.go
  tests/bud.bats
Labels: approved, lgtm

#3122 Add system tests of "buildah run"
  tests/namespaces.bats
  tests/run.bats
Labels: approved, kind/other, lgtm

#3131 Add authentication system tests for 'commit' and 'bud'
  tests/authenticate.bats
  tests/bud.bats
  tests/commit.bats
Labels: approved, kind/other, lgtm

#3133 CLI add/copy: add a --from option
  .cirrus.yml
  Makefile
  buildah.go
  cmd/buildah/addcopy.go
  contrib/completions/bash/buildah
  docs/buildah-add.md
  docs/buildah-copy.md
  tests/add.bats
  tests/copy.bats
Labels: approved, kind/feature, lgtm

#3135 Cirrus: Update VMs w/ F34beta
  .cirrus.yml
Labels: approved, kind/other, lgtm

#3141 Run container with isolation type set at 'from'
  cmd/buildah/run.go
  tests/from.bats
Labels: approved, kind/bug, lgtm

#3140 bats helpers.bash - minor refactoring
  tests/helpers.bash
Labels: approved, lgtm

#3144 Bump 1.20.1
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3145 Update nix pin with `make nixpkgs`
  Makefile
  nix/nixpkgs.json
Labels: approved, lgtm

#3143 copier: add GetOptions.NoCrossDevice
  copier/copier.go
  copier/copier_linux_test.go
  copier/copier_unix_test.go
  copier/syscall_unix.go
  copier/syscall_windows.go
Labels: approved, kind/feature, lgtm

#3149 Log the final error with %+v at logging level "trace"
  cmd/buildah/main.go
  docs/buildah.md
  tests/info.bats
Labels: approved, kind/other, lgtm

#3150 Add a few system tests of 'buildah from'
  tests/from.bats
Labels: approved, kind/other, lgtm

#3155 Fix arg missing warning in bud
  imagebuildah/build.go
  tests/bud.bats
Labels: approved, lgtm

#3154 Minor fixes to Buildah as a library tutorial documentation
  docs/tutorials/04-include-in-your-build-tool.md
Labels: approved, kind/documentation, lgtm

#3164 tests: copy.bats: fix infinite hang
  tests/copy.bats
Labels: approved, lgtm

#3163 Do not force hard code to crun in rootless mode
  cmd/buildah/run.go
  util/util.go
Labels: approved, lgtm

#3167 copier: add Remove()
  copier/copier.go
  copier/copier_linux_test.go
  copier/copier_test.go
  copier/copier_unix_test.go
Labels: approved, kind/other, lgtm

#3168 Restore log timestamps
  cmd/buildah/main.go
Labels: approved, kind/bug, lgtm

#3151 Add system test of 'buildah help' with a tiny fix
  cmd/buildah/common.go
  tests/help.bats
Labels: approved, kind/other, lgtm

#3162 Output names of multiple tags in buildah bud
  commit.go
  imagebuildah/executor.go
  tests/bud.bats
Labels: approved, lgtm

#3171 push to docker test: don't get fooled by podman
  tests/helpers.bash
  tests/pull.bats
  tests/push.bats
Labels: approved, lgtm

#3174 Add system test of 'buildah version' for packaged buildah
  tests/version.bats
Labels: approved, kind/other, lgtm

#3179 [CI:DOCS] Remove older distro docs
  install.md
Labels: approved, lgtm

#3178 [NO TESTS NEEDED] Remove buildah bud --loglevel ...
  contrib/completions/bash/buildah
  docs/buildah-bud.md
  pkg/cli/common.go
Labels: approved, lgtm

#3181 restore push/pull and util API
  cmd/buildah/manifest.go
  cmd/buildah/pull.go
  cmd/buildah/push.go
  commit.go
  imagebuildah/executor.go
  import.go
  pull.go
  push.go
  tests/imgtype/imgtype.go
  util/util.go
Labels: approved, lgtm

#3147 Add buildah manifest rm command
  cmd/buildah/manifest.go
  contrib/completions/bash/buildah
  docs/buildah-manifest-rm.md
  docs/buildah-manifest.md
  tests/lists.bats
Labels: approved, lgtm

#3183 [CI:DOCS] Update steps for CentOS runc users
  install.md
Labels: approved, lgtm

#3182 Add compabitility wrappers for recently removed packages
  manifests/compat.go
  pkg/manifests/compat.go
  pkg/supplemented/compat.go
Labels: approved, kind/api-change, kind/bug, lgtm

#3177 Implement RUN secrets for buildah bud
  define/build.go
  docs/buildah-bud.md
  go.mod
  go.sum
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  pkg/parse/parse.go
  pkg/secrets/secrets.go
  run.go
  run_linux.go
  tests/bud.bats
  tests/bud/run-mounts/Dockerfile.secret
  tests/bud/run-mounts/Dockerfile.secret-access
  tests/bud/run-mounts/Dockerfile.secret-not-required
  tests/bud/run-mounts/Dockerfile.secret-options
  tests/bud/run-mounts/Dockerfile.secret-required
  tests/run.bats
  tests/subscriptions.bats
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: approved, kind/feature, lgtm

#3172 Add system tests of 'bud' subcommand
  tests/bud.bats
Labels: approved, kind/other, lgtm

#3185 Cirrus: Update Ubuntu images to 21.04
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#3173 Test namespace flags of 'bud' subcommand
  tests/bud/namespaces/Containerfile
  tests/namespaces.bats
Labels: approved, kind/other, lgtm

#3186 namespaces test - refactoring and cleanup
  tests/namespaces.bats
Labels: approved, lgtm

#3184 imagebuildah: drop resolveSymlink()
  imagebuildah/chroot_symlink_linux.go
  imagebuildah/chroot_symlink_unsupported.go
  imagebuildah/stage_executor.go
  run_linux.go
  tests/bud.bats
  tests/bud/preserve-volumes/Dockerfile
  tests/conformance/conformance_test.go
  tests/conformance/selinux.go
  tests/conformance/selinux_unsupported.go
Labels: approved, kind/bug, lgtm

#3187 runUsingRuntime: when relaying error from the runtime, mention that it's from the runtime
  run_linux.go
Labels: approved, kind/other, lgtm

#3191 Cirrus: Update F34beta -> F34
  .cirrus.yml
Labels: approved, lgtm

#3190 pr-should-include-tests: try to make work in buildah
  tests/validate/pr-should-include-tests
Labels: approved, lgtm
