Repository containers/buildah, pull requests merged in 2021-12, with the labels that each got.

#3654 [CI:DOCS] Simple README fix
  docs/tutorials/01-intro.md
Labels: kind/documentation, approved, lgtm

#3663 Wire logger through to config
  buildah.go
  imagebuildah/stage_executor.go
  new.go
Labels: approved, lgtm

#3626 [1.21] Cirrus: Backport PR #3562 + reduce testing tasks
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/test.sh
Labels: approved, lgtm, kind/failing-test

#3623 [1.17] Cirrus: Disable conformance test
  .cirrus.yml
Labels: approved, lgtm, kind/failing-test

#3624 [1.18] Cirrus: Disable conformance test
  .cirrus.yml
Labels: approved, lgtm

#3625 [1.19] Cirrus: Disable conformance test
  .cirrus.yml
Labels: approved, lgtm, kind/failing-test

#3622 [1.16] Cirrus: Disable conformance test
  .cirrus.yml
Labels: approved, lgtm, kind/failing-test

#3670 tests: move buildkit mount tests files from `TESTSDIR` to `TESTDIR` before any modifications
  tests/bud.bats
Labels: approved, lgtm

#3680 cirrus: remove `static_build`
  .cirrus.yml
Labels: approved, lgtm

#3674 stage_executor: re-use all the layers from `cache` for `squashed` case and `commit` as late as possible.
  imagebuildah/stage_executor.go
  tests/bud/layers-squash/Dockerfile.multi-stage
  tests/squash.bats
Labels: approved

#3681 build: fix libsubid test
  hack/libsubid_tag.sh
Labels: approved, lgtm

#3676 Allow callers to replace the ContainerPrefix
  buildah.go
  cmd/buildah/from.go
  define/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  new.go
  tests/from.bats
Labels: approved, lgtm
