Repository containers/buildah, pull requests merged in 2021-11, with the labels that each got.

#3610 docs: Use guaranteed path for go-md2man
  docs/Makefile
Labels: approved, lgtm

#3609 build: history should not contain `ARG` values. OTOH `RUN` history should contain final values.
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/with-arg/Dockerfile
  tests/bud/with-arg/Dockerfile2
Labels: approved, lgtm

#3614 rootless: do not bind mount /sys if not needed
  run_linux.go
  tests/namespaces.bats
Labels: kind/bug, approved, lgtm

#3613 [CI:DOCS] Fix tutorial to specify command on buildah run line
  docs/tutorials/01-intro.md
Labels: approved, lgtm

#3615 config: support the variant field
  cmd/buildah/config.go
  config.go
  contrib/completions/bash/buildah
  docker/types.go
  docs/buildah-config.1.md
  info.go
  tests/config.bats
  tests/inspect.bats
Labels: kind/feature, approved, lgtm

#3619 define.TempDirForURL(): show CombinedOutput when a command fails
  Makefile
  define/types.go
  tests/bud.bats
Labels: approved, lgtm, kind/other

#3611 Add --unsetenv option to buildah commit and build
  cmd/buildah/build.go
  cmd/buildah/commit.go
  commit.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  image.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  tests/bud.bats
  tests/commit.bats
Labels: approved, lgtm

#3631 ssh-agent: Increase timeout before we explicitly close connection
  pkg/sshagent/sshagent.go
Labels: approved, lgtm

#3621 docs/tutorials: update
  chroot/run.go
  chroot/run_test.go
  cmd/buildah/build.go
  cmd/buildah/commit.go
  cmd/buildah/config.go
  define/build.go
  docs/buildah-build.1.md
  docs/tutorials/01-intro.md
  docs/tutorials/02-registries-repositories.md
  docs/tutorials/03-on-build.md
  docs/tutorials/04-include-in-your-build-tool.md
  docs/tutorials/05-openshift-rootless-build.md
Labels: kind/documentation, approved, lgtm

#3599 Cirrus: Bump up to Fedora 35 & Ubuntu 21.10
  .cirrus.yml
  chroot/run_test.go
  chroot/seccomp.go
  chroot/seccomp_unsupported.go
  contrib/cirrus/add_second_partition.sh
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/other

#3627 [1.22] Cirrus: Backport PR #3562 + reduce testing tasks
  .cirrus.yml
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/failing-test

#3628 [1.23] Cirrus: Backport PR #3562 + reduce testing tasks
  .cirrus.yml
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/failing-test

#3630 run: ensure that stdio pipes are labeled correctly
  go.mod
  go.sum
  run_linux.go
  selinux.go
  selinux_unsupported.go
  tests/bud.bats
  tests/bud/stdio/Dockerfile
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/modules.txt
Labels: kind/bug, approved, lgtm

#3638 Fix UnsetEnv for buildah bud
  image.go
  tests/bud.bats
Labels: approved, lgtm

#3640 Tests should rely only on static/unchanging images
  tests/copy.bats
  tests/e2e/buildah_suite_test.go
Labels: approved, lgtm, kind/flake

#3645 Make LocalIP public function so Podman can use it
  run_linux.go
  util/util.go
Labels: approved, lgtm

#3651 images: accept multiple filter with logical `AND` between them.
  cmd/buildah/images.go
  tests/images.bats
Labels: approved, lgtm

#3656 copier: RemoveAll possibly-directories
  copier/copier.go
  copier/copier_test.go
Labels: kind/bug, approved, lgtm

#3657 image: set MediaType in OCI manifests
  go.mod
  go.sum
  image.go
  internal/source/create.go
  pkg/blobcache/blobcache_test.go
  tests/imgtype/imgtype.go
  tests/source.bats
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: kind/feature, approved, lgtm

#3658 copier.Put: check for is-not-a-directory using lstat, not stat
  copier/copier.go
  copier/copier_test.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/replace/symlink-with-directory/Dockerfile
  tests/conformance/testdata/replace/symlink-with-directory/tree1/directory/file-in-directory
  tests/conformance/testdata/replace/symlink-with-directory/tree1/maybe-directory
  tests/conformance/testdata/replace/symlink-with-directory/tree2/maybe-directory/file-in-maybe-directory
Labels: kind/bug, approved, lgtm

#3637 Grab all of the containers.conf settings for namespaces
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  docs/buildah-run.1.md
  pkg/cli/common.go
  pkg/parse/parse.go
  run_linux.go
  tests/bud.bats
  tests/from.bats
  tests/helpers.bash
  tests/namespaces.bats
Labels: approved, lgtm
