Repository containers/buildah, pull requests merged in 2021-01, with the labels that each got.

#2879 fix: `rmi --prune` when parent image is in store.
  cmd/buildah/rmi.go
  tests/rmi.bats
Labels: approved, kind/bug, lgtm, ok-to-test

#2884 copier.PutOptions: add an "IgnoreDevices" flag
  add.go
  copier/copier.go
  copier/copier_test.go
Labels: approved, kind/bug, lgtm, todo-backport-to-1.16, todo-backport-to-1.17, todo-backport-to-1.18

#2885 Cirrus: Track libseccomp and golang version
  .cirrus.yml
  contrib/cirrus/logcollector.sh
Labels: approved, lgtm

#2889 [release-1.18] imagebuildah: disable pseudo-terminals for RUN, allow users to specify stdin into containers
  cmd/buildah/bud.go
  docs/buildah-bud.md
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/terminal/Dockerfile
Labels: approved, kind/bug, lgtm

#2890 [release-1.18] intermediateImageExists: ignore images whose history we can't read
  cmd/buildah/manifest.go
  imagebuildah/stage_executor.go
  tests/lists.bats
Labels: approved, kind/bug

#2868 Use --arch and --os options to select architecture and os
  cmd/buildah/manifest.go
  cmd/buildah/pull.go
  docs/buildah-bud.md
  docs/buildah-from.md
  docs/buildah-pull.md
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/from.bats
  tests/lists.bats
  tests/pull.bats
Labels: approved, lgtm, release 1.19

#2891 [release-1.18] skip entries with zero-length names, handle directory <=> not-directory better, add an "IgnoreDevices" flag
  add.go
  copier/copier.go
  copier/copier_test.go
  copier/copier_unix_test.go
  copier/syscall_unix.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/add/dir-not-dir/Dockerfile
  tests/conformance/testdata/add/dir-not-dir/test.tar
  tests/conformance/testdata/add/not-dir-dir/Dockerfile
  tests/conformance/testdata/add/not-dir-dir/test.tar
  tests/conformance/testdata/add/populated-dir-not-dir/Dockerfile
  tests/conformance/testdata/add/populated-dir-not-dir/test.tar
Labels: approved, kind/bug

#2883 Upper directory should match mode of destination directory
  pkg/overlay/overlay.go
  tests/overlay.bats
Labels: approved, lgtm, release 1.19

#2893 Fix handling of TMPDIR environment variable
  pkg/parse/parse.go
  pull.go
  tests/pull.bats
Labels: approved, lgtm, release 1.19

#2894 Buildah inspect should be able to inspect manifests
  cmd/buildah/inspect.go
  cmd/buildah/manifest.go
  docs/buildah-inspect.md
  tests/lists.bats
  tests/pull.bats
Labels: approved, lgtm, release 1.19

#2869 Add support for --manifest option in buildah bud and buildah commit
  cmd/buildah/bud.go
  cmd/buildah/commit.go
  commit.go
  contrib/completions/bash/buildah
  docs/buildah-bud.md
  docs/buildah-commit.md
  docs/buildah-from.md
  docs/buildah-login.md
  docs/buildah-manifest-add.md
  docs/buildah-manifest-push.md
  docs/buildah-pull.md
  docs/buildah-push.md
  imagebuildah/build.go
  pkg/cli/common.go
Labels: approved, lgtm, release 1.19

#2895 Make buildah push support pushing manifests lists and digests
  cmd/buildah/manifest.go
  cmd/buildah/push.go
  contrib/completions/bash/buildah
  docs/buildah-manifest-push.md
  docs/buildah-push.md
  pkg/cli/common.go
  tests/lists.bats
Labels: approved, lgtm, release 1.19

#2896 Update vendor of containers/storage and containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/retry/retry_linux.go
  vendor/github.com/containers/common/pkg/retry/retry_unsupported.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/utils.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Labels: approved, lgtm, release 1.19

#2897 Bump 1.19.0
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2877 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#2903 Stop overriding the location of the blob info cache
  common.go
Labels: approved, kind/bug, lgtm

#2906 Vendor in common 0.33.1
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/retry/retry_linux.go
  vendor/github.com/containers/common/pkg/retry/retry_unsupported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#2900 Move away from using docker.io
  .cirrus.yml
  tests/commit.bats
  tests/helpers.bash
  tests/pull.bats
  tests/registries.bats
  tests/registries.conf
  tests/run.bats
Labels: approved, lgtm

#2905 Cirrus: Trim CI to essential-only for legacy branch
  .cirrus.yml
  contrib/cirrus/lib.sh
Labels: approved, lgtm

#2631 Cirrus: Use images from automation_images
  .cirrus.yml
  contrib/cirrus/add_second_partition.sh
  contrib/cirrus/build.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup.sh
  contrib/cirrus/test.sh
  hack/get_ci_vm.sh
  tests/bud.bats
  tests/config.bats
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#2908 use local image name for pull policy checks
  new.go
  tests/pull.bats
Labels: approved, lgtm

#2910 Cherry pick localhost fix and update CI configuration for release-1.1…
  .cirrus.yml
  new.go
  tests/pull.bats
  tests/validate/git-validation.sh
Labels: approved, lgtm

#2911 Fix version of release to v1.19.1
  buildah.go
  contrib/rpm/buildah.spec
Labels: approved

#2913 If destination does not exists, do not throw error
  pkg/overlay/overlay.go
Labels: approved, lgtm

#2916 1.19.2
  buildah.go
  contrib/rpm/buildah.spec
  go.mod
  go.sum
  pkg/overlay/overlay.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/retry/retry_linux.go
  vendor/github.com/containers/common/pkg/retry/retry_unsupported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#2918 Reset upstream branch to dev version
  buildah.go
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2924 Workaround for RHEL gating test failure
  tests/authenticate.bats
Labels: approved, lgtm

#2927 Added required devel packages
  docs/tutorials/04-include-in-your-build-tool.md
Labels: approved, kind/documentation, lgtm

#2886 Native OSX build
  .cirrus.yml
  contrib/cirrus/build.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/lib.sh.t
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup.sh
  contrib/cirrus/test.sh
Labels: approved, lgtm

#2926 Pick default OCI Runtime from containers.conf
  util/types.go
  util/util.go
  util/util_test.go
Labels: approved, lgtm

#2928 Use build-arg ENV val from local environment if set
  cmd/buildah/bud.go
  tests/bud.bats
  tests/bud/build-arg/Dockerfile
Labels: approved, kind/bug, lgtm

#2933 [ci:docs] Add Ashley and Urvashi to Approvers
  OWNERS
Labels: approved, do-not-merge/invalid-owners-file

#2932 [release-1.19] Use build-arg ENV val from local environment if set
  cmd/buildah/bud.go
  tests/bud.bats
  tests/bud/build-arg/Dockerfile
Labels: approved, kind/bug, lgtm

#2929 Pick default OCI Runtime from containers.conf
  util/types.go
  util/util.go
  util/util_test.go
Labels: approved, lgtm, todo-backport-to-1.19

#2930 local image lookup by digest
  new.go
  tests/from.bats
  util/util.go
Labels: approved, lgtm

#2934 local image lookup by digest
  new.go
  tests/from.bats
  util/util.go
Labels: approved, lgtm

#2941 Bump golang.org/x/crypto to latest rel-1.19
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/sys/plan9/asm.s
  vendor/golang.org/x/sys/plan9/asm_plan9_386.s
  vendor/golang.org/x/sys/plan9/asm_plan9_amd64.s
  vendor/golang.org/x/sys/plan9/asm_plan9_arm.s
  vendor/golang.org/x/sys/plan9/const_plan9.go
  vendor/golang.org/x/sys/plan9/dir_plan9.go
  vendor/golang.org/x/sys/plan9/env_plan9.go
  vendor/golang.org/x/sys/plan9/errors_plan9.go
  vendor/golang.org/x/sys/plan9/mkall.sh
  vendor/golang.org/x/sys/plan9/mkerrors.sh
  vendor/golang.org/x/sys/plan9/mksysnum_plan9.sh
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/plan9/race.go
  vendor/golang.org/x/sys/plan9/race0.go
  vendor/golang.org/x/sys/plan9/str.go
  vendor/golang.org/x/sys/plan9/syscall.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_386.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_amd64.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_arm.go
  vendor/golang.org/x/sys/plan9/zsysnum_plan9.go
  vendor/golang.org/x/term/AUTHORS
  vendor/golang.org/x/term/CONTRIBUTING.md
  vendor/golang.org/x/term/CONTRIBUTORS
  vendor/golang.org/x/term/LICENSE
  vendor/golang.org/x/term/PATENTS
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/go.sum
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_plan9.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_aix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/golang.org/x/term/term_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Labels: approved, lgtm

#2939 Bump golang.org/x/crypto to the latest
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/sys/plan9/asm.s
  vendor/golang.org/x/sys/plan9/asm_plan9_386.s
  vendor/golang.org/x/sys/plan9/asm_plan9_amd64.s
  vendor/golang.org/x/sys/plan9/asm_plan9_arm.s
  vendor/golang.org/x/sys/plan9/const_plan9.go
  vendor/golang.org/x/sys/plan9/dir_plan9.go
  vendor/golang.org/x/sys/plan9/env_plan9.go
  vendor/golang.org/x/sys/plan9/errors_plan9.go
  vendor/golang.org/x/sys/plan9/mkall.sh
  vendor/golang.org/x/sys/plan9/mkerrors.sh
  vendor/golang.org/x/sys/plan9/mksysnum_plan9.sh
  vendor/golang.org/x/sys/plan9/pwd_go15_plan9.go
  vendor/golang.org/x/sys/plan9/pwd_plan9.go
  vendor/golang.org/x/sys/plan9/race.go
  vendor/golang.org/x/sys/plan9/race0.go
  vendor/golang.org/x/sys/plan9/str.go
  vendor/golang.org/x/sys/plan9/syscall.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_386.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_amd64.go
  vendor/golang.org/x/sys/plan9/zsyscall_plan9_arm.go
  vendor/golang.org/x/sys/plan9/zsysnum_plan9.go
  vendor/golang.org/x/term/AUTHORS
  vendor/golang.org/x/term/CONTRIBUTING.md
  vendor/golang.org/x/term/CONTRIBUTORS
  vendor/golang.org/x/term/LICENSE
  vendor/golang.org/x/term/PATENTS
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/go.sum
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_plan9.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_aix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/golang.org/x/term/term_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Labels: approved, lgtm

#2938 Rebuild layer if a change in ARG is detected
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/build-arg/Dockerfile4
Labels: approved, kind/bug, lgtm

#2945 [release-1.19] Rebuild layer if a change in ARG is detected
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/build-arg/Dockerfile4
Labels: approved, kind/bug, lgtm

#2947 [ci:docs] Fix man page for buildah push
  docs/buildah-push.md
Labels: approved, lgtm

#2949 Bump to v1.19.3
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm
