Repository containers/buildah, pull requests merged in 2021-03, with the labels that each got.

#3015 ADD/COPY: create the destination directory first, chroot to it
  add.go
  copier/copier.go
  copier/copier_test.go
  copier/copier_unix_test.go
  copier/syscall_unix.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/add/parent-clean/Dockerfile
  tests/conformance/testdata/add/parent-dangling/Dockerfile
  tests/conformance/testdata/add/parent-symlink/Dockerfile
  tests/conformance/testdata/add/parent-symlink/foobar.tar
Labels: approved, kind/bug, lgtm

#3052 [release-1.19] ADD/COPY: create the destination directory first, chroot to it
  add.go
  copier/copier.go
  copier/copier_test.go
  copier/copier_unix_test.go
  copier/syscall_unix.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/add/parent-clean/Dockerfile
  tests/conformance/testdata/add/parent-dangling/Dockerfile
  tests/conformance/testdata/add/parent-symlink/Dockerfile
  tests/conformance/testdata/add/parent-symlink/foobar.tar
Labels: approved, kind/bug, lgtm

#3054 Clarify image name match failure message
  cmd/buildah/images.go
  cmd/buildah/images_test.go
  tests/images.bats
Labels: approved, kind/other, lgtm

#3041 Shrink the vendoring size of pkg/cli
  cmd/buildah/bud.go
  cmd/buildah/commit.go
  cmd/buildah/common.go
  cmd/buildah/config.go
  cmd/buildah/push.go
  config.go
  define/build.go
  define/types.go
  go.mod
  go.sum
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  imagebuildah/util.go
  pkg/cli/common.go
  run_linux.go
  tests/conformance/conformance_test.go
  tests/imgtype/imgtype.go
  util/types.go
  util/util.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/chown/chown.go
  vendor/github.com/containers/common/pkg/chown/chown_unix.go
  vendor/github.com/containers/common/pkg/chown/chown_windows.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3056 fix: Containerfiles - smaller set of userns u/gids
  contrib/buildahimage/centos7/Dockerfile
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Dockerfile
Labels: approved, kind/bug, lgtm

#3055 Set upperdir permissions based on source
  pkg/overlay/overlay.go
  tests/overlay.bats
Labels: approved, lgtm

#3058 Cherry-pick: Set upperdir permissions based on source
  buildah.go
  contrib/rpm/buildah.spec
  pkg/overlay/overlay.go
  tests/overlay.bats
Labels: approved, lgtm

#3049 Check local image to match system context
  new.go
  tests/bud.bats
  tests/pull.bats
Labels: approved, lgtm

#3060 copier: add GetOptions.IgnoreUnreadable
  copier/copier.go
  copier/copier_linux_test.go
  copier/copier_test.go
Labels: approved, kind/feature, lgtm

#3062 Make PolicyMap and PullPolicy names align
  define/pull.go
  define/pull_test.go
  define/types.go
Labels: approved, lgtm

#2756 imagebuildah: use overlay for volumes when using overlay
  .cirrus.yml
  imagebuildah/stage_executor.go
  tests/conformance/conformance_test.go
  tests/e2e/buildah_suite_test.go
  tests/overlay.bats
Labels: approved, kind/feature, lgtm

#3064 Backport 34ae47a22629 the real one
  buildah.go
  contrib/rpm/buildah.spec
  copier/copier.go
  copier/copier_linux_test.go
  copier/copier_test.go
Labels: approved, lgtm

#3065 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#3043 Clarify userns options are usable only as root in man pages
  docs/buildah-bud.md
  docs/buildah-from.md
  docs/buildah.md
Labels: approved, lgtm

#3072 [v1.19] vendor containers/image@v5.10.5
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_others.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_unix.go
  vendor/modules.txt
Labels: approved, lgtm

#3066 Remove duplicated code in addcopy
  cmd/buildah/addcopy.go
Labels: approved, kind/cleanup, lgtm

#3059 Update multi-arch buildah build setup with new logic
  .github/workflows/multi-arch-build.yaml
Labels: approved, kind/other, lgtm

#3047 Add some system tests
  tests/add.bats
  tests/containers.bats
  tests/copy.bats
  tests/from.bats
  tests/run.bats
Labels: approved, kind/other, lgtm

#3075 copier: ignore sockets
  copier/copier.go
  image.go
  tests/copy.bats
Labels: approved, kind/bug, lgtm

#3076 Add Tag format placeholder to docs
  docs/buildah-images.md
Labels: approved, kind/documentation, lgtm

#3081 Lookup Containerfile if user specifies a directory
  imagebuildah/build.go
  tests/bud.bats
Labels: approved, lgtm

#3077 Add documentation and testing for .containerignore
  docs/buildah-add.md
  docs/buildah-bud.md
  docs/buildah-copy.md
  tests/bud.bats
  tests/bud/containerignore/.containerignore
  tests/bud/containerignore/.dockerignore
  tests/bud/containerignore/Dockerfile
  tests/bud/containerignore/Dockerfile.succeed
  tests/bud/containerignore/subdir/sub1.txt
  tests/bud/containerignore/subdir/sub2.txt
  tests/bud/containerignore/test1.txt
  tests/bud/containerignore/test2.txt
Labels: approved, lgtm

#3097 Use faster way to check image tag existence during multi-arch build
  .github/workflows/multi-arch-build.yaml
Labels: approved, kind/other, lgtm

#3099 tests: prefetch: use buildah, not podman, for pulls
  tests/from.bats
  tests/helpers.bash
  tests/registries.conf
Labels: approved, lgtm

#3095 COPY --chown: expand the conformance test
  add.go
  pkg/chrootuser/user_linux.go
  run_linux.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/copychown/Dockerfile
  tests/conformance/testdata/copychown/script
  tests/conformance/testdata/copychown/script2
Labels: approved, kind/bug, lgtm

#3094 [CI:DOCS] Fix rootful typo in docs
  docs/buildah-bud.md
  docs/buildah-from.md
  docs/buildah.md
Labels: approved, lgtm

#3050 [ci:docs] Add information about multi-arch images to the Readme
  contrib/buildahimage/README.md
Labels: approved, kind/documentation, lgtm

#3102 vendor in containers/storage v1.28.1
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/ulikunitz/xz/LICENSE
  vendor/github.com/ulikunitz/xz/TODO.md
  vendor/github.com/ulikunitz/xz/bits.go
  vendor/github.com/ulikunitz/xz/crc.go
  vendor/github.com/ulikunitz/xz/format.go
  vendor/github.com/ulikunitz/xz/internal/hash/cyclic_poly.go
  vendor/github.com/ulikunitz/xz/internal/hash/doc.go
  vendor/github.com/ulikunitz/xz/internal/hash/rabin_karp.go
  vendor/github.com/ulikunitz/xz/internal/hash/roller.go
  vendor/github.com/ulikunitz/xz/internal/xlog/xlog.go
  vendor/github.com/ulikunitz/xz/lzma/bintree.go
  vendor/github.com/ulikunitz/xz/lzma/bitops.go
  vendor/github.com/ulikunitz/xz/lzma/breader.go
  vendor/github.com/ulikunitz/xz/lzma/buffer.go
  vendor/github.com/ulikunitz/xz/lzma/bytewriter.go
  vendor/github.com/ulikunitz/xz/lzma/decoder.go
  vendor/github.com/ulikunitz/xz/lzma/decoderdict.go
  vendor/github.com/ulikunitz/xz/lzma/directcodec.go
  vendor/github.com/ulikunitz/xz/lzma/distcodec.go
  vendor/github.com/ulikunitz/xz/lzma/encoder.go
  vendor/github.com/ulikunitz/xz/lzma/encoderdict.go
  vendor/github.com/ulikunitz/xz/lzma/hashtable.go
  vendor/github.com/ulikunitz/xz/lzma/header.go
  vendor/github.com/ulikunitz/xz/lzma/header2.go
  vendor/github.com/ulikunitz/xz/lzma/lengthcodec.go
  vendor/github.com/ulikunitz/xz/lzma/literalcodec.go
  vendor/github.com/ulikunitz/xz/lzma/matchalgorithm.go
  vendor/github.com/ulikunitz/xz/lzma/operation.go
  vendor/github.com/ulikunitz/xz/lzma/prob.go
  vendor/github.com/ulikunitz/xz/lzma/properties.go
  vendor/github.com/ulikunitz/xz/lzma/rangecodec.go
  vendor/github.com/ulikunitz/xz/lzma/reader.go
  vendor/github.com/ulikunitz/xz/lzma/reader2.go
  vendor/github.com/ulikunitz/xz/lzma/state.go
  vendor/github.com/ulikunitz/xz/lzma/treecodecs.go
  vendor/github.com/ulikunitz/xz/lzma/writer.go
  vendor/github.com/ulikunitz/xz/lzma/writer2.go
  vendor/github.com/ulikunitz/xz/lzmafilter.go
  vendor/github.com/ulikunitz/xz/none-check.go
  vendor/github.com/ulikunitz/xz/reader.go
  vendor/github.com/ulikunitz/xz/writer.go
  vendor/modules.txt
Labels: approved, lgtm

#3103 Bump 1.20.0
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  release.sh
Labels: approved, lgtm

#3105 [NO TESTS NEEDED] Use --recurse-modules when building git context
  define/types.go
Labels: approved, lgtm

#3106 Add a few system tests
  tests/config.bats
  tests/containers.bats
Labels: approved, kind/other, lgtm

#3110 Fix URL in demos/buildah_multi_stage.sh
  demos/buildah_multi_stage.sh
Labels: approved, kind/other, lgtm

#2962 blobcache: fix sequencing error
  pkg/blobcache/blobcache.go
Labels: approved, kind/bug, lgtm

#3116 Export parse.Platform string to be used by podman-remote
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: approved, lgtm
