Repository containers/buildah, pull requests merged in 2021-08, with the labels that each got.

#3416 c/image, c/storage, c/common vendor before Podman 3.3 release
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/auth/cli.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/pull_policy.go
  vendor/github.com/containers/common/pkg/seccomp/types.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/directory/directory_dest.go
  vendor/github.com/containers/image/v5/directory/directory_transport.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/internal/blobinfocache/blobinfocache.go
  vendor/github.com/containers/image/v5/manifest/common.go
  vendor/github.com/containers/image/v5/manifest/docker_schema2.go
  vendor/github.com/containers/image/v5/manifest/oci.go
  vendor/github.com/containers/image/v5/oci/layout/oci_src.go
  vendor/github.com/containers/image/v5/openshift/openshift.go
  vendor/github.com/containers/image/v5/pkg/compression/compression.go
  vendor/github.com/containers/image/v5/pkg/compression/internal/types.go
  vendor/github.com/containers/image/v5/pkg/compression/types/types.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/containers/image/v5/types/types.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/quota/projectquota.go
  vendor/modules.txt
Labels: approved, lgtm

#3412 Accept repositories on login/logout
  cmd/buildah/login.go
  cmd/buildah/logout.go
Labels: approved, kind/feature, lgtm

#3417 Bump 1.22.0
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3418 [CI:DOCS] Fix CHANGELOG.md
  CHANGELOG.md
Labels: approved, lgtm

#3419 [CI:DOCS][release-1.22] Fix CHANGELOG.md
  CHANGELOG.md
Labels: approved, lgtm

#3421 [release-1.22] Accept repositories on login/logout
  cmd/buildah/login.go
  cmd/buildah/logout.go
Labels: approved, lgtm

#3423 set base-image annotations
  config.go
  go.mod
  go.sum
  new.go
  tests/bud.bats
  tests/config.bats
  tests/from.bats
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/modules.txt
Labels: approved, lgtm

#3402 bud: teach --platform to take a list
  buildah.go
  cmd/buildah/bud.go
  cmd/buildah/from.go
  cmd/buildah/pull.go
  cmd/buildah/unshare.go
  cmd/buildah/version.go
  commit.go
  config.go
  contrib/completions/bash/buildah
  define/build.go
  docs/buildah-bud.md
  docs/buildah-from.md
  docs/buildah-pull.md
  docs/buildah-unshare.md
  go.mod
  go.sum
  hack/tree_status.sh
  imagebuildah/executor.go
  import.go
  new.go
  pkg/cli/common.go
  pkg/cli/common_test.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/bud/multiarch/Dockerfile
  tests/from.bats
  tests/pull.bats
Labels: approved, kind/feature, lgtm

#3431 run: fix nil deref using the option's logger
  run_linux.go
Labels: approved, lgtm

#3424 Fix resolv.conf content with run --net=private
  run_linux.go
  tests/helpers.bash
  tests/run.bats
Labels: kind/bug, approved, lgtm

#3440 Run codespell to fix spelling
  Makefile
  pkg/sshagent/sshagent.go
Labels: approved, lgtm

#3434 Adds overlay.GenerateStructure in-order generate a permanent overlayfs dir structure.
  pkg/overlay/overlay.go
Labels: approved, lgtm

#3437 imagebuildah: move multiple-platform building internal
  Makefile
  cmd/buildah/bud.go
  commit.go
  define/build.go
  docs/buildah-bud.md
  imagebuildah/build.go
  imagebuildah/executor.go
Labels: approved, lgtm, kind/cleanup, kind/api-change

#3446 [release-1.21] post-branch commit
  .cirrus.yml
  tests/validate/git-validation.sh
Labels: approved, lgtm, do-not-merge/hold

#3447 [release-1.22] post-branch commit
  .cirrus.yml
  tests/validate/git-validation.sh
Labels: approved

#3444 Bump go for vendor-in-container from 1.13 to 1.16
  .cirrus.yml
  Makefile
Labels: approved, lgtm

#3445 tests/serve/serve.go: use a kernel-assigned port
  imagebuildah/executor.go
  tests/helpers.bash
  tests/serve/serve.go
Labels: approved, lgtm, kind/flake

#3460 [release-1.22] Bump to v1.22.1
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3456 imagebuildah: handle --manifest directly
  cmd/buildah/bud.go
  cmd/buildah/commit.go
  cmd/buildah/mount.go
  cmd/buildah/umount.go
  docs/buildah-bud.md
  docs/buildah-commit.md
  docs/buildah-source-add.md
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  pkg/overlay/overlay.go
  pkg/parse/parse_unix.go
  run_linux.go
  tests/bud.bats
  tests/bud/multiarch/Dockerfile.fail
Labels: approved, lgtm, kind/cleanup

#3441 Remove some references to Docker
  cmd/buildah/addcopy.go
  cmd/buildah/bud.go
  tests/bud.bats
  tests/bud/from-scratch/Containerfile
  tests/bud/from-scratch/Containerfile2
  tests/formats.bats
Labels: approved, lgtm

#3465 [release-1.22] bump c/image to v5.15.2
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3466 [release-1.22] Bump to v1.22.2
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3468 [release-1.22] Bump to v1.22.3
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3442 Move DiscoverContainerfile to define directory, so podman can use it
  Makefile
  cmd/buildah/bud.go
  pkg/util/test/test1/Containerfile
  pkg/util/test/test1/Dockerfile
  pkg/util/test/test2/Dockerfile
  pkg/util/util.go
  pkg/util/util_test.go
Labels: approved

#3476 Replace golang.org/x/crypto/ssh/terminal with golang.org/x/term
  chroot/run.go
  cmd/buildah/info.go
  cmd/buildah/inspect.go
  go.mod
  pkg/formats/formats.go
  pkg/parse/parse.go
  run_linux.go
  tests/testreport/testreport.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#3485 conformance: tighten up exception specifications
  tests/conformance/README.md
  tests/conformance/conformance_test.go
  tests/conformance/testdata/Dockerfile.copyfrom_1
  tests/conformance/testdata/Dockerfile.copyfrom_10
  tests/conformance/testdata/Dockerfile.copyfrom_11
  tests/conformance/testdata/Dockerfile.copyfrom_12
  tests/conformance/testdata/Dockerfile.copyfrom_13
  tests/conformance/testdata/Dockerfile.copyfrom_2
  tests/conformance/testdata/Dockerfile.copyfrom_3
  tests/conformance/testdata/Dockerfile.copyfrom_3_1
  tests/conformance/testdata/Dockerfile.copyfrom_4
  tests/conformance/testdata/Dockerfile.copyfrom_5
  tests/conformance/testdata/Dockerfile.copyfrom_6
  tests/conformance/testdata/Dockerfile.copyfrom_7
  tests/conformance/testdata/Dockerfile.copyfrom_8
  tests/conformance/testdata/Dockerfile.copyfrom_9
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/dockerignore/allowlist/nothing-dot/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/nothing-slash/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/Dockerfile
Labels: kind/bug, approved, lgtm

#3483 tag: Support tagging manifest list instead of resolving to images
  cmd/buildah/tag.go
  go.mod
  go.sum
  tests/tag.bats
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3489 Install new manpages to correct sections
  docs/buildah-source-add.md
  docs/buildah-source-create.md
  docs/buildah-source-pull.md
  docs/buildah-source-push.md
  docs/buildah-source.md
Labels: approved, lgtm

#3486 copier.Get(): try to avoid descending into directories
  cmd/buildah/addcopy.go
  copier/copier.go
  copier/copier_test.go
  tests/add.bats
  tests/bud.bats
  tests/conformance/conformance_test.go
  tests/conformance/testdata/dockerignore/exceptions-skip/.dockerignore
  tests/conformance/testdata/dockerignore/exceptions-skip/Dockerfile
  tests/conformance/testdata/dockerignore/exceptions-skip/volume/data/oneline.txt
  tests/copy.bats
  tests/copy/copy.go
  tests/helpers.bash
Labels: approved, lgtm

#3488 corrected man page section; .conf file to mention its man page
  docs/samples/registries.conf
Labels: approved, lgtm
