Repository containers/buildah, pull requests merged in 2021-06, with the labels that each got.

#3265 imagebuildah: redo step logging
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/authenticate.bats
  tests/bud.bats
Labels: approved, kind/bug, lgtm

#3267 Add rusage-logfile flag to optionally send rusage to a file
  cmd/buildah/bud.go
  define/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  tests/bud.bats
Labels: approved, kind/feature, lgtm

#3274 Fix handling of auth.json file while in a user namespace
  cmd/buildah/main.go
Labels: approved, lgtm

#3277 Move to v1.22.0-dev
  define/types.go
Labels: approved

#3278 Fix handling of auth.json file while in a user namespace
  cmd/buildah/main.go
Labels: approved, lgtm

#3283 fix(docs): typo in install.md
  install.md
Labels: kind/documentation

#3282 Bump to v1.21.1
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved

#3280 Update nix pin with `make nixpkgs`
  nix/default-arm64.nix
  nix/default.nix
  nix/nixpkgs.json
  nix/nixpkgs.nix
Labels: approved, lgtm

#3293 [CI:DOCS] Fix docs links due to branch rename
  CODE-OF-CONDUCT.md
  SECURITY.md
Labels: approved, lgtm

#3296 Fix copy into workdir for a single file
  add.go
  tests/bud.bats
  tests/bud/copy-workdir/Dockerfile.2
Labels: approved, kind/bug, lgtm

#3300 [CI:DOCS] Fix links to c/image master branch
  install.md
Labels: approved, kind/documentation, lgtm

#3286 imagebuildah: use the specified logger for logging preprocessing warnings
  imagebuildah/build.go
Labels: approved, kind/bug, lgtm

#3298 tests: make it easer to override the location of the copy helper
  tests/helpers.bash
Labels: approved, kind/other, lgtm

#3306 man pages: clarify `rmi` removes dangling parents
  docs/buildah-rmi.md
Labels: approved, kind/documentation, lgtm

#3311 Fix documentation of the --format option of buildah push
  cmd/buildah/push.go
  docs/buildah-push.md
  push.go
Labels: approved, kind/documentation, lgtm

#3316 Remove unused util.StartsWithValidTransport
  util/util.go
Labels: approved, lgtm

#3312 Don't use alltransports.ParseImageName with known transports
  pkg/blobcache/blobcache_test.go
  tests/e2e/buildah_suite_test.go
Labels: approved, lgtm

#3317 buildah copy and buildah add should support .containerignore
  cmd/buildah/addcopy.go
  tests/copy.bats
Labels: approved, lgtm

#3319 [ci:docs] buildah add/copy: spelling
  docs/buildah-add.md
  docs/buildah-copy.md
Labels: approved, kind/cleanup, lgtm

#3320 copier.Put(): set xattrs after ownership
  copier/copier.go
  tests/copy.bats
Labels: approved, kind/bug, lgtm

#3323 Add --json flags to `mount` and `version` commands
  cmd/buildah/mount.go
  cmd/buildah/version.go
  docs/buildah-mount.md
  docs/buildah-version.md
Labels: approved, kind/feature, lgtm

#3334 buildah bud: spelling --ignore-file requires parameter
  docs/buildah-bud.md
Labels: approved, lgtm

#3333 [CI:DOCS] push/pull: clarify supported transports
  docs/buildah-pull.md
  docs/buildah-push.md
Labels: approved, lgtm

#3330 Add `--env` and `--workingdir` flags to run command
  cmd/buildah/run.go
  docs/buildah-run.md
  tests/run.bats
Labels: approved, kind/feature, lgtm

#3336 Cirrus: Updates for master->main rename
  .cirrus.yml
Labels: approved, lgtm

#3335 Change references from master to main
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  contrib/buildahimage/README.md
  contrib/buildahimage/centos7/Dockerfile
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Dockerfile
  demos/README.md
  developmentplan.md
  docs/buildah-add.md
  docs/buildah-bud.md
  docs/release-announcements/v0.12.md
  docs/release-announcements/v0.16.md
  docs/release-announcements/v1.1.md
  docs/release-announcements/v1.2.md
  docs/release-announcements/v1.3.md
  docs/tutorials/01-intro.md
  docs/tutorials/02-registries-repositories.md
  docs/tutorials/04-include-in-your-build-tool.md
  docs/tutorials/05-openshift-rootless-bud.md
  install.md
  tests/add.bats
  tests/bud.bats
  tests/bud/cache-chown/Dockerfile.url1
  tests/bud/cache-chown/Dockerfile.url2
  tests/bud/use-layers/Dockerfile
  tests/conformance/README.md
  troubleshooting.md
Labels: approved, lgtm

#3329 Add support for default network creation
  run_linux.go
  vendor/github.com/containers/common/pkg/defaultnet/default_network.go
  vendor/modules.txt
Labels: approved, kind/other, lgtm

#3338 Turn stdio back to blocking when command finishes
  run_linux.go
Labels: approved, lgtm

#3346 vendor common@v0.38.12 and storage@v1.31.3
  go.mod
  go.sum
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/privilege.go
  vendor/github.com/containers/common/libimage/download.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive_linux.go
  vendor/github.com/containers/storage/pkg/archive/changes.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/LICENSE
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/vendor.conf
  vendor/github.com/cyphar/filepath-securejoin/vfs.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/modules.txt
Labels: approved, lgtm

#3347 Switch rusagelogfile to use options.Out
  imagebuildah/executor.go
Labels: approved, lgtm

#3350 [release-1.21] Bump to Buildah v1.21.2
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3292 Cirrus: Install docker from package cache
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup.sh
  contrib/cirrus/test.sh
  tests/bud.bats
Labels: approved, lgtm
