Repository containers/buildah, pull requests merged in 2021-02, with the labels that each got.

#2948 [ci:docs] Fix man page for buildah push
  docs/buildah-push.md
Labels: approved, lgtm

#2950 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#2967 Fix build arg check
  imagebuildah/stage_executor.go
Labels: lgtm, todo-backport-to-1.19

#2969 Fix build arg check
  imagebuildah/stage_executor.go
Labels: approved, lgtm

#2968 Stop testing directory permissions with latest docker
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#2955 buildah manifest add localimage should work
  cmd/buildah/manifest.go
  commit.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/lists.bats
Labels: approved, lgtm

#2957 [1.19] buildah manifest add localimage should work
  cmd/buildah/manifest.go
  commit.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/lists.bats
Labels: approved, lgtm

#2974 bump containernetworking/cni library to v0.8.1 - fix for CVE-2021-20206
  go.mod
  go.sum
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/pkg/invoke/args.go
  vendor/github.com/containernetworking/cni/pkg/invoke/find.go
  vendor/github.com/containernetworking/cni/pkg/invoke/raw_exec.go
  vendor/github.com/containernetworking/cni/pkg/types/020/types.go
  vendor/github.com/containernetworking/cni/pkg/types/current/types.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/utils/utils.go
  vendor/modules.txt
Labels: approved, kind/other, lgtm

#2972 bump containernetworking/cni library to v0.8.1 fix for CVE-2021-20206
  go.mod
  go.sum
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/pkg/invoke/args.go
  vendor/github.com/containernetworking/cni/pkg/invoke/find.go
  vendor/github.com/containernetworking/cni/pkg/invoke/raw_exec.go
  vendor/github.com/containernetworking/cni/pkg/types/020/types.go
  vendor/github.com/containernetworking/cni/pkg/types/current/types.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/utils/utils.go
  vendor/modules.txt
Labels: approved, kind/other, lgtm

#2973 run: fix check for host pid namespace
  run_linux.go
Labels: approved, lgtm

#2975 Cherry-pick `run: fix check for host pid namespace`
  run_linux.go
Labels: approved, lgtm

#2984 --iidfile: print hash prefix
  commit.go
  imagebuildah/executor.go
  tests/basic.bats
  tests/bud.bats
Labels: approved, lgtm

#2987 [1.19] --iidfile: print hash prefix
  commit.go
  imagebuildah/executor.go
  tests/basic.bats
  tests/bud.bats
Labels: approved, lgtm

#2976 Bump to v1.19.4
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#2985 'make validate': require PRs to include tests
  Makefile
  tests/validate/pr-should-include-tests
  tests/validate/pr-should-include-tests.t
Labels: approved, lgtm

#2931 Reuse chown function from containers/common when U volume flag is used
  go.mod
  go.sum
  run_linux.go
  vendor/github.com/containers/common/pkg/cgroupv2/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroupv2/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/chown/chown.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, kind/feature, lgtm

#2990 Vendor in containers/image v5.10.2
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#2991 Bump to v1.19.5
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#2993 Fix caching layers with build args
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/use-layers/Dockerfile.build-args
Labels: approved, lgtm, todo-backport-to-1.19

#2994 [ci:docs] Fix tutorial for rootless mode
  docs/tutorials/01-intro.md
Labels: approved, lgtm

#2998 Fix caching layers with build args
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/use-layers/Dockerfile.build-args
Labels: approved, lgtm

#2999 Stop overriding the location of the blob info cache
  common.go
Labels: approved, lgtm

#3002 Revert patch to allow copying of empty dirs.
  add.go
  tests/bud.bats
Labels: approved, lgtm

#3001 Improve messages about --cache-from not being supported
  cmd/buildah/bud.go
  docs/buildah-bud.md
Labels: approved, lgtm

#2997 Add more support for removing config
  cmd/buildah/config.go
  docs/buildah-config.md
  tests/config.bats
Labels: approved, lgtm

#3014 Bz1914884 backport
  tests/authenticate.bats
  tests/bud.bats
  tests/config.bats
Labels: approved, kind/failing-test, lgtm

#2978 Don't fail copy to emptydir
  add.go
  tests/bud.bats
Labels: approved, kind/bug, lgtm

#2977 Eliminate the use of containers/building import in pkg subdirs
  add.go
  buildah.go
  cmd/buildah/commit.go
  cmd/buildah/common_test.go
  cmd/buildah/containers.go
  cmd/buildah/from.go
  cmd/buildah/info.go
  cmd/buildah/main.go
  cmd/buildah/version.go
  common.go
  define/build.go
  define/isolation.go
  define/namespace.go
  define/pull.go
  define/types.go
  define/types_unix.go
  define/types_unsupported.go
  docs/tutorials/04-include-in-your-build-tool.md
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  import.go
  new.go
  pkg/cli/common.go
  pkg/parse/parse.go
  pkg/parse/parse_unix.go
  pkg/parse/parse_unsupported.go
  pull.go
  run.go
  run_linux.go
  run_unsupported.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#3000 buildah: use volatile containers
  go.mod
  go.sum
  new.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm

#2996 Add base image name to comment
  image.go
  tests/bud.bats
Labels: approved, kind/bug, lgtm

#3003 add stale bot
  .github/workflows/stale.yml
Labels: approved, lgtm

#3016 Don't fail copy to emptydir - v1.19
  add.go
  tests/bud.bats
Labels: approved, lgtm

#3018 Bump containers/storage v1.24.6
  go.mod
  go.sum
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/modules.txt
Labels: approved, lgtm

#3022 Bulidah v1.19.6
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, kind/other

#3031 pr-should-include-tests: recognized "renamed" tests
  tests/validate/pr-should-include-tests
Labels: approved, lgtm

#3032 Cirrus: Temp. disable prior-fedora (F32) testing
  .cirrus.yml
Labels: approved, lgtm

#3034 [CI:DOCS] buildah-from.md: remove dup arch,os
  docs/buildah-from.md
Labels: approved, lgtm

#3033 Isolation strings, should match user input
  define/isolation.go
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: approved, lgtm

#3038 OWNERS: add @lsm5
  OWNERS
Labels: approved, lgtm

#3025 Fix reaping of stages with no instructions
  imagebuildah/executor.go
  tests/bud.bats
Labels: approved, kind/bug, lgtm

#3036 Make sure we set the buildah version label
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#3004 Chmod flag for add and copy
  add.go
  cmd/buildah/addcopy.go
  contrib/completions/bash/buildah
  docs/buildah-add.md
  docs/buildah-copy.md
  go.mod
  go.sum
  imagebuildah/stage_executor.go
  tests/add.bats
  tests/bud.bats
  tests/bud/add-chmod/Dockerfile
  tests/bud/add-chmod/Dockerfile.bad
  tests/bud/add-chmod/Dockerfile.combined
  tests/bud/add-chmod/addchmod.txt
  tests/bud/copy-chmod/Dockerfile
  tests/bud/copy-chmod/Dockerfile.bad
  tests/bud/copy-chmod/Dockerfile.combined
  tests/bud/copy-chmod/copychmod.txt
  tests/copy.bats
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: approved, kind/feature, lgtm

#3006 Add multi-arch image build
  .github/workflows/multi-arch-build.yaml
Labels: approved, kind/other, lgtm

#3039 buildah login and logout, do not need to enter user namespace
  cmd/buildah/main.go
Labels: approved, lgtm

#3042 complement add/copy --chmod documentation
  docs/buildah-add.md
  docs/buildah-copy.md
Labels: approved, kind/documentation, lgtm
