Repository containers/buildah, pull requests merged in 2021-07, with the labels that each got.

#3355 Ci release 1.16
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#3353 Ci release 1.19
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#3351 Ci release 1.18
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#3354 Ci release 1.17
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#3356 Adjust conformance-test error-message regex
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, kind/failing-test, lgtm

#3367 Fix syntax for --manifest example in the documentaion
  docs/buildah-bud.md
Labels: approved, kind/documentation, lgtm

#3362 Fix excludes exception begining with / or ./
  go.mod
  go.sum
  vendor/github.com/Microsoft/hcsshim/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/fileutils/fileutils.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/containers/storage/types/storage_broken.conf
  vendor/github.com/containers/storage/types/utils.go
  vendor/modules.txt
Labels: approved, lgtm

#3374 Cirrus: Freshen VM images
  .cirrus.yml
Labels: approved, kind/other, lgtm

#3379 Update nix pin with `make nixpkgs`
  nix/default-arm64.nix
  nix/default.nix
  nix/nixpkgs.json
Labels: approved, lgtm

#3373 Reuse code from containers/common/pkg/parse
  pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/parse/parse_unix.go
  vendor/modules.txt
Labels: approved, lgtm

#3101 buildah source - create and manage source images
  cmd/buildah/source.go
  docs/buildah-source-add.md
  docs/buildah-source-create.md
  docs/buildah-source-pull.md
  docs/buildah-source-push.md
  docs/buildah-source.md
  docs/buildah.md
  internal/source/add.go
  internal/source/create.go
  internal/source/pull.go
  internal/source/push.go
  internal/source/source.go
  pkg/parse/parse.go
  tests/source.bats
Labels: approved, lgtm

#3385 [CI:DOCS] Multi-arch image workflow: Make steps generic
  .github/workflows/multi-arch-build.yaml
Labels: approved, kind/other, lgtm

#3387 [1.21] vendor containers/common@v0.38.16
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/nosystemd.go
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3391 [CI:DOCS] Just restore protections of shadow-utils
  contrib/buildahimage/centos7/Dockerfile
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Dockerfile
Labels: approved, lgtm

#3383 Chown with environment variables not set should fail
  add.go
  tests/bud.bats
  tests/bud/copy-chown/Dockerfile.bad2
Labels: approved, lgtm

#3361 Remove specific kernel version number requirement from install.md
  install.md
Labels: approved, kind/documentation, lgtm

#3359 [CI:DOCS] Update cirrus-cron notification GH workflow
  .github/workflows/check_cirrus_cron.yml
Labels: approved, kind/other, lgtm

#3393 imagebuildah.stageExecutor.prepare(): remove pseudonym check
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  imagebuildah/util.go
  tests/bud.bats
Labels: approved, kind/bug, lgtm

#3394 [release-1.21] add and use a "copy" helper instead of podman load/save
  .cirrus.yml
  Makefile
  cmd/buildah/main.go
  docs/buildah.md
  pkg/parse/parse.go
  tests/bud.bats
  tests/containers.conf
  tests/copy/copy.go
  tests/from.bats
  tests/helpers.bash
  tests/registries.conf
  tests/run.bats
Labels: approved, kind/failing-test, lgtm

#3390 refine dangling filter
  go.mod
  go.sum
  tests/rmi.bats
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/image_tree.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3395 Add a few tests on cgroups V2
  tests/bud.bats
  tests/from.bats
Labels: approved, kind/other, lgtm

#3398 Allow dst and destination for target in secret mounts
  run_linux.go
  tests/bud/run-mounts/Dockerfile.secret-options
Labels: approved, lgtm

#3397 [release-1.21] bump to v1.21.4
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, kind/other, lgtm

#3404 runtime-flag (debug) test: handle old & new runc
  tests/bud.bats
Labels: approved, lgtm

#3381 [CI:DOCS] Multi-arch: Always push updated version-tagged image
  .github/workflows/multi-arch-build.yaml
Labels: approved, kind/other, lgtm

#3399 Fix handling of --restore shadow-utils
  .cirrus.yml
  Makefile
  contrib/buildahimage/centos7/Dockerfile
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Dockerfile
  tests/validate/buildahimages-are-sane
Labels: approved, lgtm

#3407 [1.21] runtime-flag (debug) test: handle old & new runc
  tests/bud.bats
Labels: approved, lgtm

#3228 tests: new assert()
  tests/bud.bats
  tests/config.bats
  tests/helpers.bash
  tests/helpers.bash.t
  tests/namespaces.bats
  tests/pull.bats
  tests/selinux.bats
Labels: approved, lgtm
