Repository containers/buildah, pull requests merged in 2021-05, with the labels that each got.

#3192 fix run uid flake
  tests/run.bats
Labels: approved, lgtm

#3193 [CI:DOCS] Document location of auth.json file if XDG_RUNTIME_DIR is not set
  docs/buildah-bud.md
  docs/buildah-commit.md
  docs/buildah-from.md
  docs/buildah-login.md
  docs/buildah-logout.md
  docs/buildah-manifest-add.md
  docs/buildah-pull.md
  docs/buildah-push.md
Labels: approved, lgtm

#3194 update to latest libimage
  cmd/buildah/images.go
  cmd/buildah/manifest.go
  cmd/buildah/rmi.go
  go.mod
  go.sum
  imagebuildah/executor.go
  new.go
  pull.go
  tests/from.bats
  tests/pull.bats
  tests/rmi.bats
  util/util.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/history.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/image_tree.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/inspect.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/oci.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/libimage/types/pull_policy.go
  vendor/github.com/containers/common/libimage/types/types.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/pull_policy.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/disiqueira/gotree/v3/.gitignore
  vendor/github.com/disiqueira/gotree/v3/.travis.yml
  vendor/github.com/disiqueira/gotree/v3/LICENSE
  vendor/github.com/disiqueira/gotree/v3/README.md
  vendor/github.com/disiqueira/gotree/v3/_config.yml
  vendor/github.com/disiqueira/gotree/v3/go.mod
  vendor/github.com/disiqueira/gotree/v3/gotree-logo.png
  vendor/github.com/disiqueira/gotree/v3/gotree.go
  vendor/github.com/jinzhu/copier/License
  vendor/github.com/jinzhu/copier/README.md
  vendor/github.com/jinzhu/copier/copier.go
  vendor/github.com/jinzhu/copier/errors.go
  vendor/github.com/jinzhu/copier/go.mod
  vendor/modules.txt
Labels: approved, lgtm

#3201 imagebuildah: ignore signatures when tagging images
  imagebuildah/stage_executor.go
  tests/helpers.bash
Labels: approved, kind/bug, lgtm

#3200 Multi-arch github-action workflow unification
  .github/workflows/multi-arch-build.yaml
  contrib/buildahimage/README.md
  tests/validate/pr-should-include-tests
Labels: approved, lgtm

#3205 codespell cleanup
  contrib/cirrus/test.sh
  push.go
Labels: approved, lgtm

#3207 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#3211 Preserve ownership of lower directory when doing an overlay mount
  pkg/overlay/overlay.go
  tests/overlay.bats
Labels: approved, lgtm

#3212 Fix race condition
  run_linux.go
Labels: approved, lgtm

#3222 buildah bud: fix containers/podman/issues/10307
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#3209 [CI:DOCS] Notification email for cirrus-cron build failures
  .cirrus.yml
  .github/workflows/check_cirrus_cron.yml
Labels: approved, lgtm

#3213 Fix copy race while walking paths
  copier/copier.go
  tests/copy.bats
Labels: approved, lgtm

#3226 [CI:DOCS] github: Fix bad repo. ref in workflow config
  .github/workflows/check_cirrus_cron.yml
Labels: approved, kind/other, lgtm

#3221 Check earlier for bad image tags name
  commit.go
  imagebuildah/build.go
  tests/bud.bats
  util/util.go
Labels: approved, lgtm

#3215 Send logrus messages back to caller when building
  buildah.go
  config.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  import.go
  run.go
  run_linux.go
Labels: approved, lgtm

#3234 update vendor of containers/storage v1.31.1
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm

#3235 Fix handling of --default-mounts-file
  cmd/buildah/bud.go
  tests/subscriptions.bats
Labels: approved, lgtm

#3237 Remove 'buildah run --security-opt' from completion
  contrib/completions/bash/buildah
Labels: approved, kind/cleanup, lgtm

#3242 Vendor in containers/common v0.38.4
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3241 Don't blow up if cpp detects errors
  docs/buildah-bud.md
  imagebuildah/build.go
  tests/bud.bats
  tests/bud/containerfile/Containerfile
  tests/bud/containerfile/Containerfile.in
Labels: approved, lgtm

#3244 Bump 1.21.0 [NO TESTS NEEDED]
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3250 containerImageRef.createConfigsAndManifests(): squashed images have no parent images
  image.go
  tests/squash.bats
Labels: approved, kind/bug, lgtm

#3249 Sync. workflow across skopeo, buildah, and podman
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#3255 containerImageRef/containerImageSource: don't buffer uncompressed layers
  commit.go
  image.go
  tests/from.bats
Labels: approved, kind/bug, lgtm

#3220 Add and use a "copy" helper instead of podman load/save
  .cirrus.yml
  Makefile
  cmd/buildah/main.go
  docs/buildah.md
  pkg/parse/parse.go
  tests/bud.bats
  tests/containers.conf
  tests/copy/copy.go
  tests/from.bats
  tests/helpers.bash
  tests/registries.conf
  tests/run.bats
Labels: approved, kind/failing-test, lgtm

#3263 Add volumes to make running buildah within a container easier
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Dockerfile
Labels: approved, lgtm
