Repository containers/buildah, pull requests merged in 2021-09, with the labels that each got.

#3487 Avoid rehashing and noop compression writer
  image.go
Labels: approved, lgtm, kind/other

#3492 manifest: Make sure manifest `rm` only removes manifests not referenced images.
  cmd/buildah/manifest.go
  go.mod
  go.sum
  tests/rm.bats
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: approved, lgtm

#3352 Ci release 1.21
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/other

#3499 Fix build with .git url with branch
  define/types.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#3498 build: mirror --authfile to filesystem if pointing to FD instead of file
  cmd/buildah/build.go
  pkg/util/util.go
  tests/bud.bats
  tests/bud/from-invalid-registry/Containerfile
Labels: approved, lgtm

#3493 [CI:DOCS] Clarify rmi w/ manifest/index use
  docs/buildah-rmi.md
Labels: kind/documentation, approved, lgtm

#3506 Cirrus: Increase unit-test timeout
  .cirrus.yml
Labels: approved, lgtm, kind/flake

#3504 Add support for rootless overlay mounts
  pkg/overlay/overlay.go
Labels: approved, lgtm

#3508 Makefile: update cross targets
  .cirrus.yml
  Makefile
Labels: approved, lgtm, kind/other

#3507 Update 05-openshift-rootless-build.md
  docs/tutorials/05-openshift-rootless-build.md
Labels: kind/documentation, approved, lgtm

#3515 Vendor in containers/common v0.44.0
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/config_linux.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_unsupported.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3516 Bump 1.23.0
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  release.sh
Labels: approved, lgtm

#3519 Update VM Images + Drop prior-ubuntu testing
  .cirrus.yml
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/flake

#3521 conformance: add more tests for exclusion short-circuiting
  tests/conformance/conformance_test.go
  tests/conformance/testdata/dockerignore/exceptions-weirdness-1/.dockerignore
  tests/conformance/testdata/dockerignore/exceptions-weirdness-1/Dockerfile
  tests/conformance/testdata/dockerignore/exceptions-weirdness-1/subdir/sub1.txt
  tests/conformance/testdata/dockerignore/exceptions-weirdness-1/subdir/sub2.txt
  tests/conformance/testdata/dockerignore/exceptions-weirdness-1/subdir/sub3.txt
  tests/conformance/testdata/dockerignore/exceptions-weirdness-2/.dockerignore
  tests/conformance/testdata/dockerignore/exceptions-weirdness-2/Dockerfile
  tests/conformance/testdata/dockerignore/exceptions-weirdness-2/subdir/sub1.txt
  tests/conformance/testdata/dockerignore/exceptions-weirdness-2/subdir/sub2.txt
  tests/conformance/testdata/dockerignore/exceptions-weirdness-2/subdir/sub3.txt
Labels: approved, lgtm, kind/other

#3518 Makefile: only use race detection when it's available
  Makefile
  run_linux.go
Labels: approved, lgtm, kind/other

#3522 [CI:DOCS] Add flouthoc to OWNERS
  OWNERS
Labels: approved, lgtm

#3517 build: Add additional step nodes when labels are modified
  imagebuildah/build.go
  tests/bud.bats
Labels: approved, lgtm

#3527 unmarshalConvertedConfig(): handle zstd compression
  config.go
  tests/copy/copy.go
  tests/from.bats
Labels: kind/bug, approved, lgtm

#3533 imagebuildah: fix an attempt to write to a nil map
  imagebuildah/build.go
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/multiarch/Dockerfile.fail-multistage
Labels: kind/bug, approved, lgtm

#3529 conformance: allow test cases to specify dockerUseBuildKit
  go.mod
  tests/conformance/conformance_test.go
  tests/conformance/testdata/Dockerfile.margs
Labels: approved, lgtm, kind/other

#3532 push: support to specify the compression format
  cmd/buildah/push.go
  docs/buildah-push.md
  push.go
  tests/push.bats
Labels: approved, lgtm

#3535 Makefile: check for `-race` using `-mod=vendor`
  Makefile
  pkg/dummy/dummy_test.go
Labels: approved, lgtm, kind/other

#3538 Makefile: adjust -ldflags/-gcflags/-gccgoflags depending on the go implementation
  Makefile
Labels: approved, lgtm

#3542 post-1.23 branch fixups
  .cirrus.yml
  tests/validate/git-validation.sh
Labels: approved, lgtm, kind/other

#3543 Vendor containers/common v0.44.2
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3545 Replace fmt.Sprintf("%d", x) with strconv.Itoa(x)
  chroot/run_test.go
  copier/copier_test.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  imagebuildah/stage_executor_test.go
  run_linux.go
  util/util_test.go
Labels: approved, lgtm, kind/cleanup

#3547 [v1.23] Bump 1.23.1
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3525 build: Cleanup transient mount destinations with every RUN step
  run_linux.go
  tests/bud.bats
  tests/bud/add-run-dir/Dockerfile
Labels: approved, lgtm

#3540 Plumb the remote logger throughut Buildah
  config.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#3546 buildah build: add --all-platforms
  cmd/buildah/build.go
  contrib/completions/bash/buildah
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/build.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/bud/multiarch/Dockerfile.no-run
Labels: kind/feature, approved, lgtm
