Repository containers/buildah, pull requests merged in 2022-11, with the labels that each got.

#4392 userns: add arbitrary steps/stage to `--userns=auto` test
  tests/bud.bats
Labels: approved, lgtm

#4393 remove unnecessary (hence misleading) rmi
  tests/bud.bats
Labels: approved, lgtm

#4388 chroot: fix mounting of ro bind mounts
  chroot/run_linux.go
Labels: approved, lgtm

#4397 Stop using ubi8
  tests/bud.bats
  tests/bud/multiarch/Dockerfile.fail-multistage
  tests/bud/multiarch/Dockerfile.no-run
Labels: approved, lgtm

#4366 executor: honor default `ARG` values while evaluating base image name.
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/multi-stage-builds/Dockerfile.arg_in_stage
Labels: approved, lgtm

#4401 imagebuildah: build with `--all-platforms` must honor `userargs` and `headingargs` while evaluating base images
  imagebuildah/build.go
  tests/bud.bats
  tests/bud/all-platform/Containerfile.default-arg
Labels: approved

#4405 [release-1.27] Update c/storage to include #1423
  go.mod
  go.sum
  vendor/github.com/containers/storage/drivers/overlay/idmapped_utils.go
  vendor/modules.txt
Labels: approved, lgtm

#4402 Add no-new-privileges flag
  define/build.go
  docs/buildah-build.1.md
  pkg/parse/parse.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#4400 Run codespell on code
  contrib/buildahimage/Containerfile
  contrib/buildahimage/README.md
Labels: approved, lgtm, kind/cleanup

#4406 Use TypeBind consistently to name bind/nullfs mounts
  define/mount_unsupported.go
  internal/parse/parse.go
  run_common.go
  run_freebsd.go
Labels: approved, lgtm, kind/cleanup

#4411 copier.Put(): clear up os/syscall mode bit confusion
  copier/copier.go
  tests/conformance/conformance_test.go
Labels: kind/bug, approved, lgtm

#4398 [CI:DOCS] GHA: Simplify Cirrus-Cron check slightly
  .github/workflows/check_cirrus_cron.yml
Labels: approved, lgtm

#4419 Fix installation instructions for Gentoo Linux
  install.md
Labels: kind/documentation, lgtm

#4421 `mount=type=cache`: seperate cache parent on host for each user
  internal/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#4428 [release-1.28] copier.Put(): clear up os/syscall mode bit confusion and bump to `v1.28.1`
  CHANGELOG.md
  changelog.txt
  copier/copier.go
  define/types.go
  tests/bud.bats
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#4432 [CI:BUILD] Cirrus: Migrate OSX task to M1
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4433 [release-1.28] Define and use a safe, reliable test image and bump to `v1.28.2`
  CHANGELOG.md
  changelog.txt
  define/types.go
  tests/bud.bats
  tests/bud/multiarch/Dockerfile.fail-multistage
  tests/bud/multiarch/Dockerfile.no-run
  tests/helpers.bash
Labels: approved, lgtm

#4440 version: Bump to 1.29.0-dev
  define/types.go
Labels: approved, lgtm, kind/cleanup
