Repository containers/buildah, pull requests merged in 2022-03, with the labels that each got.

#3795 use c/image/pkg/blobcache
  Makefile
  go.mod
  go.sum
  new.go
  pkg/blobcache/blobcache.go
  pkg/blobcache/blobcache_test.go
  pull.go
  push.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/copy/progress_reader.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/reference/regexp-additions.go
  vendor/github.com/containers/image/v5/internal/imagedestination/wrapper.go
  vendor/github.com/containers/image/v5/internal/imagesource/wrapper.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/key.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/keyring.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/perm.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/sys_linux.go
  vendor/github.com/containers/image/v5/internal/private/private.go
  vendor/github.com/containers/image/v5/internal/types/types.go
  vendor/github.com/containers/image/v5/oci/layout/oci_dest.go
  vendor/github.com/containers/image/v5/pkg/blobcache/blobcache.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_unsupported.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/libtrust/CODE-OF-CONDUCT.md
  vendor/github.com/containers/libtrust/SECURITY.md
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/fast_encoder.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_code.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/flate/inflate_gen.go
  vendor/github.com/klauspost/compress/flate/level1.go
  vendor/github.com/klauspost/compress/flate/level3.go
  vendor/github.com/klauspost/compress/flate/token.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/ostreedev/ostree-go/pkg/glibobject/gvariant.go
  vendor/github.com/sylabs/sif/v2/LICENSE.md
  vendor/github.com/xeipuuv/gojsonpointer/README.md
  vendor/golang.org/x/term/codereview.cfg
  vendor/golang.org/x/term/term.go
  vendor/modules.txt
Labels: approved, lgtm

#3805 [CI:DOCS] remove references to Kubic for CentOS and Ubuntu
  install.md
Labels: kind/documentation, approved, lgtm

#3810 tests/copy: initialize the network, too
  tests/copy/copy.go
Labels: approved, lgtm, kind/other

#3812 buildah: increase rootless test coverage with `rootless + unshare`
  tests/add.bats
  tests/basic.bats
  tests/bud.bats
  tests/copy.bats
  tests/helpers.bash
  tests/mount.bats
  tests/namespaces.bats
  tests/rmi.bats
  tests/run.bats
  tests/squash.bats
  tests/umount.bats
Labels: approved, lgtm

#3825 buildah image: install cpp
  contrib/buildahimage/centos7/Dockerfile
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Dockerfile
  imagebuildah/build.go
Labels: approved, lgtm

#3820 buildkit: `--mount-type=cache` must support `locking` external cache store.
  cmd/buildah/run.go
  internal/parse/parse.go
  pkg/parse/parse.go
  run.go
  run_linux.go
  tests/bud.bats
  tests/bud/buildkit-mount/Dockerfilecachewritesharing
Labels: approved, lgtm, buildkit

#3835 network setup: increase timeout to 4 minutes
  run_linux.go
Labels: approved, lgtm

#3841 Don't pollute
  tests/basic.bats
  tests/bud.bats
  tests/from.bats
  tests/lists.bats
  tests/sign.bats
Labels: approved, lgtm

#3847 [CI:DOCS] man pages: sort flags, and keep them that way
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-from.1.md
  docs/buildah-images.1.md
  docs/buildah-pull.1.md
  docs/buildah-push.1.md
  docs/buildah-rmi.1.md
  docs/buildah-run.1.md
  docs/buildah-source-create.1.md
  docs/buildah-umount.1.md
  docs/buildah-unshare.1.md
  docs/buildah.1.md
  hack/xref-helpmsgs-manpages
Labels: approved, lgtm

#3848 Bump github.com/prometheus/client_golang to v1.11.1
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/modules.txt
Labels: approved, lgtm

#3850 [v1.24 backport] bump to race-free `c/image` and `c/storage`
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/errors.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/utils.go
  vendor/modules.txt
Labels: approved, lgtm

#3855 Add a test for CVE-2022-27651
  tests/run.bats
Labels: approved, lgtm, kind/other

#3858 [release-1.16] CVE-2022-27651: do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved, lgtm

#3856 [release-1.22] CVE-2022-27651: do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved, lgtm

#3857 [release-1.22] CVE-2022-21698: bump github.com/prometheus/client_golang to v1.11.1
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/build_info_pre_1.12.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/expvar_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/delegator.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/http.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/value.go
  vendor/github.com/prometheus/client_golang/prometheus/vec.go
  vendor/github.com/prometheus/client_golang/prometheus/wrap.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/fnv.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/time.go
  vendor/modules.txt
Labels: approved, lgtm

#3852 [release-1.24] CVE-2022-27651: do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved, lgtm, do-not-merge/hold

#3859 Bump c/storage to v1.39.0 in main
  go.mod
  go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/go.mod
  vendor/github.com/containerd/stargz-snapshotter/estargz/go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/huff0/autogen.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/zip.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Labels: approved, lgtm

#3853 [release-1.23] CVE-2022-27651: do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved

#3851 [release-1.24] CVE-2022-21698: bump github.com/prometheus/client_golang to v1.11.1
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/build_info_pre_1.12.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/expvar_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/delegator.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/http.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/github.com/prometheus/client_golang/prometheus/registry.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/value.go
  vendor/github.com/prometheus/client_golang/prometheus/vec.go
  vendor/github.com/prometheus/client_golang/prometheus/wrap.go
  vendor/github.com/prometheus/common/expfmt/decode.go
  vendor/github.com/prometheus/common/expfmt/text_parse.go
  vendor/github.com/prometheus/common/model/fnv.go
  vendor/github.com/prometheus/common/model/labels.go
  vendor/github.com/prometheus/common/model/time.go
  vendor/modules.txt
Labels: approved, lgtm

#3860 [CI:DOCS] install: drop RHEL/CentOS 7 doc
  install.md
Labels: approved, lgtm

#3862 Bump 1.25.0
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3863 [release-1.11-rhel] CVE-2022-27651: do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved, lgtm

#3870 build: allow `--no-cache` and `--layers` so build cache can be overrided
  cmd/buildah/build.go
  tests/bud.bats
Labels: approved, lgtm

#3867 Switch most calls to filepath.Walk to filepath.WalkDir
  copier/copier.go
  copier/copier_test.go
Labels: approved, lgtm

#3871 Updated dependabot to get updates for GitHub actions.
  .github/dependabot.yml
Labels: approved, lgtm

#3840 buildah: create WORKDIR with USER permissions
  add.go
  copier/copier.go
  go.mod
  go.sum
  imagebuildah/stage_executor.go
  run_linux.go
  tests/bud.bats
  tests/bud/namespaces/Containerfile
  tests/bud/workdir-user/Dockerfile
  tests/conformance/conformance_test.go
  tests/namespaces.bats
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dockerclient/archive.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: approved, do-not-merge/hold

#3881 Bump 1.25.1
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#3837 run: set parent-death signals and forward SIGHUP/SIGINT/SIGTERM
  chroot/run.go
  run_linux.go
  tests/bud.bats
  tests/bud/long-sleep/Dockerfile
Labels: kind/bug, approved, lgtm

#3872 [CI:DOCS] Pin actions to a full length commit SHA
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/multi-arch-build.yaml
  .github/workflows/pr.yml
Labels: approved, lgtm

#3882 copier test: use correct UID/GID in test archives
  copier/copier_test.go
Labels: approved, lgtm, kind/failing-test

#3885 fix hang when oci runtime fails
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm
