Repository containers/buildah, pull requests merged in 2022-10, with the labels that each got.

#4306 Update for https://github.com/klauspost/pgzip/pull/50
  go.mod
  go.sum
  vendor/github.com/klauspost/pgzip/.travis.yml
  vendor/github.com/klauspost/pgzip/LICENSE
  vendor/github.com/klauspost/pgzip/README.md
  vendor/github.com/klauspost/pgzip/gunzip.go
  vendor/modules.txt
Labels: kind/bug

#4310 test: warning behaviour for unset/set `TARGETOS`,`TARGETARCH`,`TARGETPLATFORM`
  tests/bud.bats
Labels: approved, lgtm

#4316 test: remove unneeded/expensive `COPY . .`
  tests/bud.bats
Labels: approved, lgtm

#4320 System test cleanup: document, clarify, fix
  tests/bud.bats
  tests/bud/platform-sets-args/Containerfile
  tests/helpers.bash
Labels: approved, lgtm

#4321 bud.bats refactoring: $TEST_SCRATCH_DIR
  tests/bud.bats
Labels: approved, lgtm, kind/cleanup

#4300 [CI:BUILD] Combine buildahimage Containerfiles
  .cirrus.yml
  contrib/buildahimage/Containerfile
  contrib/buildahimage/containers.conf
  contrib/buildahimage/stable/Containerfile
  contrib/buildahimage/upstream/Containerfile
Labels: approved, lgtm, kind/cleanup

#4330 [release-1.19] release: bump to `v1.19.11`
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#4222 Update for https://github.com/containers/image/pull/1299 + update tests
  go.mod
  go.sum
  tests/authenticate.bats
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/errors.go
  vendor/github.com/containers/image/v5/oci/archive/oci_src.go
  vendor/github.com/containers/image/v5/oci/layout/oci_src.go
  vendor/github.com/containers/image/v5/oci/layout/oci_transport.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4333 Fix ident for dependabot gha block
  .github/dependabot.yml
Labels: kind/bug, approved, lgtm

#4329 sshagent: `LockOSThread` before setting `SocketLabel`
  pkg/sshagent/sshagent.go
Labels: approved, lgtm

#4347 [CI:BUILD] pr-should-include-tests: allow specfile, golangci
  tests/validate/pr-should-include-tests
Labels: approved, lgtm

#4345 [CI:BUILD] copr: buildah rpm should depend on containers-common-extra
  buildah.spec.rpkg
Labels: approved, lgtm

#4348 Update vendor containers/(common,image,storage)
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/fsdiff.go
  vendor/github.com/containers/storage/drivers/overlay/mount.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/template.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_unsupported.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/archive_unix.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive_darwin.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive_windows.go
  vendor/github.com/containers/storage/pkg/chrootarchive/diff_darwin.go
  vendor/github.com/containers/storage/pkg/chrootarchive/jsoniter.go
  vendor/github.com/containers/storage/pkg/chunked/compression.go
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compressor/compressor.go
  vendor/github.com/containers/storage/pkg/chunked/internal/compression.go
  vendor/github.com/containers/storage/pkg/fileutils/fileutils.go
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/github.com/containers/storage/pkg/ioutils/fswriters.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/pkg/parsers/kernel/uname_unsupported.go
  vendor/github.com/containers/storage/pkg/parsers/kernel/uname_unsupported_type.go
  vendor/github.com/containers/storage/pkg/system/lstat_unix.go
  vendor/github.com/containers/storage/pkg/truncindex/truncindex.go
  vendor/github.com/containers/storage/pkg/unshare/unshare.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/userns.go
  vendor/modules.txt
Labels: approved, lgtm

#4349 mount,cache: internal `lockfiles` must not be part of user's `cache` content
  internal/parse/parse.go
  run_common.go
  tests/bud.bats
  tests/bud/cache-mount-locked/Containerfile
  tests/bud/cache-mount-locked/file
Labels: approved, lgtm

#4357 [release-1.27] Update c/image to 5.22.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/errors.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4352 Simplify and fix cache volume locking
  cmd/buildah/run.go
  internal/parse/parse.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
Labels: approved, lgtm

#4359 Vendor in latest containers/(common,storage)
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/libnetwork/cni/cni_conversion.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_freebsd.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/pkg/download/download.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/hooks/hooks.go
  vendor/github.com/containers/common/pkg/hooks/monitor.go
  vendor/github.com/containers/common/pkg/hooks/read.go
  vendor/github.com/containers/common/pkg/machine/machine.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/timetype/timestamp.go
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/pkg/mount/unmount_unix.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm

#4365 Makefile: Fix install on FreeBSD
  Makefile
Labels: kind/bug, approved, lgtm

#4326 imagebuildah, `cache-from`: pull cache from remote repo after adding content summary
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/cache-from/Containerfile
Labels: approved, lgtm

#4374 Fix word missing in Container Tools Guide
  docs/containertools/README.md
Labels: kind/documentation, approved, lgtm

#4377 Define and use a safe, reliable test image
  tests/bud.bats
  tests/helpers.bash
Labels: approved, lgtm

#4380 Fix RUN --mount=type=bind,from=<stage> not triggering preservation of <stage> rootfs
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/cache-stages/Dockerfile.3
Labels: approved, lgtm

#4378 [1.27] Define and use a safe, reliable test image
  tests/bud.bats
  tests/helpers.bash
Labels: approved, lgtm

#4384 [1.24] Define and use a safe, reliable test image
  tests/bud.bats
  tests/helpers.bash
Labels: approved, lgtm, kind/failing-test

#4387 test: fix preserve rootfs with `--mount=type=bind` for podman-remote
  tests/bud.bats
Labels: approved, lgtm

#4386 test: fix prune logic for cache-from after adding content summary
  tests/bud.bats
Labels: approved, lgtm

#4390 copier: Preserve file flags when copying archives on FreeBSD
  copier/copier.go
Labels: approved, lgtm, kind/other

#4389 Remove quiet flag, so that it works in podman-remote
  tests/bud.bats
Labels: approved, lgtm

#4391 Don't set allow.mount in the vnet jail on Freebsd
  run_freebsd.go
Labels: approved, lgtm, kind/cleanup
