Repository containers/buildah, pull requests merged in 2022-02, with the labels that each got.

#3761 System tests: fix accidental vandalism of source dir
  tests/containers_conf.bats
Labels: approved, lgtm

#3759 Update vendor of containers/storage and containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3763 bump(github.com/modern-go/reflect2) to v1.0.2
  go.mod
  go.sum
  vendor/github.com/modern-go/reflect2/.travis.yml
  vendor/github.com/modern-go/reflect2/Gopkg.lock
  vendor/github.com/modern-go/reflect2/Gopkg.toml
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/github.com/modern-go/reflect2/go_above_118.go
  vendor/github.com/modern-go/reflect2/go_above_17.go
  vendor/github.com/modern-go/reflect2/go_above_19.go
  vendor/github.com/modern-go/reflect2/go_below_118.go
  vendor/github.com/modern-go/reflect2/go_below_17.go
  vendor/github.com/modern-go/reflect2/go_below_19.go
  vendor/github.com/modern-go/reflect2/reflect2.go
  vendor/github.com/modern-go/reflect2/test.sh
  vendor/github.com/modern-go/reflect2/type_map.go
  vendor/github.com/modern-go/reflect2/unsafe_link.go
  vendor/github.com/modern-go/reflect2/unsafe_map.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#3764 Bump version of containers/image and containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved

#3766 caps: fix buildah run --cap-add=all
  chroot/run.go
Labels: approved, lgtm

#3769 [release-1.23] bump to v1.23.3
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved

#3757 stage_executor: Add support for inline `FROM --platform=` within Containerfile/Dockerfile
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#3770 Bump 1.24.1
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#3772 conformance: add a few "replace-directory-with-symlink" tests
  tests/conformance/conformance_test.go
  tests/conformance/testdata/replace/symlink-with-directory/Dockerfile.2
  tests/conformance/testdata/replace/symlink-with-directory/Dockerfile.3
  tests/conformance/testdata/replace/symlink-with-directory/Dockerfile.4
Labels: approved, lgtm, kind/other

#3762 Cirrus: Use updated VM images
  .cirrus.yml
Labels: approved, lgtm, kind/other

#3777 Bump c/common to v0.47.4
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/cni/cni_conversion.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/util/validate.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.gometalinter.json
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/.travis.yml
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/manifests.go
  vendor/github.com/docker/distribution/reference/normalize.go
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/errcode/errors.go
  vendor/github.com/docker/distribution/registry/api/v2/urls.go
  vendor/github.com/docker/distribution/registry/client/auth/challenge/authchallenge.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Labels: approved, lgtm

#3780 run_linux: use --systemd-cgroup
  Makefile
  cmd/buildah/main.go
  cmd/buildah/run.go
  contrib/completions/bash/buildah
  docs/buildah.1.md
  hack/systemd_tag.sh
  run.go
  run_linux.go
  tests/bud.bats
  tests/from.bats
  tests/run.bats
Labels: approved, lgtm

#3782 history, build: add pre-allowed variables e.g `proxy vars` to history if explicitly specified
  imagebuildah/stage_executor.go
  tests/history.bats
Labels: approved, lgtm, buildkit

#3785 Bump 1.24.2
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#3788 speed up combination-namespaces test
  tests/namespaces.bats
Labels: approved, lgtm, kind/cleanup

#3792 helpers.bash: Use correct syntax
  tests/helpers.bash
Labels: approved, lgtm, kind/failing-test

#3746 docs: Remove Containerfile and containerignore
  docs/Containerfile.5.md
  docs/Makefile
  docs/containerignore.5.md
  docs/links/.containerignore.5
Labels: approved, lgtm

#3797 executor: docker builds must inherit `healthconfig` from baseImage if any and new build does not overrides.
  imagebuildah/stage_executor.go
  tests/config.bats
Labels: approved, lgtm
