Repository containers/buildah, pull requests merged in 2022-04, with the labels that each got.

#3883 [CI:DOCS] Set permissions for GitHub actions
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/multi-arch-build.yaml
  .github/workflows/stale.yml
Labels: approved, lgtm

#3893 Create shorter names for containers based on image IDs
  new.go
  tests/from.bats
Labels: kind/bug, approved, lgtm

#3891 test: skip rootless on cgroupv2 in root env
  tests/helpers.bash
  tests/run.bats
Labels: approved, lgtm

#3875 Vendor in opencontainers/selinux v1.10.1
  go.mod
  go.sum
  selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/modules.txt
Labels: approved, lgtm

#3896 Tests: disable three gating-test failures
  tests/authenticate.bats
  tests/bud.bats
Labels: approved, lgtm

#3897 Remove a stray `\` from .containerenv
  run_linux.go
Labels: approved, lgtm, kind/cleanup

#3877 manifest-add: allow overriding `--arch` and `--variant` while adding custom image to manifest list
  cmd/buildah/manifest.go
  tests/lists.bats
Labels: approved, lgtm

#3900 tests: set `--jobs=1` for flaky `bud-multiple-platform-no-run`
  tests/bud.bats
Labels: approved, lgtm

#3901 buildah build should accept at most one arg
  cmd/buildah/build.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#3829 build, commit: allow removing default identity labels using `--identity-labels=false`
  cmd/buildah/commit.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/commit.bats
Labels: approved, lgtm

#3902 Fix error check to work on Podman
  tests/bud.bats
Labels: approved, lgtm

#3903 [release-1.23 backport] bump to race-free `c/image` and `c/storage`
  chroot/run.go
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/key.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/keyring.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/perm.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/sys_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_unsupported.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/errors.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/utils.go
  vendor/modules.txt
Labels: approved, lgtm

#3905 Bump to v1.23.4
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#3894 integration tests: learn to start a dummy registry
  Makefile
  cmd/buildah/passwd.go
  internal/parse/parse.go
  tests/authenticate.bats
  tests/bud.bats
  tests/bud/from-encrypted-image/Dockerfile
  tests/commit.bats
  tests/containers.bats
  tests/containers_conf.bats
  tests/copy.bats
  tests/from.bats
  tests/helpers.bash
  tests/pull.bats
  tests/push.bats
  tests/registries.conf
  tests/source.bats
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#3906 Initialize network backend before first pull
  pull.go
  tests/pull.bats
Labels: kind/bug, approved, lgtm

#3909 Bump golang.org/x/crypto to 7b82a4e
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#3908 Update vendor of storage,common,image
  go.mod
  go.sum
  vendor/github.com/BurntSushi/toml/README.md
  vendor/github.com/BurntSushi/toml/decode.go
  vendor/github.com/BurntSushi/toml/encode.go
  vendor/github.com/BurntSushi/toml/error.go
  vendor/github.com/BurntSushi/toml/lex.go
  vendor/github.com/BurntSushi/toml/parse.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/chown_unix.go
  vendor/github.com/containers/storage/drivers/devmapper/deviceset.go
  vendor/github.com/containers/storage/drivers/overlay/check_115.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/archive_linux.go
  vendor/github.com/containers/storage/pkg/archive/changes_other.go
  vendor/github.com/containers/storage/pkg/archive/diff.go
  vendor/github.com/containers/storage/pkg/directory/directory_unix.go
  vendor/github.com/containers/storage/pkg/directory/directory_windows.go
  vendor/github.com/containers/storage/pkg/system/xattrs_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_unsupported.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/modules.txt
Labels: approved, lgtm

#3910 [release-1.24 backport] Bump golang.org/x/crypto to 7b82a4e
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#3916 manifest-create: allow creating manifest list from image in `local-storage`
  cmd/buildah/manifest.go
  tests/lists.bats
Labels: approved, lgtm

#3918 Stop littering
  tests/bud.bats
Labels: approved, lgtm

#3922 Update vendor of containers/(common,storage,image)
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/drivers/driver_freebsd.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/register/register_zfs.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_freebsd.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_linux.go
  vendor/github.com/containers/storage/storage.conf-freebsd
  vendor/modules.txt
Labels: approved, lgtm

#3926 Ed's periodic test cleanup
  tests/bud.bats
  tests/copy.bats
Labels: approved, lgtm

#3934 copier.Put(): write to read-only directories
  copier/copier.go
  copier/copier_test.go
Labels: kind/bug, approved, lgtm, 4.1

#3935 copier.unwrapError(): update for Go 1.16
  copier/copier.go
  copier/unwrap_112.go
  copier/unwrap_113.go
  copier/xattrs.go
  copier/xattrs_test.go
Labels: approved, lgtm, kind/cleanup

#3938 Fix docs build on FreeBSD
  docs/Makefile
Labels: approved

#3936 copier.PutOptions: add StripSetuidBit/StripSetgidBit/StripStickyBit
  copier/copier.go
  copier/copier_test.go
Labels: kind/feature, approved, lgtm

#3931 Cirrus: Update CI VMs to F36
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup.sh
  pkg/formats/templates.go
Labels: approved, lgtm, kind/other

#3942 [release-1.19]Bump c/storage to 1.24.10
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/ulikunitz/xz/LICENSE
  vendor/github.com/ulikunitz/xz/TODO.md
  vendor/github.com/ulikunitz/xz/bits.go
  vendor/github.com/ulikunitz/xz/crc.go
  vendor/github.com/ulikunitz/xz/format.go
  vendor/github.com/ulikunitz/xz/internal/hash/cyclic_poly.go
  vendor/github.com/ulikunitz/xz/internal/hash/doc.go
  vendor/github.com/ulikunitz/xz/internal/hash/rabin_karp.go
  vendor/github.com/ulikunitz/xz/internal/hash/roller.go
  vendor/github.com/ulikunitz/xz/internal/xlog/xlog.go
  vendor/github.com/ulikunitz/xz/lzma/bintree.go
  vendor/github.com/ulikunitz/xz/lzma/bitops.go
  vendor/github.com/ulikunitz/xz/lzma/breader.go
  vendor/github.com/ulikunitz/xz/lzma/buffer.go
  vendor/github.com/ulikunitz/xz/lzma/bytewriter.go
  vendor/github.com/ulikunitz/xz/lzma/decoder.go
  vendor/github.com/ulikunitz/xz/lzma/decoderdict.go
  vendor/github.com/ulikunitz/xz/lzma/directcodec.go
  vendor/github.com/ulikunitz/xz/lzma/distcodec.go
  vendor/github.com/ulikunitz/xz/lzma/encoder.go
  vendor/github.com/ulikunitz/xz/lzma/encoderdict.go
  vendor/github.com/ulikunitz/xz/lzma/hashtable.go
  vendor/github.com/ulikunitz/xz/lzma/header.go
  vendor/github.com/ulikunitz/xz/lzma/header2.go
  vendor/github.com/ulikunitz/xz/lzma/lengthcodec.go
  vendor/github.com/ulikunitz/xz/lzma/literalcodec.go
  vendor/github.com/ulikunitz/xz/lzma/matchalgorithm.go
  vendor/github.com/ulikunitz/xz/lzma/operation.go
  vendor/github.com/ulikunitz/xz/lzma/prob.go
  vendor/github.com/ulikunitz/xz/lzma/properties.go
  vendor/github.com/ulikunitz/xz/lzma/rangecodec.go
  vendor/github.com/ulikunitz/xz/lzma/reader.go
  vendor/github.com/ulikunitz/xz/lzma/reader2.go
  vendor/github.com/ulikunitz/xz/lzma/state.go
  vendor/github.com/ulikunitz/xz/lzma/treecodecs.go
  vendor/github.com/ulikunitz/xz/lzma/writer.go
  vendor/github.com/ulikunitz/xz/lzma/writer2.go
  vendor/github.com/ulikunitz/xz/lzmafilter.go
  vendor/github.com/ulikunitz/xz/none-check.go
  vendor/github.com/ulikunitz/xz/reader.go
  vendor/github.com/ulikunitz/xz/writer.go
  vendor/modules.txt
Labels: approved, lgtm

#3823 buildkit: add support for exporting build output with `--output` or `-o`
  cmd/buildah/build.go
  commit.go
  define/build.go
  define/types.go
  docs/buildah-build.1.md
  image.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/util/util.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm, buildkit, 4.1
