Repository containers/buildah, pull requests merged in 2022-09, with the labels that each got.

#4174 Add support for buildah run with chroot isolation
  chroot/pty_posix.go
  chroot/pty_ptmx.go
  chroot/pty_unsupported.go
  chroot/run_common.go
  chroot/run_freebsd.go
  chroot/run_linux.go
  chroot/seccomp_freebsd.go
  chroot/seccomp_unsupported.go
  chroot/selinux_unsupported.go
  chroot/unsupported.go
Labels: approved, lgtm

#4220 manifest: add support for `buildah manifest exists`
  cmd/buildah/manifest.go
  docs/buildah-manifest-exists.1.md
  docs/buildah-manifest.1.md
  tests/lists.bats
Labels: approved, lgtm

#4223 Don't call os.Exit(1) from manifest exist
  cmd/buildah/main.go
  cmd/buildah/manifest.go
Labels: approved, lgtm

#4219 Buildah should ignore /etc/crio/seccomp.json
  pkg/parse/parse.go
Labels: approved, lgtm

#4224 [release-1.27] release: bump to `v1.27.1`
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4225 Use constants from containers/common for finding seccomp.json
  pkg/parse/parse.go
Labels: approved, lgtm, kind/cleanup

#4226 [release-1.19] Bump Buildah to v1.19.10
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#4237 [CI:DOCS] Update install.md: Debian 11 (Bullseye) is stable
  install.md
Labels: kind/documentation, approved, lgtm

#4239 build: honor `<Containerfile>.containerignore` or `<Containerfile>.dockerignore` as ignore file
  cmd/buildah/addcopy.go
  imagebuildah/build.go
  imagebuildah/executor.go
  pkg/cli/build.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/bud/dockerignore4/BUILD.md
  tests/bud/dockerignore4/COPYRIGHT
  tests/bud/dockerignore4/Dockerfile.test
  tests/bud/dockerignore4/Dockerfile.test.dockerignore
  tests/bud/dockerignore4/LICENSE
  tests/bud/dockerignore4/README-secret.md
  tests/bud/dockerignore4/README.md
  tests/bud/dockerignore4/manifest
  tests/bud/dockerignore4/src/Makefile
  tests/bud/dockerignore4/src/cmd/Makefile
  tests/bud/dockerignore4/src/cmd/main.in
  tests/bud/dockerignore4/src/etc/foo.conf
  tests/bud/dockerignore4/src/etc/foo.conf.d/dropin.conf
  tests/bud/dockerignore4/src/lib/Makefile
  tests/bud/dockerignore4/src/lib/framework.in
  tests/bud/dockerignore4/test1.txt
  tests/bud/dockerignore4/test2.txt
  tests/bud/dockerignore4/test3.txt
  tests/bud/dockerignore6/Dockerfile
  tests/bud/dockerignore6/Dockerfile.dockerignore
  tests/bud/dockerignore6/Dockerfile.succeed
  tests/bud/dockerignore6/Dockerfile.succeed.dockerignore
  tests/bud/dockerignore6/subdir/sub1.txt
  tests/bud/dockerignore6/subdir/sub2.txt
  tests/bud/dockerignore6/test1.txt
  tests/bud/dockerignore6/test2.txt
Labels: approved, lgtm, buildkit

#4241 Minor test fix for podman-remote
  tests/bud.bats
Labels: approved, lgtm

#4234 parse: make processing fields for `--mount` order agnostic
  imagebuildah/stage_executor.go
  internal/parse/parse.go
  run_common.go
  tests/bud.bats
  tests/bud/buildkit-mount/Dockerfile6
  tests/bud/buildkit-mount/Dockerfilecachewritesharing
Labels: approved, lgtm

#4248 build: make `--cache-ttl=0` equivalent to `--no-cache`
  docs/buildah-build.1.md
  pkg/cli/build.go
  tests/bud.bats
Labels: approved, lgtm

#4249 build: support `--skip-unused-stages` for multi-stage builds.
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
Labels: approved, lgtm, kaniko

#4229 buildah bud --network=none should have no network
  imagebuildah/stage_executor.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#4256 Fix broken command completion
  pkg/cli/common.go
Labels: approved, lgtm

#4259 [release-1.20] post-branch fixups
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup.sh
  contrib/cirrus/test.sh
  tests/validate/git-validation.sh
Labels: approved, lgtm

#4260 [release-1.20] do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved, lgtm

#4250 Prevent use of --dns* options with --net=none
  docs/buildah-build.1.md
  pkg/cli/build.go
  tests/bud.bats
Labels: approved, lgtm

#4262 [release-1.21] run: add container gid to additional groups
  run_linux.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved, lgtm

#4264 [release-1.23] run: add container gid to additional groups
  run_linux.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved, lgtm

#4263 [release-1.22] run: add container gid to additional groups
  run_linux.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved, lgtm

#4261 [release-1.20] run: add container gid to additional groups
  run_linux.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved, lgtm

#4266 [release-1.26] run: add container gid to additional groups
  Makefile
  run_linux.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved, lgtm

#4268 [release-1.21] do not set the inheritable capabilities
  chroot/run.go
  run_linux.go
  tests/run.bats
Labels: approved, lgtm

#4270 [release-1.27] build: support `--skip-unused-stages` for multi-stage builds.
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
Labels: kind/feature, approved, lgtm

#4273 [release-1.27] tag v1.27.2
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4283 Fix broken dns test (from merge collision)
  pkg/cli/build.go
  tests/bud.bats
Labels: approved, lgtm

#4275 [release-1.26] bump github.com/theupdateframework/go-tuf
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved, lgtm

#4280 [release-1.23] tag v1.23.5
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4281 [release-1.24] tag v1.24.6
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4278 [release-1.21] tag v1.21.5
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4279 [release-1.22] tag v1.22.5
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4277 [release-1.20] tag v1.20.2
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4282 [release-1.26] tag v1.26.5
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4257 run,build: conflict `--isolation=chroot` and `--network`
  cmd/buildah/run.go
  pkg/cli/build.go
  tests/bud.bats
  tests/run.bats
Labels: approved, lgtm

#4285 copier: work around freebsd bug for "mkdir /"
  copier/copier.go
Labels: lgtm

#4289 [release-1.19] run: add container gid to additional groups
  run_linux.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved

#4288 [release-1.24] add: fail on bad `HTTP` response instead of writing to container for `URL` sources
  add.go
  define/types.go
  tests/bud.bats
Labels: approved

#4235 vendor in latest containers/common
  Makefile
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/platform.go
  vendor/modules.txt
Labels: approved, lgtm

#4267 pkg/cli: improve completion test
  pkg/cli/common_test.go
Labels: approved, lgtm

#4296 Run codespell on code
  Makefile
  imagebuildah/build.go
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#4297 Proof of concept: nightly dependency treadmill
  contrib/cirrus/build.sh
Labels: approved, lgtm

#4290 [ci:docs] Fix buildahimage container.conf permissions regression
  contrib/buildahimage/stable/Containerfile
  contrib/buildahimage/testing/Containerfile
  contrib/buildahimage/upstream/Containerfile
Labels: kind/bug, approved, lgtm

#4292 Set sysctls from containers.conf
  run_linux.go
  tests/containers_conf.bats
Labels: approved, lgtm

#4299 Vendor in latest containers/storage
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/archive_freebsd.go
  vendor/github.com/containers/storage/pkg/archive/archive_unix.go
  vendor/github.com/containers/storage/pkg/archive/archive_windows.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_unix.go
  vendor/github.com/containers/storage/pkg/system/mknod.go
  vendor/github.com/containers/storage/pkg/system/mknod_freebsd.go
  vendor/github.com/containers/storage/pkg/system/rm.go
  vendor/github.com/containers/storage/pkg/system/rm_common.go
  vendor/github.com/containers/storage/pkg/system/rm_freebsd.go
  vendor/github.com/containers/storage/types/options.go
  vendor/modules.txt
Labels: approved

#4295 Check for unset build args after setting TARGET args
  imagebuildah/build.go
Labels: approved, lgtm, kind/cleanup

#4302 [CI:DOCS] Add quay-description update reminder
  contrib/buildahimage/README.md
Labels: kind/documentation, approved, lgtm
