Repository containers/buildah, pull requests merged in 2022-07, with the labels that each got.

#4086 add: fail on bad `HTTP` response instead of writing to container for `URL` sources
  add.go
  define/types.go
  tests/bud.bats
Labels: approved, lgtm

#4089 [release-1.26] bump github.com/containers/storage from v1.40.2 to v1.40.3
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#4088 [CI:DOCS] GHA: Allow re-use of Cirrus-Cron fail-mail workflow
  .github/workflows/check_cirrus_cron.yml
Labels: approved, lgtm, kind/other

#4085 Bump to v1.26.2
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4090 [release-1.26] contrib/rpm/buildah.spec: fix `rpm` parser warnings
  Makefile
  contrib/rpm/buildah.spec
  tests/validate/rpmspec-parses.sh
Labels: approved, lgtm, kind/other

#4096 imagebuildah, BuildDockerfiles: error out if path to `containerfile` is a `directory`
  imagebuildah/build.go
  tests/bud.bats
  tests/namespaces.bats
Labels: approved, lgtm

#4098 [CI:DOCS] improve pull-policy documentation
  docs/buildah-pull.1.md
Labels: kind/documentation, approved, lgtm

#4099 chroot: honor DefaultErrnoRet
  chroot/seccomp.go
Labels: kind/feature, approved, lgtm

#4097 imagebuildah: honor build output even if build container is not `commited`
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#4101 buildah: set missing `XDG_RUNTIME_DIR` before setting default `runroot`
  cmd/buildah/common.go
  tests/commit.bats
Labels: approved, lgtm

#4061 build: verify and consider `builtinargs` and `userargs` while processing `baseImage` name
  go.mod
  go.sum
  tests/bud.bats
  tests/bud/base-with-arg/Containerfile
  tests/bud/base-with-arg/Containerfile2
  tests/bud/base-with-arg/Containerfilebad
  vendor/github.com/openshift/imagebuilder/.travis.yml
  vendor/github.com/openshift/imagebuilder/Makefile
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/archive.go
  vendor/github.com/openshift/imagebuilder/dockerclient/copyinfo.go
  vendor/modules.txt
Labels: approved, lgtm

#4106 Bump github.com/containers/storage from v1.38.3 to v1.38.5
  .cirrus.yml
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/chown_unix.go
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_unsupported.go
  vendor/modules.txt
Labels: approved, lgtm

#4059 Add FreeBSD support for buildah run
  chroot/unsupported.go
  define/mount_freebsd.go
  define/mount_linux.go
  pkg/chrootuser/user_basic.go
  pkg/chrootuser/user_unix.go
  pkg/jail/jail.go
  run_common.go
  run_freebsd.go
  run_linux.go
  run_unsupported.go
Labels: approved, lgtm, ok-to-test

#4108 [CI:DOCS] GHA: Fix dynamic script filename
  .github/workflows/check_cirrus_cron.yml
Labels: approved, lgtm, kind/other

#4112 [release-1.24] bump version to v1.24.5
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4114 Add FreeBSD support for 'buildah info'
  info.go
  pkg/util/uptime_darwin.go
  pkg/util/uptime_freebsd.go
  pkg/util/uptime_linux.go
  pkg/util/uptime_windows.go
  pkg/util/version_unix.go
  pkg/util/version_windows.go
Labels: approved, lgtm, kind/cleanup

#4117 bump github.com/opencontainers/runtime-tools
  go.mod
  go.sum
  vendor/github.com/opencontainers/runtime-tools/generate/config.go
  vendor/github.com/opencontainers/runtime-tools/generate/generate.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/consts.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/seccomp_default.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/seccomp_default_linux.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/seccomp_default_unsupported.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/syscall_compare.go
  vendor/github.com/opencontainers/runtime-tools/validate/validate.go
  vendor/github.com/opencontainers/runtime-tools/validate/validate_linux.go
  vendor/github.com/opencontainers/runtime-tools/validate/validate_unsupported.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#4128 imagebuildah: optimize cache hits for `COPY` and `ADD` instructions
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#4130 Set user namespace defaults correctly for the library
  Makefile
  run_common.go
  tests/helpers.bash
  tests/tutorial.bats
  tests/tutorial/tutorial.go
Labels: kind/bug, approved, lgtm

#4074 Cirrus: Update VM images w/ updated bats
  .cirrus.yml
Labels: approved, lgtm

#4134 Update vendor of containers/(common, storage, image)
  go.mod
  go.sum
  vendor/github.com/BurntSushi/toml/.gitignore
  vendor/github.com/BurntSushi/toml/COMPATIBLE
  vendor/github.com/BurntSushi/toml/README.md
  vendor/github.com/BurntSushi/toml/decode.go
  vendor/github.com/BurntSushi/toml/encode.go
  vendor/github.com/BurntSushi/toml/error.go
  vendor/github.com/BurntSushi/toml/lex.go
  vendor/github.com/BurntSushi/toml/meta.go
  vendor/github.com/BurntSushi/toml/parse.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libnetwork/util/filters.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/copy/progress_bars.go
  vendor/github.com/containers/image/v5/copy/sign.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/devmapper/device_setup.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/modules.txt
Labels: approved, lgtm

#4118 build,cache: support remote cache sources ( via `--cache-to`, `--cache-from` ) and introduce `cacheKey/layerKey`
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#4136 Minor error message fixes
  cmd/buildah/commit.go
  cmd/buildah/from.go
  cmd/buildah/pull.go
  imagebuildah/build.go
  run_common.go
  tests/bud.bats
  tests/copy/copy.go
  tests/helpers.bash
  tests/testreport/testreport.go
Labels: kind/bug, approved, lgtm

#4137 [release-1.21] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4140 [release-1.24] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4139 [release-1.23] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4138 [release-1.22] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4141 Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4142 Minor test tweak for podman-remote compatibility
  tests/bud.bats
Labels: approved, lgtm

#4135 stage_executor, output: generate correct artifacts for `multi-stage` builds and `cached` builds with `--output`
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#4143 Use errors.Is() instead of os.Is{Not,}Exist
  bind/mount.go
  buildah.go
  chroot/run_linux.go
  copier/copier.go
  copier/copier_test.go
  image.go
  imagebuildah/stage_executor.go
  pkg/overlay/overlay.go
  pkg/parse/parse.go
  run_common.go
  run_linux.go
  selinux.go
  tests/e2e/buildah_suite_test.go
  tests/serve/serve.go
  util.go
  util/util.go
Labels: approved, lgtm, kind/other

#4144 util, fileExistsAndNotADir: determine a file or directory should print an error
  util/util.go
Labels: approved, lgtm
