Repository containers/buildah, pull requests merged in 2022-05, with the labels that each got.

#3947 imagebuildah, executor: process `ARG` variables while populating baseMap
  imagebuildah/executor.go
  imagebuildah/util.go
  tests/bud.bats
  tests/bud/with-arg/Dockerfilefromarg
Labels: approved, lgtm

#3955 buildah: deep copy `options.Args` before performing concurrent `build/stage`
  imagebuildah/build.go
  new.go
Labels: approved, lgtm, 4.1

#3953 Handle OS version and features flags
  buildah.go
  cmd/buildah/build.go
  cmd/buildah/commit.go
  cmd/buildah/config.go
  cmd/buildah/from.go
  cmd/buildah/login.go
  cmd/buildah/run.go
  commit.go
  config.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-config.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  tests/bud.bats
  tests/config.bats
Labels: kind/feature, approved, lgtm

#3954 Vendor in containers/storage v1.40.2
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/idmapped_utils.go
  vendor/modules.txt
Labels: approved, lgtm, 4.1

#3956 imagebuildah,buildDockerfilesOnce: move deepcopy of args before we spawn goroutine
  imagebuildah/build.go
Labels: approved, lgtm, 4.1

#3963 Make `buildah build --label foo` create an empty "foo" label again
  docs/buildah-build.1.md
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#3965 Bump to v1.26.1
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  docs/buildah-build.1.md
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#3941 Add test for prevention of reusing encrypted layers
  tests/commit.bats
Labels: approved, lgtm, kind/other

#3975 bump c/image to v5.19.3 and c/ocicrypt to v1.1.4
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/key.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/keyring.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/perm.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/sys_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_unsupported.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/ocicrypt/MAINTAINERS
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/pkcs11helpers.go
  vendor/github.com/containers/ocicrypt/go.mod
  vendor/github.com/containers/ocicrypt/go.sum
  vendor/github.com/miekg/pkcs11/.travis.yml
  vendor/github.com/miekg/pkcs11/README.md
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/release.go
  vendor/github.com/miekg/pkcs11/types.go
  vendor/github.com/miekg/pkcs11/zconst.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#3983 vendor: update c/storage and c/image
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/lookaside.go
  vendor/github.com/containers/image/v5/docker/paths_common.go
  vendor/github.com/containers/image/v5/docker/paths_freebsd.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/paths_common.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/paths_freebsd.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/signature/policy_config.go
  vendor/github.com/containers/image/v5/signature/policy_paths_common.go
  vendor/github.com/containers/image/v5/signature/policy_paths_freebsd.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
  vendor/github.com/containers/storage/pkg/chrootarchive/chroot_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/mount/mounter_freebsd.go
  vendor/github.com/containers/storage/pkg/mount/mounter_unsupported.go
  vendor/github.com/containers/storage/storage.conf-freebsd
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/containers/storage/types/options_darwin.go
  vendor/github.com/containers/storage/types/options_freebsd.go
  vendor/github.com/containers/storage/types/options_linux.go
  vendor/github.com/containers/storage/types/options_windows.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/inflate_gen.go
  vendor/github.com/klauspost/compress/huff0/autogen.go
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s.in
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/modules.txt
Labels: approved, lgtm

#3982 Vendor in latest containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/cni/run.go
  vendor/github.com/containers/common/libnetwork/internal/util/create.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/capabilities/capabilities.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/machine/machine.go
  vendor/github.com/containers/common/pkg/parse/parse_unix.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/seccomp/conversion.go
  vendor/github.com/containers/common/pkg/seccomp/filter.go
  vendor/github.com/containers/common/pkg/seccomp/types.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#3994 Add --cpp-flag flag to buildah build
  cmd/buildah/build.go
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/containerfile/Containerfile.in
Labels: approved, lgtm

#3995 test helpers: default to being rootless-aware
  tests/copy/copy.go
  tests/imgtype/imgtype.go
Labels: approved, lgtm, kind/other

#3998 run: allow re-using secret artifact from host in new `RUN` steps.
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#3999 buildah source pull/push: show progress bar
  cmd/buildah/source.go
  docs/buildah-source-pull.1.md
  docs/buildah-source-push.1.md
  internal/source/pull.go
  internal/source/push.go
  tests/source.bats
Labels: approved, lgtm

#4000 test cleanup
  tests/bud.bats
Labels: approved, lgtm

#3978 buildkit, build: add support for `additionalBuildContext` in builds via `--build-context`
  cmd/buildah/build.go
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/parse/parse.go
  internal/types.go
  internal/util/util.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm, buildkit

#4013 squash, layers: never use build cache when computing last step of last stage
  imagebuildah/stage_executor.go
  tests/squash.bats
Labels: approved, lgtm

#4014 buildah: add support for renaming a device in rootless setups using `--device`
  define/types_unix.go
  pkg/parse/parse_unix.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#4015 Fix codespell errors
  imagebuildah/stage_executor.go
  internal/source/pull.go
  internal/source/push.go
  pkg/overlay/overlay.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#4008 Remove util.StringInSlice because it is defined in containers/common
  bind/mount.go
  bind/util.go
  config.go
  util/util.go
Labels: approved, lgtm

#4021 Cirrus: use Ubuntu 22.04 LTS
  .cirrus.yml
Labels: approved, lgtm, kind/other
