Repository containers/buildah, pull requests merged in 2022-08, with the labels that each got.

#4147 manifest: `inspect` should contain `OCI` annotations.
  go.mod
  go.sum
  tests/inspect.bats
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4150 vendor c/common@v0.49.1
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4153 buildah-source-pull.1.md: fix a copy/paste error
  docs/buildah-source-pull.1.md
Labels: kind/documentation, approved

#4154 [release-1.26] set user namespace defaults correctly for the library
  Makefile
  run_linux.go
  tests/helpers.bash
  tests/tutorial.bats
  tests/tutorial/tutorial.go
Labels: kind/bug, approved, lgtm

#4156 integration tests: quote "?" in shell scripts
  tests/bud.bats
  tests/run.bats
Labels: kind/bug, approved, lgtm

#4157 [release-1.26] Backport misc fixes from upstream.
  add.go
  define/types.go
  imagebuildah/stage_executor.go
  run_linux.go
  tests/bud.bats
  tests/squash.bats
Labels: approved, lgtm

#4158 [release-1.26]: bump to `v1.26.3`
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4159 build: clean up git repos correctly when using subdirs
  define/types.go
  tests/bud.bats
  tests/git-daemon/subdirectory.tar.gz
Labels: kind/bug, approved, lgtm

#4149 build: support building from `commit` when using `git` repo as build context
  define/types.go
  define/types_test.go
  docs/buildah-build.1.md
  tests/bud.bats
  tests/git-daemon/repo-with-containerfile-on-old-commit.tar.gz
Labels: approved, lgtm

#4162 [release-1.26] tag v1.26.4 with some more backports
  CHANGELOG.md
  changelog.txt
  cmd/buildah/build.go
  cmd/buildah/commit.go
  commit.go
  contrib/rpm/buildah.spec
  copier/copier.go
  copier/copier_test.go
  define/build.go
  define/types.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/parse/parse.go
  internal/types.go
  internal/util/util.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/bud/containerfile/Containerfile.in
  tests/history.bats
Labels: kind/feature, approved, lgtm

#4166 [release-1.26] [backport] BuildDockerfiles: error out if path to containerfile is a directory
  imagebuildah/build.go
  tests/bud.bats
  tests/namespaces.bats
Labels: approved, lgtm

#4172 Allow chflags operations inside the container
  run_freebsd.go
Labels: kind/bug, approved, lgtm

#4165 build: support filtering cache by duration using `--cache-ttl`
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
Labels: approved, lgtm

#4169 Don't try to call runLabelStdioPipes if spec.Linux is not set
  run_common.go
Labels: approved, lgtm

#4175 make,cross: ignore `loong64` from target list
  Makefile
Labels: approved, lgtm

#4176 [release-1.11-rhel] Cirrus: Disable CI testing on Ubuntu
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4152 release: prepare for release `v1.27.0`
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4173 [release-1.11-rhel] Fix ADD with URL
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/use-layers/Dockerfile
Labels: approved, lgtm

#4181 Scrub user and group names from layer diffs
  image.go
  tests/commit.bats
Labels: kind/bug, approved, lgtm

#4179 [CI:DOCS] docs: specify `git://` protocol is not supported for github hosted repo
  docs/buildah-build.1.md
Labels: approved, lgtm

#4182 [release-1.11-rhel] Bump 1.11 to 1.11.7
  CHANGELOG.md
  buildah.go
  changelog.txt
  contrib/rpm/buildah.spec
Labels: approved, lgtm

#4189 cmd/buildah: add "manifest create --amend"
  cmd/buildah/manifest.go
  cmd/buildah/push.go
  docs/buildah-manifest-create.1.md
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/lists.bats
Labels: kind/feature, approved, lgtm

#4191 Drop util/util.Cause()
  cmd/buildah/main.go
  copier/copier_test.go
  copier/xattrs.go
  copier/xattrs_test.go
  util/util.go
  util/util_test.go
Labels: approved, lgtm, kind/cleanup

#4190 commit: use race-free `RemoveNames` instead of `SetNames` for pruning names
  commit.go
  tests/bud.bats
  tests/bud/check-race/Containerfile
Labels: approved, lgtm

#4192 mount,cache: enable `SElinux` shared content label (`z`) option by default
  docs/buildah-run.1.md
  internal/parse/parse.go
  tests/bud.bats
  tests/bud/buildkit-mount/Dockerfilecachereadwithoutz
  tests/bud/buildkit-mount/Dockerfilecachewritewithoutz
Labels: approved, lgtm

#4194 test: use `T.TempDir` to create temporary test directory
  chroot/run_test.go
  copier/copier_linux_test.go
  copier/copier_test.go
  copier/xattrs_test.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/cleanup

#4198 Makefile: always call $(GO) instead of `go`
  Makefile
Labels: approved, lgtm, kind/other

#4195 buildah: add support for `--retry` and `--retry-delay` incase of `push/pull` failures.
  cmd/buildah/addcopy.go
  cmd/buildah/from.go
  cmd/buildah/pull.go
  cmd/buildah/push.go
  docs/buildah-add.1.md
  docs/buildah-build.1.md
  docs/buildah-copy.1.md
  docs/buildah-from.1.md
  docs/buildah-pull.1.md
  docs/buildah-push.1.md
  pkg/cli/build.go
  pkg/cli/common.go
  tests/add.bats
  tests/bud.bats
  tests/copy.bats
  tests/from.bats
  tests/pull.bats
  tests/push.bats
Labels: approved, lgtm

#4193 Cirrus: Lock cross-build task onto golang 1.18
  .cirrus.yml
Labels: approved, lgtm, kind/failing-test

#4200 run: add container `gid` to additional groups
  run_common.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: kind/bug, approved, lgtm

#4201 Cirrus: use image with fewer downloaded dependencies
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4207 [release-v1.27] run: add container `gid` to additional groups
  run_common.go
  tests/bud.bats
  tests/bud/supplemental-groups/Dockerfile
  tests/run.bats
Labels: approved, lgtm

#4210 Replace k8s.gcr.io/pause in tests with registry.k8s.io/pause
  tests/blobcache.bats
  tests/byid.bats
  tests/images.bats
  tests/lists.bats
Labels: approved, lgtm, kind/other
