Repository containers/buildah, pull requests merged in 2022-06, with the labels that each got.

#4020 Fix use generic/ambiguous DEBUG name
  .cirrus.yml
  Makefile
  hack/get_ci_vm.sh
  install.md
  tests/bud.bats
  tests/bud/containerfile/Containerfile.in
Labels: approved, lgtm, kind/cleanup

#4037 [CI:DOCS] Tutorial 04 - Include Debian/Ubuntu deps
  docs/tutorials/04-include-in-your-build-tool.md
Labels: kind/documentation, approved, lgtm

#4022 Fix TODO: de-spaghettify run mounts
  imagebuildah/stage_executor.go
  run.go
  run_linux.go
Labels: approved, lgtm

#4043 copier: add `NoOverwriteNonDirDir` option
  copier/copier.go
  copier/copier_test.go
Labels: approved, lgtm

#4044 Sort buildoptions and move cli/build functions to internal
  cmd/buildah/addcopy.go
  cmd/buildah/commit.go
  cmd/buildah/from.go
  cmd/buildah/pull.go
  cmd/buildah/push.go
  internal/util/util.go
  internal/util/util_test.go
  pkg/cli/build.go
Labels: approved, lgtm

#3986 use resolvconf package from c/common/libnetwork
  go.mod
  go.sum
  run_linux.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/define/search.go
  vendor/github.com/containers/common/libimage/inspect.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/libnetwork/resolvconf/resolv.go
  vendor/github.com/containers/common/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/containers/common/pkg/completion/command.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/docker/libnetwork/LICENSE
  vendor/github.com/docker/libnetwork/resolvconf/README.md
  vendor/github.com/docker/libnetwork/resolvconf/dns/resolvconf.go
  vendor/github.com/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/ishidawataru/sctp/.gitignore
  vendor/github.com/ishidawataru/sctp/.travis.yml
  vendor/github.com/ishidawataru/sctp/GO_LICENSE
  vendor/github.com/ishidawataru/sctp/LICENSE
  vendor/github.com/ishidawataru/sctp/NOTICE
  vendor/github.com/ishidawataru/sctp/README.md
  vendor/github.com/ishidawataru/sctp/go.mod
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
  vendor/modules.txt
Labels: kind/bug, approved, lgtm, kind/cleanup

#4033 [CI:BUILD] WIP Cleanup Image Dockerfiles
  contrib/buildahimage/centos7/Dockerfile
Labels: approved, do-not-merge/work-in-progress

#4050 [CI:DOCS] Fix up buildah images
  contrib/buildahimage/centos7/Dockerfile
  contrib/buildahimage/stable/Containerfile
  contrib/buildahimage/stable/Dockerfile
  contrib/buildahimage/stablebyhand/Containerfile.buildahstable
  contrib/buildahimage/testing/Containerfile
  contrib/buildahimage/testing/Dockerfile
  contrib/buildahimage/upstream/Containerfile
Labels: approved, lgtm

#4052 Make util and copier build on FreeBSD
  copier/mknod_int.go
  copier/mknod_uint64.go
  copier/syscall_unix.go
  util/util_uint64.go
  util/util_unix.go
Labels: approved, lgtm

#4057 More test cleanup
  tests/bud.bats
Labels: approved, lgtm, kind/cleanup

#4055 Replace $BUILDAH_BINARY with buildah() function
  tests/bud.bats
Labels: approved, lgtm, kind/failing-test

#4054 copier: work around freebsd bug for "mkdir /"
  copier/copier.go
Labels: approved, lgtm

#4004 buildkit, multistage: skip computing stages which dont contribute to target by checking against `dependencyTree`
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/from-as/Dockerfile.skip
  tests/bud/target/Dockerfile
Labels: approved, lgtm, buildkit

#4064 build, userns: add support for `--userns=auto`
  define/types.go
  docs/buildah-build.1.md
  new.go
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#4019 [CI:BUILD] Cirrus: Migrate multiarch build off github actions
  .cirrus.yml
  .github/workflows/multi-arch-build.yaml
  Makefile
  contrib/buildahimage/README.md
  contrib/buildahimage/upstream/Containerfile
  tests/validate/buildahimages-are-sane
Labels: approved, lgtm, kind/other

#4069 build: fix test for subid 4
  hack/libsubid_tag.sh
Labels: approved, lgtm

#4062 buildah.spec.rpkg: initial addition
  Makefile
  buildah.spec.rpkg
  contrib/buildahimage/upstream/Containerfile
  contrib/rpm/buildah.spec
  tests/validate/buildahimages-are-sane
  tests/validate/pr-should-include-tests
  tests/version.bats
Labels: approved, lgtm, kind/other

#4065 [CI:DOCS] demo: use `buildah unshare` for `rootless` invocations
  demos/README.md
  demos/buildah-scratch-demo.sh
  demos/buildah_multi_stage.sh
Labels: approved, lgtm

#4073 [BACKPORT release-1.21]: bud.bats: use a local git daemon for the git protocol test
  tests/bud.bats
  tests/git-daemon/release-1.11-rhel.tar.gz
  tests/git-daemon/repo.tar.gz
  tests/helpers.bash
Labels: approved, lgtm

#4078 Add subid support with BuildRequires and BUILDTAG
  buildah.spec.rpkg
Labels: approved, lgtm

#4081 [CI:DOCS] Update buildahimage comment
  contrib/buildahimage/stable/Containerfile
  contrib/buildahimage/testing/Containerfile
  contrib/buildahimage/upstream/Containerfile
Labels: kind/documentation, approved, lgtm
