Repository containers/buildah, pull requests merged in 2022-01, with the labels that each got.

#3691 Use config.ProxyEnv
  run_linux.go
  tests/bud.bats
  tests/from.bats
Labels: approved, lgtm

#3590 buildkit: add `from=` field to `bind` and `cache` mounts so images can be used as source
  cmd/buildah/run.go
  docs/Containerfile.5.md
  docs/buildah-run.1.md
  imagebuildah/stage_executor.go
  internal/parse/parse.go
  internal/types.go
  internal/util/util.go
  pkg/parse/parse.go
  run.go
  run_linux.go
  tests/bud.bats
  tests/bud/buildkit-mount-from/Dockerfilebindfrom
  tests/bud/buildkit-mount-from/Dockerfilebindfromrelative
  tests/bud/buildkit-mount-from/Dockerfilebindfromwithemptyfrom
  tests/bud/buildkit-mount-from/Dockerfilebindfromwithoutsource
  tests/bud/buildkit-mount-from/Dockerfilebindfromwriteable
  tests/bud/buildkit-mount-from/Dockerfilebuildkitbase
  tests/bud/buildkit-mount-from/Dockerfilebuildkitbaserelative
  tests/bud/buildkit-mount-from/Dockerfilecachefrom
  tests/bud/buildkit-mount-from/Dockerfilecachefromimage
  tests/bud/buildkit-mount-from/Dockerfilecachemultiplefrom
  tests/bud/buildkit-mount-from/Dockerfilemultistagefrom
  tests/bud/buildkit-mount-from/Dockerfilemultistagefromcache
  tests/bud/buildkit-mount-from/Dockermultistagefrom
  tests/bud/buildkit-mount-from/hello
  tests/bud/buildkit-mount-from/hello2
  tests/run.bats
Labels: approved, lgtm, buildkit

#3693 executor: Share `selinux` (`process and mount`) `label` of first stage with other stages in same build
  buildah.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/parse/parse.go
  new.go
  tests/bud.bats
Labels: approved, lgtm

#3697 Fix default CNI paths
  contrib/completions/bash/buildah
  define/types.go
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  docs/buildah-run.1.md
  pkg/cli/common.go
  run_linux.go
  util/types.go
Labels: kind/bug, approved, lgtm

#3696 vendor c/common
  go.mod
  go.sum
  tests/from.bats
  tests/pull.bats
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/modules.txt
Labels: approved, lgtm

#3699 Cirrus: Run int. tests in parallel with unit
  .cirrus.yml
Labels: approved, kind/other, do-not-merge/hold

#3692 Allow processing of common options via FlagSet
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: kind/feature, approved, lgtm

#3701 bud.bats: use a local git daemon for the git protocol test
  tests/bud.bats
  tests/git-daemon/release-1.11-rhel.tar.gz
  tests/git-daemon/repo.tar.gz
  tests/helpers.bash
Labels: approved, lgtm, kind/failing-test

#3703 Update containers/image and containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libnetwork/internal/util/validate.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/image/v5/signature/mechanism.go
  vendor/github.com/containers/image/v5/signature/mechanism_openpgp.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/poly1305.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/modules.txt
Labels: approved, lgtm

#3702 Fix permissions on secrets directory
  run_linux.go
Labels: approved, lgtm

#3704 Allow processing of network options from FlagSet
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: kind/feature, approved, lgtm

#3698 Fix platform handling for empty os/arch values
  imagebuildah/build.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#3707 Cirrus: Re-order tasks for more parallelism
  .cirrus.yml
Labels: approved, lgtm, kind/other

#3706 Cirrus: Freshen VM images
  .cirrus.yml
Labels: approved, lgtm, kind/other

#3711 Enable git-daemon tests
  .cirrus.yml
Labels: approved, lgtm

#3709 Allow processing of id options from FlagSet
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: kind/feature, approved, lgtm

#3727 Vendor in latest containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_unsupported.go
  vendor/github.com/containers/common/pkg/config/default_windows.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/jinzhu/copier/copier.go
  vendor/modules.txt
Labels: approved, lgtm

#3732 Run codespell on code
  internal/parse/parse.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#3738 [release-1.23] copier.Put: check for is-not-a-directory using lstat, not stat; RemoveAll possibly-directories
  copier/copier.go
  copier/copier_test.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/replace/symlink-with-directory/Dockerfile
  tests/conformance/testdata/replace/symlink-with-directory/tree1/directory/file-in-directory
  tests/conformance/testdata/replace/symlink-with-directory/tree1/maybe-directory
  tests/conformance/testdata/replace/symlink-with-directory/tree2/maybe-directory/file-in-maybe-directory
Labels: kind/bug, approved, lgtm

#3739 [release-1.22] copier.Put: check for is-not-a-directory using lstat, not stat; RemoveAll possibly-directories
  copier/copier.go
  copier/copier_test.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/replace/symlink-with-directory/Dockerfile
  tests/conformance/testdata/replace/symlink-with-directory/tree1/directory/file-in-directory
  tests/conformance/testdata/replace/symlink-with-directory/tree1/maybe-directory
  tests/conformance/testdata/replace/symlink-with-directory/tree2/maybe-directory/file-in-maybe-directory
Labels: kind/bug, approved, lgtm

#3741 [release-1.23] bump(github.com/containerd/containerd), bump us to v1.23.2
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  go.mod
  go.sum
  vendor/modules.txt
Labels: approved

#3742 [release-1.22] bump(github.com/containerd/containerd), bump us to v1.22.4
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  go.mod
  go.sum
  vendor/github.com/Microsoft/hcsshim/hnsendpoint.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
  vendor/modules.txt
Labels: approved, lgtm

#3743 docs/buildah-build.1.md: don't imply that -v isn't just a RUN thing
  docs/Makefile
  docs/buildah-build.1.md
Labels: kind/documentation, approved, lgtm

#3735 Make pull commands be consistent
  cmd/buildah/build.go
  cmd/buildah/from.go
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  pkg/cli/common.go
  tests/bud.bats
  tests/from.bats
Labels: approved, lgtm

#3720 buildah build --network add support for custom networks
  docs/buildah-build.1.md
  pkg/parse/parse.go
  run_linux.go
  tests/bud.bats
  tests/bud/network/Containerfile
  tests/run.bats
Labels: approved, lgtm

#3744 [CI:DOCS] Github-workflow: Report both failures and errors.
  .github/workflows/check_cirrus_cron.yml
Labels: approved, lgtm, kind/other

#3745 [CI:DOCS] Fix typos and improve language
  cmd/buildah/source.go
  docs/Containerfile.5.md
  docs/buildah-add.1.md
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-config.1.md
  docs/buildah-copy.1.md
  docs/buildah-from.1.md
  docs/buildah-login.1.md
  docs/buildah-manifest-add.1.md
  docs/buildah-pull.1.md
  docs/buildah-push.1.md
  docs/buildah-source-pull.1.md
  docs/buildah-unshare.1.md
  docs/containerignore.5.md
  docs/tutorials/03-on-build.md
Labels: approved, lgtm

#3713 Allow processing of SystemContext from FlagSet
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: kind/feature, approved, lgtm

#3751 Update vendor of containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/exec.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/chunked/compression.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/modules.txt
Labels: approved, lgtm

#3752 Bump 1.24.0
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved

#3750 overlay: always honor mountProgram
  pkg/overlay/overlay.go
Labels: approved, lgtm

#3753 imagebuildah.BuildDockerfiles(): create the jobs semaphore
  imagebuildah/build.go
  imagebuildah/executor.go
  run_linux.go
Labels: kind/bug, approved, do-not-merge/hold
