Repository containers/buildah, pull requests merged in 2022-12, with the labels that each got.

#4441 util.SortMounts(): make the returned order more stable
  util/util.go
  util/util_test.go
Labels: kind/bug, approved, lgtm

#4430 Update c/storage after https://github.com/containers/storage/pull/1436
  go.mod
  go.sum
  internal/parse/parse.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/lockfile_compat.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_windows.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm

#4447 [release-1.28] Bump c/image to v5.23.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/errors.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4449 [skip-ci] GHA/Cirrus-cron: Fix execution order
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/rerun_cirrus_cron.yml
Labels: approved, lgtm

#4450 [CI:DOCS] CONTRIBUTING.md: Update contact information
  CONTRIBUTING.md
Labels: kind/documentation, approved, lgtm

#4455 [release-1.27] copier.Put(): clear up os/syscall mode bit confusion
  copier/copier.go
  tests/conformance/conformance_test.go
Labels: kind/bug, approved, lgtm

#4456 [release-1.26] copier.Put(): clear up os/syscall mode bit confusion
  copier/copier.go
  tests/bud.bats
  tests/conformance/conformance_test.go
Labels: kind/bug, approved, lgtm

#4459 [release-1.27] bump selinux to 1.10.2
  go.mod
  go.sum
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Labels: approved, lgtm

#4458 [release-1.26] tag v1.26.6
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#4457 [release-1.27] tag v1.27.3
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4408 Update to F37 CI VM Images, re-enable prior-fedora
  .cirrus.yml
  add.go
  buildah.go
  chroot/run_common.go
  chroot/seccomp.go
  cmd/buildah/from.go
  cmd/buildah/manifest.go
  cmd/buildah/push.go
  commit.go
  copier/copier.go
  copier/copier_linux_test.go
  copier/copier_test.go
  copier/xattrs_test.go
  define/types.go
  digester_test.go
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  internal/source/add.go
  pkg/cli/build.go
  pkg/overlay/overlay.go
  pkg/sshagent/sshagent.go
  pkg/util/uptime_linux.go
  pkg/util/util.go
  run_common.go
  run_freebsd.go
  run_linux.go
  seccomp.go
  tests/conformance/conformance_test.go
  tests/e2e/buildah_suite_test.go
  tests/serve/serve.go
  tests/testreport/testreport.go
  tests/tutorial/tutorial.go
Labels: approved, lgtm, kind/other

#4460 Update vendor or containers/(image, storage, common)
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/cni/cni_types.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/reader.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/writer.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/pkg/tlsclientconfig/tlsclientconfig.go
  vendor/github.com/containers/image/v5/storage/storage_src.go
  vendor/github.com/containers/image/v5/types/types.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/ioutils/fswriters.go
  vendor/github.com/containers/storage/store.go
  vendor/golang.org/x/net/http2/server.go
  vendor/modules.txt
Labels: approved, lgtm

#4443 remote-cache: support multiple sources and destination for `--cache-to` and `--cache-from`
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#4469 buildah: wrap network setup errors
  run_common.go
Labels: approved, lgtm, kind/other

#4468 parse: default `.containerignore` and `.dockerignore` must not point to symlink outside context
  go.mod
  pkg/parse/parse.go
  tests/bud.bats
  tests/bud/container-ignoresymlink/Dockerfile
  tests/bud/container-ignoresymlink/hello
  tests/bud/container-ignoresymlink/world
Labels: approved, lgtm

#4477 [CI:DOCS] Add documentation for buildah build --pull=missing
  docs/buildah-build.1.md
Labels: approved, lgtm

#4479 Add support for --group-add to buildah from
  buildah.go
  cmd/buildah/from.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  new.go
  pkg/cli/build.go
  pkg/cli/common.go
  run_common.go
  tests/bud.bats
  tests/helpers.bash
  tests/run.bats
Labels: approved, lgtm
