Repository containers/buildah, pull requests merged in 2023-06, with the labels that each got.

#4828 Explicitly ref. quay images for CI
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.edgecases
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4844 GetTempDir: honor `image_copy_tmp_dir` from `containers.conf`
  internal/util/util.go
  pkg/parse/parse.go
Labels: approved, lgtm

#4841 docs/Makefile: don't show sed invocations
  docs/Makefile
Labels: approved, lgtm, kind/other

#4837 intermediate-images inherit-label test: make it debuggable
  tests/bud.bats
Labels: approved, lgtm

#4836 At startup, log the effective capabilities for debugging
  cmd/buildah/main.go
  cmd/buildah/unshare.go
  cmd/buildah/unshare_unsupported.go
Labels: approved, lgtm, kind/other

#4830 CI: Support testing w/ podman-next COPR packages
  contrib/cirrus/lib.sh
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/other

#4849 [CI:DOCS] Update comment to remove ambiguity
  tests/conformance/testdata/Dockerfile.edgecases
Labels: kind/documentation, approved, lgtm

#4854 [release-1.21] Replace registry.centos.org
  install.md
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.edgecases
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4855 [release-1.20] Replace registry.centos.org
  install.md
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.edgecases
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4852 [release-1.23] Replace registry.centos.org
  install.md
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.edgecases
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4850 [release-1.24] Explicitly ref. quay images for CI
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.edgecases
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm, kind/flake

#4856 [CI:DOCS] Renovate: Don't touch fragile test stuffs
  .github/renovate.json5
Labels: approved, lgtm, kind/other

#4851 [release-1.27] Disable CI
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4746 Change util.EncryptConfig,DecryptConfig, GetFormat and make it public
  cmd/buildah/addcopy.go
  cmd/buildah/commit.go
  cmd/buildah/from.go
  cmd/buildah/pull.go
  cmd/buildah/push.go
  internal/util/util.go
  internal/util/util_test.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/cli/common_test.go
  tests/bud.bats
  tests/from.bats
  tests/pull.bats
Labels: approved, lgtm

#4832 Remove device mapper support
  Makefile
  buildah.spec.rpkg
  contrib/completions/bash/buildah
  contrib/docker/Dockerfile
  docs/buildah.1.md
  docs/tutorials/04-include-in-your-build-tool.md
  install.md
  libdm_tag.sh
  tests/conformance/README.md
Labels: approved, lgtm

#4745 Add smoke tests for encryption CLI helpers
  pkg/cli/common_test.go
Labels: approved, lgtm

#4877 add support for pasta(1) and slirp4netns options
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  docs/buildah-run.1.md
  go.mod
  go.sum
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
  tests/run.bats
  vendor/github.com/containers/common/libnetwork/pasta/pasta.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/const.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/rootlessport/rootlessport_linux.go
  vendor/github.com/containers/common/pkg/servicereaper/service.go
  vendor/github.com/containers/common/pkg/util/util.go
  vendor/modules.txt
Labels: kind/feature, approved, lgtm

#4883 vendor: update c/{common,image,storage} to latest
  go.mod
  go.sum
  run_linux.go
  tests/authenticate.bats
  tests/bud.bats
  vendor/dario.cat/mergo/.deepsource.toml
  vendor/dario.cat/mergo/.gitignore
  vendor/dario.cat/mergo/.travis.yml
  vendor/dario.cat/mergo/CODE_OF_CONDUCT.md
  vendor/dario.cat/mergo/CONTRIBUTING.md
  vendor/dario.cat/mergo/LICENSE
  vendor/dario.cat/mergo/README.md
  vendor/dario.cat/mergo/SECURITY.md
  vendor/dario.cat/mergo/doc.go
  vendor/dario.cat/mergo/map.go
  vendor/dario.cat/mergo/merge.go
  vendor/dario.cat/mergo/mergo.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/pkg/hooks/exec/exec.go
  vendor/github.com/containers/common/pkg/hooks/exec/runtimeconfigfilter.go
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/openshift/openshift-copies.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/check.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/github.com/containers/storage/drivers/fsdiff.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/chunked/cache_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compressor/compressor.go
  vendor/github.com/containers/storage/pkg/chunked/internal/compression.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_unsupported.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/sigstore/sigstore/pkg/signature/payload/payload.go
  vendor/modules.txt
Labels: approved, lgtm

#4880 chore: pkg imported more than once
  imagebuildah/executor.go
  run.go
  run_common.go
  run_linux.go
Labels: approved, lgtm

#4895 Bump c/image to 5.26.0 and c/common to 0.54.0
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/internal/manifest/list.go
  vendor/github.com/containers/image/v5/internal/manifest/oci_index.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4890 chore: replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml`
  go.mod
  go.sum
  pkg/formats/formats.go
  vendor/github.com/ghodss/yaml/.gitignore
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/LICENSE
  vendor/github.com/ghodss/yaml/README.md
  vendor/github.com/ghodss/yaml/fields.go
  vendor/github.com/ghodss/yaml/yaml.go
  vendor/modules.txt
Labels: approved, lgtm, kind/cleanup, v1.31.0

#4889 rootless: use default_rootless_network_cmd config
  run_linux.go
  tests/run.bats
Labels: kind/feature, approved, lgtm, v1.31.0

#4829 Fix transition test to work with latest selinux policy
  .cirrus.yml
  Makefile
  go.mod
  go.sum
  tests/conformance/conformance_test.go
  tests/selinux.bats
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/regexp/regexp.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_freebsd.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/modules.txt
Labels: approved, lgtm, v1.31.0

#4899 Update vendor of containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/servicereaper/service.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, v1.31.0

#4876 [CI:DOCS] Update debian/ubuntu build instructions
  install.md
Labels: kind/documentation, approved, lgtm

#4902 Bump c/image to 5.26.1, c/common to 0.55.1, Buildah to 1.31.0, and then to 1.32.0-dev
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm
