Repository containers/buildah, pull requests merged in 2023-10, with the labels that each got.

#5067 Ensure the mount type is always BindMount by default
  run_common.go
  tests/bud.bats
  tests/bud/buildkit-mount/Dockerfilemultiplemounts
Labels: kind/bug, lgtm

#5074 Use the parent's image ID in the config that we pass to imagebuilder
  imagebuildah/stage_executor.go
Labels: approved, lgtm, kind/cleanup

#5075 Update some comments related to confidential workload
  internal/mkcw/types/workload.go
  internal/mkcw/workload.go
Labels: approved, lgtm, kind/other

#5076 mkcw: remove entrypoint binaries
  .gitignore
  internal/mkcw/embed/entrypoint
Labels: approved, lgtm

#5084 run: use `internal.GetTempDir` with `os.MkdirTemp` for root and bundle path
  image.go
  internal/tmpdir/tmpdir_test.go
  pkg/sshagent/sshagent.go
  run_freebsd.go
  run_linux.go
Labels: approved, lgtm

#5081 imagebuildah,multi-stage: do not remove base-image when built without `--layers`
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/multi-stage-only-base/Containerfile1
  tests/bud/multi-stage-only-base/Containerfile2
  tests/bud/multi-stage-only-base/Containerfile3
Labels: approved, lgtm

#5085 Vendor containers/common main
  go.mod
  go.sum
  internal/util/util.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/define/platform.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/libimage/platform/platform.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/db_backend.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5083 chroot.setupChrootBindMounts: pay more attention to flags
  chroot/run_linux.go
  chroot/run_test.go
  chroot/seccomp.go
  chroot/seccomp_freebsd.go
  chroot/seccomp_unsupported.go
  tests/chroot.bats
  tests/helpers.bash
Labels: approved, lgtm, kind/cleanup

#5100 [release-1.32] tag v1.32.1
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#5101 vendor c/common: appendable containers.conf strings, Part 1
  go.mod
  go.sum
  imagebuildah/executor.go
  internal/mkcw/embed/entrypoint.gz
  pkg/cli/common.go
  vendor/github.com/containers/common/internal/attributedstring/slice.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/events.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/history.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/image_config.go
  vendor/github.com/containers/common/libimage/image_tree.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/inspect.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/oci.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/fsnotify/fsnotify/.cirrus.yml
  vendor/github.com/fsnotify/fsnotify/.gitignore
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/backend_fen.go
  vendor/github.com/fsnotify/fsnotify/backend_inotify.go
  vendor/github.com/fsnotify/fsnotify/backend_kqueue.go
  vendor/github.com/fsnotify/fsnotify/backend_other.go
  vendor/github.com/fsnotify/fsnotify/backend_windows.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/mkdoc.zsh
  vendor/modules.txt
Labels: kind/feature, approved, lgtm

#5094 Add --no-hostname option to buildah containers
  cmd/buildah/run.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-run.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/common.go
  pkg/parse/parse.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
  tests/bud/no-hostname/Containerfile
  tests/bud/no-hostname/Containerfile.noetc
  tests/run.bats
Labels: approved, lgtm

#5103 container.conf: support attributed string slices
  cmd/buildah/from.go
  cmd/buildah/main.go
  go.mod
  go.sum
  imagebuildah/executor.go
  internal/mkcw/embed/entrypoint.gz
  pkg/cli/common.go
  run_common.go
  run_freebsd.go
  run_linux.go
  vendor/github.com/containers/common/internal/attributedstring/slice.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: approved, lgtm

#5112 Log the platform for build errors during multi-platform builds
  imagebuildah/build.go
Labels: approved, lgtm, kind/other

#5111 Use mask definitions from containers/common @rhatdan
  go.mod
  go.sum
  internal/mkcw/embed/entrypoint.gz
  run_linux.go
  tests/run.bats
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/docker/docker/api/types/versions/compare.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/match_error_matcher.go
  vendor/modules.txt
Labels: approved, lgtm

#5113 Mask /sys/devices/virtual/powercap by default
  run_linux.go
Labels: kind/bug, approved, lgtm

#5114 [release-1.32] tag v1.32.2
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other

#5117 [release-1.31] bump to v1.31.4
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#5120 [release-1.28] run the cross-compile test on M1 MacOS, not Intel
  .cirrus.yml
  install.md
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm, kind/failing-test
