Repository containers/buildah, pull requests merged in 2023-07, with the labels that each got.

#4888 pkg/overlay: add limited support for FreeBSD
  pkg/overlay/overlay.go
  pkg/overlay/overlay_freebsd.go
  pkg/overlay/overlay_linux.go
  run_freebsd.go
Labels: kind/feature, approved, lgtm

#4907 [CI:BUILD] Packit: fix pre-sync action for downstream tasks
  rpm/buildah.spec
  rpm/update-spec-provides.sh
Labels: approved, lgtm, kind/other

#4905 contrib/buildahimage: set config correctly for rootless `build` user
  contrib/buildahimage/Containerfile
Labels: approved, lgtm

#4924 [CI:BUILD] Packit: downstream task script needs GOPATH
  rpm/update-spec-provides.sh
Labels: approved, lgtm

#4926 [CI:BUILD] Packit: remove pre-sync action
  .packit.yaml
  rpm/buildah.spec
  rpm/update-spec-provides.sh
Labels: approved, lgtm

#4931 [release-1.31] Bump c/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4946 CI:BUILD] RPM: define gobuild macro for rhel/centos stream
  rpm/buildah.spec
Labels: approved, lgtm, kind/failing-test
