Repository containers/buildah, pull requests merged in 2023-02, with the labels that each got.

#4552 conformance: use `scratch` for minimal test and unblock CI
  tests/conformance/testdata/dockerignore/minimal_test/Dockerfile
Labels: approved, lgtm, do-not-merge/hold

#4550 pkg/parse: expose public `CleanCacheMount` API
  pkg/parse/parse.go
Labels: approved, lgtm

#4558 login: support interspersed args for password from `stdin`
  cmd/buildah/build.go
  cmd/buildah/login.go
  tests/authenticate.bats
Labels: approved, lgtm

#4574 [release-1.29] Update to c/image 5.24.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/docker/body_reader.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4571 Run codespell on codebase
  imagebuildah/stage_executor.go
  internal/util/util.go
  pkg/cli/build.go
  tests/bud.bats
Labels: approved, lgtm

#4597 [release-1.29] Bump to Buildah v1.29.1
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4596 Temporarily hard-skip bud-multiple-platform-values test
  tests/bud.bats
Labels: approved, lgtm

#4598 [CI:DOCS] Skip subject-length validation for renovate PRs
  .github/workflows/pr.yml
Labels: approved, lgtm, kind/failing-test

#4584 [CI:DOCS] Fix documentation on which Capabilities are allowed by default
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  docs/buildah-run.1.md
Labels: approved, lgtm

#4439 [CI:BUILD] copr: fix el8 builds
  buildah.spec.rpkg
Labels: approved, lgtm, kind/other

#4602 imagebuildah.StageExecutor: suppress bogus "Pushing cache []:..." messages
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#4611 docs/tutorials/04: add defaults for Run()
  docs/tutorials/04-include-in-your-build-tool.md
  run_freebsd.go
  run_linux.go
  tests/bud.bats
Labels: kind/documentation, approved, lgtm

#4618 Ignore the base image's base image annotations
  buildah.go
  config.go
  imagebuildah/stage_executor.go
  new.go
  tests/bud.bats
  tests/bud/multi-stage-builds/Dockerfile.reused2
Labels: kind/bug, approved, lgtm
