Repository containers/buildah, pull requests merged in 2023-03, with the labels that each got.

#4578 executor,copy: honor default ARG value while eval stage in `COPY` stmts
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/multi-stage-builds/Dockerfile.arg_in_copy
Labels: approved, lgtm

#4634 executor: don't warn about unused `TARGETARCH`,`TARGETOS`,`TARGETPLATFORM`
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/targetarch/Dockerfile
Labels: approved, lgtm

#4629 [CI:DOCS] Fix tutorial for rootless mode
  docs/tutorials/01-intro.md
Labels: kind/documentation, lgtm

#4637 sshagent: use `ExtendedAgent` instead of `Agent`
  pkg/sshagent/sshagent.go
Labels: approved, lgtm

#4644 [CI:DOCS] build: document behaviour of buildah's distributed cache
  docs/buildah-build.1.md
Labels: approved, lgtm

#4643 Add default list of capabilities required to run buildah in a container
  contrib/buildahimage/Containerfile
Labels: approved, lgtm

#4650 stage_executor,cache-to: attempt to push cache only when `cacheKey` is valid
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#4566 run: add support for inline `--network` in `RUN` statements
  go.mod
  go.sum
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/inline-network/Dockerfile1
  tests/bud/inline-network/Dockerfile2
  tests/bud/inline-network/Dockerfile3
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/modules.txt
Labels: approved, lgtm

#4610 Replace Ubuntu -> Debian SID
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup.sh
  contrib/cirrus/test.sh
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/other

#4665 Re-enable conformance tests
  tests/conformance/README.md
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#4663 Fix requiring tests on Makefile changes
  tests/validate/pr-should-include-tests
Labels: approved, lgtm, kind/other

#4670 [CI:DOCS] Disable dependabot in favor of renovate
  .github/dependabot.yml
Labels: approved, lgtm, kind/other

#4662 Update to Go 1.18
  .cirrus.yml
  Makefile
  go.mod
Labels: approved, lgtm

#4660 imagebuildah: set len(short_image_id) to 12
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#4681 [CI:BUILD] Packit: Enable Copr builds on PR and commit to main
  .packit.sh
  .packit.yaml
  buildah.go
  define/types.go
Labels: approved, lgtm, kind/other

#4684 run_linux: Update heuristic for mounting /sys
  run_linux.go
  tests/run.bats
Labels: kind/bug, approved, lgtm

#4686 build: accept arguments from file with --build-arg-file
  docs/buildah-build.1.md
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/base-with-arg/first.args
  tests/bud/base-with-arg/second.args
Labels: approved, lgtm

#4673 imagebuildah: only apply label on the final image instead of intermediate images
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#4690 update build instruction for Ubuntu
  install.md
Labels: kind/documentation, approved, lgtm
