Repository containers/buildah, pull requests merged in 2023-01, with the labels that each got.

#4452 build, mount: allow realtive mountpoints wrt to work dir for `--mount=type=cache` and `--mount=type=bind`
  cmd/buildah/run.go
  internal/parse/parse.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
Labels: approved, lgtm

#4490 buildah: add `buildah prune` command and expose `CleanCacheMount` API
  cmd/buildah/prune.go
  docs/buildah-prune.1.md
  docs/buildah.1.md
  internal/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#4502 system tests: remove unhelpful assertions
  tests/basic.bats
  tests/bud.bats
  tests/commit.bats
  tests/help.bats
  tests/images.bats
  tests/lists.bats
  tests/namespaces.bats
  tests/overlay.bats
  tests/pull.bats
  tests/rmi.bats
  tests/run.bats
  tests/selinux.bats
  tests/source.bats
Labels: approved, lgtm

#4508 [release-1.28] Bump to c/storage v1.43.1 for s390x sigsegv fix
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/idmapped_utils.go
  vendor/modules.txt
Labels: approved, lgtm, do-not-merge/hold

#4500 [release-1.24] [CI:BUILD] Cirrus: Migrate OSX task to M1
  .cirrus.yml
Labels: approved, lgtm

#4482 [CI:DOCS] Update buildah-build.1.md
  docs/buildah-build.1.md
Labels: kind/documentation, approved, lgtm

#4509 build, secret: allow relative mountpoints wrt to work dir for `--mount=type=secret`
  run_common.go
  tests/bud.bats
  tests/bud/secret-relative/Dockerfile
  tests/bud/secret-relative/secret1.txt
  tests/bud/secret-relative/secret2.txt
Labels: approved, lgtm

#4511 bud: Consolidate multiple synthetic LABEL instructions
  docs/buildah-build.1.md
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/env/Dockerfile.env-precedence
  tests/conformance/conformance_test.go
  tests/conformance/testdata/env/precedence/Dockerfile
Labels: approved, lgtm, kind/other

#4514 [CI:BUILD] Fix multiarch manifest-list build failures
  .cirrus.yml
  contrib/buildahimage/Containerfile
Labels: approved, lgtm, kind/other

#4519 [CI:DOCS] README: drop sudo
  README.md
Labels: approved, lgtm

#4523 tests: change the runtime-flag test for crun
  tests/run.bats
Labels: approved, lgtm, kind/failing-test

#4518 [release-1.28] vendor: update c/storage to v1.43.2
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/modules.txt
Labels: approved

#4526 stage_executor: while mounting stages make sure freshly built stage is used
  imagebuildah/stage_executor.go
  internal/types.go
  tests/bud.bats
Labels: approved, lgtm

#4535 [CI:DOCS] Fix two diversity issues in a tutorial
  docs/tutorials/03-on-build.md
Labels: approved, lgtm

#4537 Flake 3710 has been closed. Reenable the test.
  tests/bud.bats
Labels: approved

#4541 Bump c/storagev1.45.3, c/imagev5.24.0, c/commonv0.51.0
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/signature/fulcio_cert.go
  vendor/github.com/containers/image/v5/signature/policy_config.go
  vendor/github.com/containers/image/v5/signature/policy_config_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_eval_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_types.go
  vendor/github.com/containers/image/v5/signature/sigstore/copied.go
  vendor/github.com/containers/image/v5/signature/sigstore/generate.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/libtrust/CODE-OF-CONDUCT.md
  vendor/github.com/containers/libtrust/SECURITY.md
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/github.com/sigstore/fulcio/COPYRIGHT.txt
  vendor/github.com/sigstore/fulcio/LICENSE
  vendor/github.com/sigstore/fulcio/pkg/certificate/doc.go
  vendor/github.com/sigstore/fulcio/pkg/certificate/extensions.go
  vendor/modules.txt
Labels: approved, lgtm

#4531 tests: improve build-with-network-test
  tests/bud.bats
Labels: approved, lgtm, kind/failing-test

#4542 Bump 1.29.0
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4546 docs: specify order preference for FROM when using multiple `containerfiles`
  docs/buildah-build.1.md
Labels: approved, lgtm
