Repository containers/buildah, pull requests merged in 2023-09, with the labels that each got.

#5020 [CI:DOCS] docs: use valid github repo
  docs/buildah-build.1.md
Labels: approved, lgtm

#5025 Don't try to look up names when committing images
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/commit/name-path-changes/Dockerfile
Labels: kind/bug, approved, lgtm

#5032 Make sure that pathnames picked up from the environment are absolute
  internal/util/util.go
  pkg/parse/parse.go
  pkg/sshagent/sshagent.go
Labels: approved, lgtm, kind/other

#5039 Move code around to not require libimage
  cmd/buildah/prune.go
  cmd/buildah/run.go
  copier/copier.go
  copier/hardlink_not_uint64.go
  copier/hardlink_uint64.go
  copier/hardlink_unix.go
  copier/hardlink_windows.go
  imagebuildah/stage_executor.go
  internal/parse/parse.go
  internal/tmpdir/tmpdir.go
  internal/util/util.go
  internal/volumes/volumes.go
  pkg/parse/parse.go
  pkg/volumes/volumes.go
  run_common.go
  run_linux.go
  util/util_unix.go
  util/util_windows.go
Labels: approved, lgtm

#5006 Cirrus: Remove multi-arch buildah image builds
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5045 Run codespell on code
  Makefile
  buildah.go
  contrib/completions/bash/buildah
  run_common.go
  tests/bud.bats
Labels: approved, lgtm

#5043 GetTmpDir is not using ImageCopyTmpdir correctly
  internal/tmpdir/tmpdir.go
  internal/tmpdir/tmpdir_test.go
Labels: approved, lgtm, 4.7

#5046 Tag a v1.32.0 release
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other

#5048 [release-1.32] .cirrus.yml: run tests relative to the release-1.32 branch
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5050 add/copy: make sure we handle relative path names correctly
  add.go
  tests/copy.bats
Labels: kind/bug, approved, lgtm

#5054 Removing selinux_tag.sh as no longer needed after 580356f
  selinux_tag.sh
Labels: approved, lgtm

#5057 vendor of containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/util/filters.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/password/password_supported.go
  vendor/github.com/containers/common/pkg/password/password_windows.go
  vendor/github.com/containers/common/pkg/util/copy.go
  vendor/github.com/containers/common/pkg/util/util.go
  vendor/github.com/containers/common/pkg/util/util_supported.go
  vendor/github.com/containers/common/pkg/util/util_windows.go
  vendor/github.com/containers/common/pkg/version/version.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#5031 stage_executor: allow images without layers
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#5060 [CI:BUILD] Packit: tag @packit-build team on copr build failures
  .packit.yaml
Labels: approved, lgtm, kind/other

#5062 build,config: add support for `--unsetlabel`
  cmd/buildah/config.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-config.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/base-with-labels/Containerfile
  tests/config.bats
Labels: approved, lgtm

#5021 imagebuildah: consider ignorefile with --build-context
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#5066 [CI:DOCS] Protocol can be specified with --port. Ex. --port 514/udp
  docs/buildah-config.1.md
Labels: kind/documentation, approved, lgtm
