Repository containers/buildah, pull requests merged in 2023-05, with the labels that each got.

#4765 parse: filter edge-case for podman-remote
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#4770 [release-1.27] Cirrus: Add CI self-destruct condition on EOL date
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/other

#4752 Fix an overflow on retries on container name conflicts
  new.go
Labels: lgtm

#4771 [release-1.29] Cirrus: Add CI self-destruct condition on EOL date
  contrib/cirrus/setup.sh
Labels: approved, lgtm, kind/other

#4773 [CI:DOCS] Cirrus: Fix meta task failing to find commit
  .cirrus.yml
Labels: approved, lgtm, kind/other

#4767 manifest, push: use `source` as `destination` if not specified
  cmd/buildah/manifest.go
  tests/push.bats
Labels: approved, lgtm

#4755 run,mount: remove path only if they didnt pre-exist
  run_common.go
  tests/bud.bats
  tests/bud/verify-cleanup/Dockerfile
  tests/bud/verify-cleanup/hey
  tests/bud/verify-cleanup/secret1.txt
Labels: approved, lgtm, buildkit

#4791 secret: accept `required` flag without value
  run_common.go
  tests/bud.bats
  tests/bud/run-mounts/Dockerfile.secret-required-false
  tests/bud/run-mounts/Dockerfile.secret-required-wo-value
Labels: approved, lgtm, buildkit

#4792 build: validate volumes on backend
  imagebuildah/build.go
  pkg/parse/parse.go
Labels: approved, lgtm

#4790 chroot, run: drop Pdeathsig
  chroot/run_common.go
  run_common.go
  run_freebsd.go
  run_linux.go
Labels: kind/bug, approved, lgtm

#4806 vendor: bump logrus to `v1.9.2`
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Labels: approved, lgtm

#4807 test: use debian instead of docker.io/library/debian:testing-slim
  tests/bud/verify-cleanup/Dockerfile
Labels: approved, lgtm

#4808 [release-1.29] Cirrus: Increase conformance-test timeout
  .cirrus.yml
Labels: approved, lgtm, kind/flake

#4813 Go back to setting SysProcAttr.Pdeathsig for child processes
  run_common.go
  run_linux.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm, do-not-merge/hold

#4815 Fix auth.json path (validated on Fedora 38)
  docs/buildah-login.1.md
  docs/buildah-logout.1.md
Labels: kind/documentation, approved, lgtm

#4819 remove `registry.centos.org` since its decommissioned
  install.md
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4817 executor: apply label to only final stage via `--label`
  imagebuildah/executor.go
  tests/bud.bats
Labels: approved, lgtm

#4818 vendor: bump c/storage to `55ee2d19292f`
  go.mod
  go.sum
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/.golangci.yml
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/driver_darwin.go
  vendor/github.com/containers/storage/drivers/driver_freebsd.go
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/github.com/containers/storage/drivers/driver_solaris.go
  vendor/github.com/containers/storage/drivers/driver_unsupported.go
  vendor/github.com/containers/storage/drivers/driver_windows.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/containers/storage/types/storage_test.conf
  vendor/github.com/mistifyio/go-zfs/v3/utils.go
  vendor/github.com/mistifyio/go-zfs/v3/utils_notsolaris.go
  vendor/github.com/mistifyio/go-zfs/v3/utils_solaris.go
  vendor/github.com/mistifyio/go-zfs/v3/zpool.go
  vendor/modules.txt
Labels: approved, lgtm

#4825 [release-1.29] remove registry.centos.org
  install.md
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4826 [release-1.27] remove registry.centos.org
  install.md
  tests/conformance/README.md
  tests/conformance/testdata/Dockerfile.reusebase
  tests/conformance/testdata/Dockerfile.shell
  tests/conformance/testdata/copy/Dockerfile
  tests/conformance/testdata/copydir/Dockerfile
  tests/conformance/testdata/copyrename/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile
  tests/conformance/testdata/copysymlink/Dockerfile2
  tests/test_buildah_rpm.sh
Labels: approved, lgtm

#4823 Add a warning to `build --secret` docs
  docs/buildah-build.1.md
Labels: kind/documentation, approved, lgtm
