Repository containers/buildah, pull requests merged in 2023-12, with the labels that each got.

#5203 [CI:DOCS] man pages: underscores, too-wide lines
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-from.1.md
  docs/buildah-login.1.md
  docs/buildah-logout.1.md
  docs/buildah-manifest-add.1.md
  docs/buildah-pull.1.md
  docs/buildah-push.1.md
Labels: approved, lgtm

#5222 Bump 1.34.0
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#5197 Ignore errors if label.Relabel returns ENOSUP
  internal/mkcw/embed/entrypoint_amd64.gz
  run_common.go
  run_linux.go
Labels: approved, lgtm

#5224 mkcw: populate the rootfs using an overlay
  convertcw.go
  convertcw_test.go
  define/types.go
  image.go
  internal/mkcw/archive.go
  pkg/overlay/overlay.go
  pkg/overlay/overlay_freebsd.go
  pkg/overlay/overlay_linux.go
  pkg/overlay/overlay_unsupported.go
  tests/mkcw.bats
Labels: approved, lgtm, kind/design

#5226 commit: add a --add-file flag
  cmd/buildah/commit.go
  commit.go
  docs/buildah-commit.1.md
  image.go
  tests/commit.bats
Labels: kind/feature, approved, lgtm

#5228 manifest: addCompression use default from containers.conf
  cmd/buildah/from.go
  cmd/buildah/main.go
  cmd/buildah/manifest.go
  internal/mkcw/embed/entrypoint_amd64.gz
  tests/bud.bats
Labels: approved, lgtm

#5230 [CI:DOCS] Document use of containers-transports values in buildah
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-push.1.md
Labels: approved, lgtm
