Repository containers/buildah, pull requests merged in 2023-08, with the labels that each got.

#4945 Ensure created ImageSource / ImageDestination objects are closed
  internal/source/create.go
  internal/source/pull.go
  internal/source/push.go
  internal/source/source.go
Labels: approved, lgtm

#4940 buildah: add `--layer-label` for setting labels on intermediate images
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/simple-multi-step/Containerfile
Labels: approved, lgtm

#4872 Cirrus: container/rootless env. var. passthrough
  contrib/cirrus/lib.sh
  contrib/cirrus/test.sh
Labels: approved, lgtm, kind/other

#4955 Update install.md changes to reflect current Debian stable version name
  install.md
Labels: kind/documentation, approved, lgtm

#4964 [CI:BUILD] Packit: add fedora-eln targets and build docs with vendored go-md2man
  .packit.yaml
  rpm/buildah.spec
Labels: approved, lgtm, kind/other

#4963 [CI:BUILD] Release 1.31 packit backport
  .packit.yaml
  rpm/buildah.spec
  rpm/update-spec-provides.sh
Labels: approved, lgtm, kind/other

#4968 [release-1.31] Bump to 1.31.1, bump c/common to 0.55.3, remove zstd:chunked refs
  CHANGELOG.md
  changelog.txt
  define/types.go
  docs/buildah-push.1.md
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/config_freebsd.go
  vendor/github.com/containers/common/pkg/config/config_linux.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4969 [release-1.31] Bump to v1.31.2 and then to v1.31.3-dev
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#4971 [CI:BUILD] RPM: fix buildtags
  rpm/buildah.spec
Labels: approved, lgtm, kind/other

#4976 chroot: setSeccomp add support for `ArchPARISC(64)` and `ArchRISCV64`
  chroot/seccomp.go
Labels: approved, lgtm, kind/cleanup

#4979 make,cross: restore loong64
  Makefile
Labels: approved, lgtm, kind/cleanup

#4984 [CI:BUILD] rpm: spdx compatible license field
  rpm/buildah.spec
Labels: approved, lgtm

#4985 [CI:DOCS] Replace troff code with markdown in buildah-{copy,add}.1.md
  docs/buildah-add.1.md
  docs/buildah-copy.1.md
Labels: kind/documentation, approved, lgtm

#4983 executor: build-arg warnings must honor `global args`
  imagebuildah/executor.go
  tests/bud.bats
Labels: approved, lgtm

#4975 Clear CommonBuildOpts when loading Builder status
  buildah.go
  buildah_test.go
  import.go
Labels: kind/bug, approved, lgtm

#4994 Use buildah repo rather than podman repo
  tests/bud.bats
Labels: approved, lgtm

#4995 [release-1.31] c/storage 1.48.1, c/image 5.26.2, c/common 0.55.4, Buildah to 1.31.3, then 1.31.4-dev
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/modules.txt
Labels: approved, lgtm

#4997 pkg/chrootuser: Ignore comments when parsing /etc/group on FreeBSD
  pkg/chrootuser/user_test.go
  pkg/chrootuser/user_unix.go
Labels: approved, lgtm

#4991 [skip-ci] GHA: Closed issue/PR comment-lock test
  .github/workflows/discussion_lock.yml
Labels: approved, lgtm, kind/other

#5002 [skip-ci] GHA: Attempt to fix discussion_lock workflow
  .github/workflows/discussion_lock.yml
Labels: approved, lgtm, kind/other

#5004 [CI:DOCS] docs: add reference to oci-hooks
  docs/buildah-build.1.md
Labels: approved, lgtm

#5000 Support passing of ULimits as -1 to mean max
  pkg/util/resource_unix.go
  pkg/util/resource_unix_test.go
  pkg/util/resource_windows.go
  run_freebsd.go
  run_linux.go
Labels: approved, lgtm

#5001 Fixing the owner of the storage.conf.
  contrib/buildahimage/Containerfile
Labels: kind/bug, approved, lgtm

#5016 vendor containers/common@12405381ff45
  go.mod
  go.sum
  tests/pull.bats
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/define/manifests.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libnetwork/cni/run_freebsd.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_unsupported.go
  vendor/github.com/containers/common/pkg/config/default_windows.go
  vendor/github.com/containers/common/pkg/config/modules.go
  vendor/github.com/containers/common/pkg/config/new.go
  vendor/github.com/jinzhu/copier/.gitignore
  vendor/github.com/jinzhu/copier/README.md
  vendor/github.com/jinzhu/copier/copier.go
  vendor/github.com/jinzhu/copier/errors.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/event/tag/tag.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/modules.txt
Labels: approved, lgtm
