Repository containers/buildah, pull requests merged in 2023-11, with the labels that each got.

#5146 conformance: use require.NoErrorf() more
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/cleanup

#5147 createConfigsAndManifests: clear history before cw-specific logic
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  new.go
  new_test.go
  pkg/parse/parse.go
Labels: approved, lgtm, kind/cleanup

#5139 Update cirrus and version of golang
  .cirrus.yml
  Makefile
  go.mod
  go.sum
  internal/mkcw/embed/entrypoint.gz
Labels: approved, lgtm

#5162 Tweak some help descriptions
  pkg/cli/common.go
Labels: kind/documentation, approved, lgtm

#5165 conformance tests: use go-dockerclient for BuildKit builds
  tests/conformance/conformance_test.go
  tests/conformance/testdata/env/precedence/Dockerfile
Labels: approved, lgtm, kind/failing-test

#5174 Bump c/storage v1.51.0, c/image v5.29.0, c/common v0.57.0
  go.mod
  go.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/close_handle.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/console_size.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/process_modify_request.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/process_status.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/log/format.go
  vendor/github.com/Microsoft/hcsshim/internal/log/hook.go
  vendor/github.com/Microsoft/hcsshim/internal/log/nopformatter.go
  vendor/github.com/Microsoft/hcsshim/internal/protocol/guestrequest/types.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerutils.go
  vendor/github.com/Microsoft/hcsshim/layer.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/unshare/unshare_darwin.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_unsupported.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/modules.txt
Labels: approved, lgtm

#5171 conformance tests: archive the context directory as 0:0
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5169 pkg/util.MirrorToTempFileIfPathIsDescriptor(): don't leak an fd
  pkg/util/util.go
Labels: kind/bug, approved, lgtm

#5160 StageExecutor.Execute: force a commit for --unsetenv, too
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#5152 Implement ADD --checksum flag
  add.go
  cmd/buildah/addcopy.go
  docs/buildah-add.1.md
  docs/buildah-copy.1.md
  go.mod
  go.sum
  imagebuildah/stage_executor.go
  tests/add.bats
  tests/bud.bats
  tests/bud/add-checksum/Containerfile
  tests/bud/add-checksum/Containerfile.bad
  tests/bud/add-checksum/Containerfile.bad-checksum
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/dockerfile/parser/parser.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: kind/feature, approved, lgtm

#5154 [CI:DOCS] Pass secrets from the host down to internal podman containers
  contrib/buildahimage/Containerfile
Labels: approved, lgtm

#5153 blobcacheinfo,test: blobs must be resued when pushing across registry
  tests/blobcache.bats
Labels: approved, lgtm

#5156 Stop using DefaultNetworkSysctl and use containers.conf only
  define/types.go
  run_linux.go
  tests/containers_conf.bats
  util/types.go
Labels: approved, lgtm

#5092 buildah: add `heredoc` support for `RUN`, `COPY` and `ADD`
  go.mod
  go.sum
  imagebuildah/stage_executor.go
  internal/mkcw/embed/entrypoint.gz
  tests/bud.bats
  tests/bud/heredoc/Containerfile
  tests/bud/heredoc/Containerfile.bash_file
  tests/bud/heredoc/Containerfile.verify_mount_leak
  tests/conformance/conformance_test.go
  tests/conformance/testdata/heredoc/Dockerfile.heredoc_copy
  tests/conformance/testdata/heredoc/file
  vendor/github.com/containerd/typeurl/.gitignore
  vendor/github.com/containerd/typeurl/LICENSE
  vendor/github.com/containerd/typeurl/README.md
  vendor/github.com/containerd/typeurl/doc.go
  vendor/github.com/containerd/typeurl/types.go
  vendor/github.com/gogo/protobuf/sortkeys/sortkeys.go
  vendor/github.com/gogo/protobuf/types/any.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/doc.go
  vendor/github.com/gogo/protobuf/types/duration.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/duration_gogo.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/protosize.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp_gogo.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers_gogo.go
  vendor/github.com/moby/buildkit/AUTHORS
  vendor/github.com/moby/buildkit/LICENSE
  vendor/github.com/moby/buildkit/frontend/dockerfile/command/command.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/errors.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/line_parsers.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/split_command.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/envVarTest
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_unix.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_windows.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/wordsTest
  vendor/github.com/moby/buildkit/util/stack/generate.go
  vendor/github.com/moby/buildkit/util/stack/stack.go
  vendor/github.com/moby/buildkit/util/stack/stack.pb.go
  vendor/github.com/moby/buildkit/util/stack/stack.proto
  vendor/github.com/openshift/imagebuilder/Makefile
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/dockerfile/parser/parser.go
  vendor/github.com/openshift/imagebuilder/evaluator.go
  vendor/modules.txt
Labels: approved, lgtm

#5150 Add OverrideChanges and OverrideConfig to CommitOptions
  Makefile
  cmd/buildah/commit.go
  cmd/buildah/config.go
  commit.go
  docs/buildah-commit.1.md
  image.go
  internal/config/convert.go
  internal/config/convert_test.go
  internal/config/executor.go
  internal/config/executor_test.go
  internal/config/override.go
  tests/conformance/conformance_test.go
Labels: kind/feature, approved, lgtm

#5161 Never omit layers for emptyLayer instructions when squashing/cwing
  image.go
  tests/mkcw.bats
Labels: kind/bug, approved, lgtm

#5178 Bump 1.33.0
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#5179 test,heredoc: use `fedora` instead of `docker.io/library/python:latest`
  tests/bud/heredoc/Containerfile
Labels: approved, lgtm

#5181 Bump 1.31.1
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved

#5182 Bump to v1.33.1
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved

#5176 run: Allow using just one jail per container on FreeBSD
  pkg/jail/jail.go
  run_freebsd.go
Labels: approved, lgtm, kind/cleanup

#5183 set makefile target internal/mkcw/embed/entrypoint.gz as .PHONY on non x86_64
  Makefile
Labels: kind/bug, approved, lgtm

#5163 vendor: update c/{storage,image,common}
  cmd/buildah/common.go
  cmd/buildah/common_test.go
  cmd/buildah/main.go
  go.mod
  go.sum
  import.go
  tests/copy/copy.go
  tests/e2e/buildah_suite_test.go
  tests/imgtype/imgtype.go
  tests/tutorial/tutorial.go
  vendor/github.com/containers/common/libimage/inspect.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/util/util_supported.go
  vendor/github.com/containers/common/pkg/util/util_windows.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/storage/storage_transport.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/homedir/homedir.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_others.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_unix.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/containers/storage/types/utils.go
  vendor/github.com/containers/storage/utils.go
  vendor/modules.txt
Labels: approved, lgtm

#5189 [release-1.33.2] Bump to v1.33.2
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#5192 Integration tests: make skip_if_no_unshare check --map-users
  tests/helpers.bash
Labels: approved, lgtm, kind/failing-test

#5195 internal/mkcw/embed/entrypoint.gz: compress with -n9
  Makefile
  internal/mkcw/embed/entrypoint_amd64.gz
  internal/mkcw/embed/entrypoint_amd64.s
  internal/mkcw/entrypoint.go
  tests/run.bats
Labels: approved, lgtm, kind/other
