Repository containers/buildah, pull requests merged in 2023-04, with the labels that each got.

#4701 [release-1.29] Bump to c/common v0.51.2
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/auth/cli.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#4699 [CI:DOCS] buildah image should not enable fuse-overlayfs for rootful mode
  contrib/buildahimage/Containerfile
Labels: approved, lgtm

#4702 Pass process environment variables by reference
  cmd/buildah/run.go
  imagebuildah/executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/cli/common_test.go
  tests/bud.bats
  tests/run.bats
Labels: approved, lgtm, kind/api-change

#4726 Bump to v1.30.0
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved

#4722 Revert "buildah image should not enable fuse-overlayfs for rootful mode"
  contrib/buildahimage/Containerfile
Labels: approved, lgtm

#4731 [CI:DOCS] Renovate: Ensure test/tools/go.mod is managed
  .github/renovate.json5
Labels: approved, lgtm, kind/other

#4738 [CI:DOCS] Clarify the need for qemu-user-static package
  docs/buildah-build.1.md
Labels: approved, lgtm

#4705 parse: add support for relabel bind mount option
  internal/parse/parse.go
Labels: kind/bug, approved, lgtm

#4760 makefile: increase conformance timeout
  .cirrus.yml
  Makefile
Labels: approved, lgtm

#4757 build: `--platform` must accept only arch
  docs/buildah-build.1.md
  pkg/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm
