Repository containers/buildah, pull requests merged in 2024-02, with the labels that each got.

#5316 [release-1.33] Bump c/image to v0.57.4, moby/buildkit to v012.5, and Buildah to v1.33.5
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  internal/mkcw/embed/entrypoint.gz
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#5313 imagebuildah: fix crash with empty RUN
  imagebuildah/stage_executor.go
  tests/run.bats
Labels: kind/bug, approved, lgtm

#5315 manifest, push: add support for `--retry` and `--retry-delay`
  cmd/buildah/manifest.go
  docs/buildah-manifest-push.1.md
  tests/lists.bats
Labels: approved, lgtm, 5.0

#5275 Make buildah match podman for handling of ulimits
  define/types.go
  run_linux.go
  tests/bud.bats
  tests/bud/bud.limits/Containerfile
  tests/run.bats
Labels: approved, lgtm, 5.0

#5319 [CI:DOCS] docs: correct default authfile path
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-from.1.md
  docs/buildah-login.1.md
  docs/buildah-logout.1.md
  docs/buildah-manifest-add.1.md
  docs/buildah-pull.1.md
  docs/buildah-push.1.md
Labels: approved, lgtm

#5314 build, heredoc: show `heredoc` summary in build output
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm, 5.0

#5288 Split up error messages for missing --sbom related flags
  pkg/parse/parse.go
Labels: approved, lgtm, kind/other

#5328 Bump main to v1.35.0-dev
  define/types.go
Labels: approved, lgtm

#5335 build --all-platforms: skip some base "image" platforms
  imagebuildah/build.go
  tests/bud/from-base/Containerfile
  tests/lists.bats
Labels: kind/bug, approved, lgtm

#5338 [release-1.33] Bump to Buildah v1.33.6
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  internal/mkcw/embed/entrypoint.gz
  vendor/golang.org/x/crypto/argon2/blamka_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.go
  vendor/golang.org/x/crypto/blake2b/blake2bAVX2_amd64.s
  vendor/golang.org/x/crypto/blake2b/blake2b_amd64.go
  vendor/golang.org/x/crypto/blake2b/register.go
  vendor/golang.org/x/crypto/sha3/keccakf_amd64.s
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/golang.org/x/sys/unix/fcntl.go
  vendor/golang.org/x/sys/unix/ioctl_linux.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_bsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: approved, lgtm

#5339 Build with CNI support on FreeBSD
  Makefile
Labels: approved, lgtm, kind/other

#5343 [release-1.34] Cherry Pick a number of commits from main
  Makefile
  add.go
  add_common.go
  add_linux.go
  chroot/run_test.go
  cmd/buildah/commit.go
  cmd/buildah/from.go
  cmd/buildah/main.go
  cmd/buildah/manifest.go
  commit.go
  convertcw.go
  convertcw_test.go
  define/types.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-from.1.md
  docs/buildah-login.1.md
  docs/buildah-logout.1.md
  docs/buildah-manifest-add.1.md
  docs/buildah-pull.1.md
  docs/buildah-push.1.md
  docs/buildah-run.1.md
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/mkcw/archive.go
  internal/mkcw/embed/entrypoint_amd64.gz
  internal/source/add.go
  internal/util/util.go
  internal/volumes/volumes.go
  pkg/jail/jail.go
  pkg/jail/jail_test.go
  pkg/overlay/overlay.go
  pkg/overlay/overlay_freebsd.go
  pkg/overlay/overlay_linux.go
  pkg/overlay/overlay_unsupported.go
  pkg/parse/parse.go
  run_common.go
  run_linux.go
  tests/bud.bats
  tests/bud/bud.limits/Containerfile
  tests/bud/heredoc/Containerfile.she_bang
  tests/bud/no-history/Dockerfile
  tests/commit.bats
  tests/mkcw.bats
  tests/run.bats
Labels: approved, lgtm

#5347 Reduce official image size
  contrib/buildahimage/Containerfile
Labels: approved, lgtm, kind/other

#5352 Dev/tsweeney/buildah 1 34 1
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm

#5354 Properly handle build --pull=false
  pkg/parse/parse.go
  tests/bud.bats
  tests/from.bats
  tests/registries.bats
  tests/run.bats
Labels: kind/bug, approved, lgtm, 5.0

#5342 [CI:DOCS] Add comment re: Total Success task name
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5360 tests: skip_if_no_unshare(): check for --setuid
  tests/helpers.bash
Labels: approved, lgtm

#5364 [v1.33] tests: skip_if_no_unshare(): check for --setuid
  tests/helpers.bash
Labels: approved, lgtm

#5345 Use retry logic from containers/common
  .cirrus.yml
  cmd/buildah/addcopy.go
  cmd/buildah/from.go
  cmd/buildah/manifest.go
  cmd/buildah/pull.go
  cmd/buildah/push.go
  go.mod
  go.sum
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/containers_conf.bats
  tests/helpers.bash
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_windows.go
  vendor/github.com/containers/common/pkg/hooks/hooks.go
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/internal/imagedestination/stubs/put_blob_partial.go
  vendor/github.com/containers/image/v5/internal/private/private.go
  vendor/github.com/containers/image/v5/manifest/oci.go
  vendor/github.com/containers/image/v5/oci/archive/oci_dest.go
  vendor/github.com/containers/image/v5/openshift/openshift_dest.go
  vendor/github.com/containers/image/v5/pkg/blobcache/dest.go
  vendor/github.com/containers/image/v5/storage/storage_dest.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/storage/storage_src.go
  vendor/github.com/containers/storage/drivers/overlay/overlay_nocgo.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/fsverity/fsverity_unsupported.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm, 5.0

#5365 [v1.34] tests: skip_if_no_unshare(): check for --setuid
  tests/helpers.bash
Labels: approved, lgtm

#5366 manifest add: complain if we get artifact flags without --artifact
  cmd/buildah/manifest.go
Labels: approved, lgtm, kind/other
