Repository containers/buildah, pull requests merged in 2024-04, with the labels that each got.

#5443 Add support for passing CDI specs to --device
  buildah.go
  cmd/buildah/from.go
  cmd/buildah/run.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  docs/buildah-run.1.md
  go.mod
  go.sum
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  new.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/parse/parse_unix.go
  run.go
  run_linux.go
  tests/bud/cdi/Dockerfile
  tests/bud/cdi/containers-cdi.yaml
  tests/cdi.bats
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/internal/multierror/multierror.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/objectmeta.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/validation.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/validate.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/annotations.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache_test_unix.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache_test_windows.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits_unix.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits_windows.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/device.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/doc.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/qualified-device.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/registry.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec-dirs.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec_linux.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec_other.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/version.go
  vendor/tags.cncf.io/container-device-interface/specs-go/LICENSE
  vendor/tags.cncf.io/container-device-interface/specs-go/config.go
  vendor/tags.cncf.io/container-device-interface/specs-go/oci.go
Labels: kind/feature, approved, lgtm

#5446 Makefile: softcode `strip`, use it from env var
  Makefile
Labels: kind/bug, approved, lgtm

#5445 Fix caching when mounting a cached stage with COPY/ADD
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/cache-from-stage/Containerfile
  tests/bud/cache-from-stage/testfile
Labels: kind/bug, approved, lgtm

#5451 [release-1.24] CVE-2024-1753, Bump to Buildah v1.24.7
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  internal/parse/parse.go
  tests/bud.bats
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#5454 source-push: add support for `--digestfile`
  cmd/buildah/source.go
  docs/buildah-source-push.1.md
  internal/source/push.go
  tests/source.bats
Labels: approved, lgtm

#5457 Update install.md
  install.md
Labels: approved

#5450 [release-1.26] CVE-2024-1753, Bump to Buildah v1.26.7
  .cirrus.yml
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  internal/parse/parse.go
  tests/bud.bats
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#5459 heredoc: honor inline `COPY` irrespective of `.containerignore` file
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/heredoc-ignore/.containerignore
  tests/bud/heredoc-ignore/Containerfile
Labels: approved, lgtm

#5466 [skip-ci] Fix issue/pr lock workflow
  .github/workflows/issue_pr_lock.yml
Labels: approved, lgtm, kind/other

#5467 [release-1.35] Bump ocicrypt and go-jose CVE-2024-28180
  go.mod
  go.sum
  vendor/github.com/containers/ocicrypt/keywrap/jwe/keywrapper_jwe.go
  vendor/github.com/containers/ocicrypt/utils/testing.go
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/modules.txt
Labels: approved, lgtm

#5482 [release-1.33] Bump go-jose CVE-2024-28180
  go.mod
  go.sum
  vendor/gopkg.in/go-jose/go-jose.v2/CHANGELOG.md
  vendor/gopkg.in/go-jose/go-jose.v2/README.md
  vendor/gopkg.in/go-jose/go-jose.v2/asymmetric.go
  vendor/gopkg.in/go-jose/go-jose.v2/crypter.go
  vendor/gopkg.in/go-jose/go-jose.v2/encoding.go
  vendor/gopkg.in/go-jose/go-jose.v2/symmetric.go
  vendor/modules.txt
Labels: approved, lgtm

#5480 Integration tests: fixup use of _prefetch
  .cirrus.yml
  tests/add.bats
  tests/bud.bats
  tests/bud/cache-mount-locked/Containerfile
  tests/containers_conf.bats
  tests/from.bats
  tests/helpers.bash
  tests/overlay.bats
  tests/run.bats
Labels: approved, lgtm, kind/cleanup

#5484 Switch packit configuration to use epel-9-$arch instead of centos-stream+epel-next-9-$arch
  .packit.yaml
Labels: approved, lgtm, kind/failing-test, No New Tests

#5487 integration test: handle new labels in "bud and test --unsetlabel"
  tests/bud.bats
  tests/config.bats
Labels: approved, lgtm, kind/failing-test

#5437 [CI:DOCS] Add golang 1.21 update warning
  go.mod
Labels: approved, lgtm, kind/other

#5496 Makefile: add missing files to $(SOURCES)
  Makefile
Labels: approved, lgtm, kind/other
