Repository containers/buildah, pull requests merged in 2024-07, with the labels that each got.

#5583 Change default for podman build to --pull missing
  pkg/cli/common.go
Labels: approved, lgtm, stale-pr, No New Tests

#5604 imagebuildah: make traditional volume handling not the default
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
  tests/conformance/conformance_test.go
  tests/conformance/testdata/chown-volume/Dockerfile
  tests/conformance/testdata/volumerun/Dockerfile
Labels: approved, lgtm, kind/api-change

#5628 Replace libimage.LookupReferenceFunc with the manifests version
  define/build.go
  define/build_test.go
Labels: approved, lgtm, kind/api-change

#5629 Revert #5627
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/internal/manifest/oci_index.go
  vendor/github.com/containers/image/v5/pkg/blobinfocache/default.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/signature/mechanism_openpgp.go
  vendor/github.com/containers/image/v5/storage/storage_dest.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5584 CI: use local registry
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup.sh
  tests/NEW-IMAGES
  tests/bud.bats
  tests/bud/copy-chown/Containerfile.chown_user
  tests/bud/verify-cleanup/Dockerfile
  tests/copy.bats
  tests/digest.bats
  tests/e2e/buildah_suite_test.go
  tests/from.bats
  tests/helpers.bash
  tests/mkcw.bats
  tests/pull.bats
  tests/registries-cached.conf
  tests/run.bats
Labels: approved, lgtm

#5641 Update github.com/openshift/imagebuilder to v1.2.14
  go.mod
  go.sum
  imagebuildah/build.go
  imagebuildah/executor.go
  tests/bud.bats
  tests/bud/base-with-arg/Containerfile2
  tests/bud/multiarch/Dockerfile.no-run
  tests/conformance/conformance_test.go
  tests/conformance/testdata/builtins/Dockerfile
  tests/conformance/testdata/builtins/otherfile.txt
  tests/conformance/testdata/builtins/sourcefile.txt
  tests/conformance/testdata/header-builtin/Dockerfile
  vendor/github.com/containerd/containerd/errdefs/errdefs_deprecated.go
  vendor/github.com/openshift/imagebuilder/.travis.yml
  vendor/github.com/openshift/imagebuilder/README.md
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/github.com/openshift/imagebuilder/shell_parser.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5651 Bump to Buildah v1.37.0
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/Microsoft/hcsshim/hnsaccelnet.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsaccelnet.go
  vendor/github.com/Microsoft/hcsshim/internal/hns/hnsendpoint.go
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libimage/types.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/copy/compression.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/pkg/blobinfocache/memory/memory.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/composefs.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/pkg/archive/changes_linux.go
  vendor/github.com/containers/storage/pkg/archive/filter.go
  vendor/github.com/containers/storage/pkg/chunked/cache_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compressor/compressor.go
  vendor/github.com/containers/storage/pkg/chunked/dump/dump.go
  vendor/github.com/containers/storage/pkg/chunked/internal/compression.go
  vendor/github.com/containers/storage/pkg/chunked/tar_split_linux.go
  vendor/github.com/containers/storage/pkg/loopback/attach_loopback.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/vbauerster/mpb/v8/bar_filler_bar.go
  vendor/github.com/vbauerster/mpb/v8/decor/eta.go
  vendor/github.com/vbauerster/mpb/v8/decor/percentage.go
  vendor/github.com/vbauerster/mpb/v8/decor/speed.go
  vendor/github.com/vbauerster/mpb/v8/internal/percentage.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#5646 AddAndCopyOptions: add CertPath, InsecureSkipTLSVerify, Retry fields
  add.go
  cmd/buildah/addcopy.go
  common.go
  docs/buildah-add.1.md
  docs/buildah-build.1.md
  docs/buildah-copy.1.md
  go.mod
  imagebuildah/stage_executor.go
  tests/add.bats
  tests/bud.bats
  tests/helpers.bash
  tests/serve/serve.go
Labels: kind/feature, approved, lgtm

#5647 Add PrependedLinkedLayers/AppendedLinkedLayers to CommitOptions
  buildah.go
  commit.go
  commit_test.go
  config.go
  image.go
Labels: kind/feature, approved, lgtm
