Repository containers/buildah, pull requests merged in 2024-09, with the labels that each got.

#5715 Update to go 1.22
  .cirrus.yml
  .packit.yaml
  go.mod
Labels: approved, lgtm, kind/other

#5438 add: add support for git sources
  add.go
  define/types.go
  tests/bud.bats
Labels: approved, lgtm

#5728 `manifest add --artifact`: handle multiple values
  cmd/buildah/manifest.go
  tests/lists.bats
Labels: kind/bug, approved, lgtm

#5731 build: fall back to parsing a TARGETPLATFORM build-arg
  imagebuildah/build.go
  tests/bud.bats
Labels: kind/feature, approved, lgtm

#5730 [skip-ci] Packit: Enable sidetags for bodhi updates
  .packit.yaml
Labels: approved, lgtm, kind/other

#5729 imagebuildah.StageExecutor: clean up volumes/volumeCache
  cmd/buildah/build.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/preserve-volumes/Dockerfile
  tests/bud/volume-perms/Dockerfile
Labels: approved, lgtm

#5732 In a container, try to register binfmt_misc
  Makefile
  pkg/binfmt/binfmt.go
  pkg/binfmt/binfmt_unsupported.go
  run_linux.go
Labels: kind/feature, approved, lgtm, No New Tests

#5740 [release-1.37] imagebuildah.StageExecutor: clean up volumes/volumeCache
  cmd/buildah/build.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/preserve-volumes/Dockerfile
  tests/bud/volume-perms/Dockerfile
Labels: approved, lgtm

#5735 [skip-ci] Release 1.37 packit backports
  .packit.yaml
Labels: approved, lgtm, kind/other

#5741 Do not error on trying to write IMA xattr as rootless
  .cirrus.yml
  copier/xattrs.go
  tests/add.bats
Labels: approved, lgtm

#5745 fix: remove duplicate conditions
  pkg/parse/parse.go
Labels: approved, lgtm, No New Tests

#5749 [release-1.37] Bump to Buildah v1.37.3
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#5734 [CI:DOCS] Document how entrypoint is configured in buildah config
  docs/buildah-config.1.md
Labels: approved, lgtm

#5757 buildah-manifest-create.1: Fix manpage section
  docs/buildah-manifest-create.1.md
Labels: approved, lgtm, kind/cleanup
