Repository containers/buildah, pull requests merged in 2024-01, with the labels that each got.

#5239 Replace strings.SplitN with strings.Cut
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/source/add.go
  internal/volumes/volumes.go
Labels: approved, lgtm, kind/cleanup

#5246 Bump CI VMs
  .cirrus.yml
Labels: approved, lgtm

#5238 Replace map[K]bool with map[K]struct{} where it makes sense
  chroot/run_test.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/util/util.go
  pkg/overlay/overlay.go
  pkg/parse/parse.go
Labels: approved, lgtm, kind/cleanup

#5257 [release-1.29] conformance test: ignore file type bits when comparing layers
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5260 [release-1.24] conformance test: ignore file type bits when comparing layers
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5262 [release-1.23] conformance test: ignore file type bits when comparing layers
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5264 [release-1.22] conformance test: ignore file type bits when comparing layers
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5265 [release-1.21] conformance test: ignore file type bits when comparing layers
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5261 stage_executor,layers: burst cache of `layers` if heredoc content is changed
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#5252 internal/mkcw.Archive(): handle extra image content
  cmd/buildah/mkcw.go
  convertcw.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  docs/buildah-mkcw.1.md
  image.go
  internal/mkcw/archive.go
  tests/mkcw.bats
Labels: kind/feature, approved, lgtm

#5276 commit: force omitHistory if the parent has layers but no history
  image.go
  tests/bud.bats
  tests/bud/no-history/Dockerfile
Labels: kind/bug, approved, lgtm

#5280 Bump c/image to v5.29.1, c/common to v0.57.2, and Buildah to v1.33.3
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  internal/mkcw/embed/entrypoint.gz
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/docker_transport.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#5279 build,commit: add --sbom to scan and produce SBOMs when committing
  Makefile
  buildah.go
  cmd/buildah/commit.go
  cmd/buildah/from.go
  commit.go
  define/build.go
  define/types.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  image.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/sbom/merge.go
  internal/sbom/merge_test.go
  internal/sbom/presets.go
  internal/sbom/presets_test.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/parse/parse.go
  scan.go
  tests/sbom.bats
Labels: kind/feature, approved, lgtm

#5255 stage_executor,heredoc: honor interpreter in heredoc
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/heredoc/Containerfile.she_bang
Labels: approved, lgtm

#5287 Use reversed logo for dark theme in README
  README.md
Labels: kind/documentation, approved, lgtm

#5291 tests: Remove a bad FROM line
  tests/bud.bats
  tests/bud/heredoc/Containerfile.she_bang
Labels: approved, lgtm

#5293 Fix a build break on FreeBSD
  add.go
  add_common.go
  add_linux.go
Labels: approved, lgtm, kind/cleanup

#5296 Fix FreeBSD version parsing
  pkg/jail/jail.go
  pkg/jail/jail_test.go
Labels: kind/bug, approved, lgtm, do-not-merge/hold

#5297 Run codespell on code
  Makefile
  commit.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#5303 [release-1.33] Bump c/image to v5.29.2, c/common to v0.57.3 and Buildah to 1.33.4
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  internal/mkcw/embed/entrypoint.gz
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/daemon/client.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#5305 [CI:DOCS] move footnotes to where they're applicable
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  docs/buildah-run.1.md
Labels: approved, lgtm

#5299 Allow users to specify no-dereference
  internal/volumes/volumes.go
Labels: approved, lgtm
