Repository containers/buildah, pull requests merged in 2024-11, with the labels that each got.

#5801 tests: blobcache: use unique image name
  tests/blobcache.bats
Labels: approved, lgtm

#5798 Handle RUN --mount with relative targets and no configured workdir
  internal/volumes/volumes.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#5804 tests: bud: make parallel-safe
  tests/bud.bats
  tests/helpers.bash
Labels: approved, lgtm

#5820 CI VMs: bump f40 -> f41
  .cirrus.yml
  tests/bud.bats
  tests/run.bats
Labels: approved, lgtm

#5835 Finish updating to go 1.22
  .cirrus.yml
  Makefile
  hack/check_vendor_toolchain.sh
Labels: approved, lgtm, kind/cleanup

#5832 (not just) Makefile cleanups
  .codespellrc
  Makefile
  copier/syscall_unix.go
  docs/buildah-build.1.md
  install.md
  nix/default-arm64.nix
  nix/default.nix
  pkg/parse/parse_test.go
  rpm/buildah.spec
  tests/source.bats
Labels: approved, lgtm

#5838 executor: allow to specify --no-pivot-root
  define/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
Labels: approved, lgtm, No New Tests

#5807 Makefile: list sources via `find` conditionally
  Makefile
  hack/makefile_sources
Labels: approved, lgtm, kind/other

#5841 Tests: make _prefetch() parallel-safe
  tests/helpers.bash
Labels: approved, lgtm
