Repository containers/buildah, pull requests merged in 2024-10, with the labels that each got.

#5759 Document that zstd:chunked is downgraded to zstd when encrypting
  docs/buildah-push.1.md
Labels: approved, lgtm

#5761 CVE-2024-9407: validate "bind-propagation" flag settings
  internal/volumes/volumes.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#5764 [release-1.37] Fix CVE-2024-9407 and CVE-2024-9341
  go.mod
  go.sum
  internal/volumes/volumes.go
  tests/bud.bats
  vendor/github.com/containers/common/pkg/netns/netns_linux.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: kind/bug, approved, lgtm

#5765 tests: add quotes to names
  tests/add.bats
  tests/bud.bats
  tests/chroot.bats
Labels: approved, lgtm

#5754 Don't set ambient caps; switch to moby/sys/capability
  chroot/run_linux.go
  cmd/buildah/unshare.go
  copier/copier_linux_test.go
  go.mod
  go.sum
  run_linux.go
  tests/testreport/testreport.go
  vendor/github.com/moby/sys/capability/.codespellrc
  vendor/github.com/moby/sys/capability/.golangci.yml
  vendor/github.com/moby/sys/capability/CHANGELOG.md
  vendor/github.com/moby/sys/capability/LICENSE
  vendor/github.com/moby/sys/capability/README.md
  vendor/github.com/moby/sys/capability/capability.go
  vendor/github.com/moby/sys/capability/capability_linux.go
  vendor/github.com/moby/sys/capability/capability_noop.go
  vendor/github.com/moby/sys/capability/enum.go
  vendor/github.com/moby/sys/capability/enum_gen.go
  vendor/github.com/moby/sys/capability/syscall_linux.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5766 [release-1.33] vendor: update c/common to v0.57.7
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#5755 Make `buildah manifest push --all` true by default
  cmd/buildah/manifest.go
  docs/buildah-manifest-push.1.md
  tests/lists.bats
Labels: kind/bug, approved, lgtm

#5768 [release-1.37] tag v1.37.4
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other, No New Tests

#5774 [skip-ci] Packit: constrain koji job to fedora package to avoid dupes
  .packit.yaml
Labels: approved, lgtm, kind/other

#5778 Properly validate cache IDs and sources
  internal/volumes/volumes.go
  tests/bud.bats
Labels: approved, lgtm

#5733 Add support for COPY --exclude and ADD --exclude options
  cmd/buildah/addcopy.go
  docs/buildah-add.1.md
  docs/buildah-copy.1.md
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/copy-exclude/Containerfile
  tests/bud/copy-exclude/Containerfile.missing
  tests/bud/copy-exclude/test1.txt
  tests/bud/copy-exclude/test2.txt
  tests/conformance/conformance_test.go
  tests/copy.bats
Labels: approved, lgtm

#5789 [release-1.37] Bump Buildah to v1.37.5
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#5787 [release-1.29] Properly validate cache IDs and sources
  CHANGELOG.md
  changelog.txt
  define/types.go
  internal/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#5784 Document more buildah build --secret options
  docs/buildah-build.1.md
  pkg/parse/parse.go
  run_common.go
  tests/bud.bats
Labels: kind/documentation, approved, lgtm, kind/other

#5790 [release-1.33] Address CVE-2024-9675, bump Buildah to v1.33.10
  CHANGELOG.md
  changelog.txt
  define/types.go
  internal/volumes/volumes.go
  tests/bud.bats
Labels: approved, lgtm

#5783 Integration tests: run git daemon on a random-but-bind()able port
  Makefile
  rpm/buildah.spec
  tests/helpers.bash
  tests/inet/inet.go
  tests/test_runner.sh
Labels: approved, lgtm, kind/flake

#5793 [release-1.37][CI:DOCS] touchup changelog
  changelog.txt
Labels: approved, lgtm, No New Tests

#5753 chroot: add newlines at the end of printed error messages
  chroot/run_common.go
Labels: approved, lgtm, kind/other, No New Tests

#5796 deps: bump runc to v1.2.0
  add.go
  add_common.go
  add_linux.go
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/cgroups.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/cpuacct.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/fs2.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux_go122.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_linux_fuzzer.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#5794 [release-1.26] Properly validate cache IDs and sources
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
  internal/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#5633 [release-1.36] Fixes Listing tags in JFrog Artifactory may fail
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  tests/chroot.bats
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, stale-pr, No New Tests

#5797 [release-1.27] Properly validate cache IDs and sources
  CHANGELOG.md
  changelog.txt
  define/types.go
  internal/parse/parse.go
  tests/bud.bats
Labels: approved, lgtm

#5799 [release-1.33] Bump c/storage to v1.51.2, fixes CVE-2024-9676
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/userns.go
  vendor/github.com/containers/storage/userns_unsupported.go
  vendor/modules.txt
Labels: approved, lgtm

#5802 tests: mkcw: bug fixes, refactor
  tests/mkcw.bats
Labels: approved, lgtm

#5803 tests: sbom: never write to cwd
  tests/sbom.bats
Labels: approved, lgtm
