Repository containers/buildah, pull requests merged in 2024-05, with the labels that each got.

#5507 [release-1.23] conformance tests: don't break on trailing zeroes in layer blobs
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5499 Integration tests: switch some base images
  tests/bud.bats
  tests/bud/build-with-from/Containerfile
  tests/bud/copy-chown/Containerfile.chown_user
  tests/bud/dupe-arg-env-name/Containerfile
  tests/bud/heredoc/Containerfile
Labels: approved, kind/other

#5498 Makefile: set GOTOOLCHAIN=local
  .github/renovate.json5
  Makefile
Labels: approved, lgtm, kind/other

#5497 containerImageRef.NewImageSource: merge the tar filters
  digester.go
  image.go
  tests/commit.bats
Labels: kind/bug, approved, lgtm

#5515 Add link to Buildah image page to README.md
  README.md
Labels: approved, lgtm

#5513 Don't set GOTOOLCHAIN=local
  .github/renovate.json5
  Makefile
Labels: approved, lgtm, kind/other

#5470 CI VMs: bump to new versions with tmpfs /tmp
  .cirrus.yml
Labels: approved, lgtm

#5494 Builder.cdiSetupDevicesInSpecdefConfig(): use configured CDI dirs
  go.mod
  go.sum
  run_linux.go
  tests/bud/cdi/Dockerfile
  tests/bud/cdi/containers-cdi.yaml
  tests/cdi.bats
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5521 [release-1.35] Address CVE-2024-3727
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/ipam.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/copy/progress_bars.go
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/directory/directory_dest.go
  vendor/github.com/containers/image/v5/directory/directory_src.go
  vendor/github.com/containers/image/v5/directory/directory_transport.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/dest.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/writer.go
  vendor/github.com/containers/image/v5/docker/registries_d.go
  vendor/github.com/containers/image/v5/openshift/openshift_src.go
  vendor/github.com/containers/image/v5/ostree/ostree_dest.go
  vendor/github.com/containers/image/v5/ostree/ostree_src.go
  vendor/github.com/containers/image/v5/pkg/blobcache/blobcache.go
  vendor/github.com/containers/image/v5/pkg/blobcache/dest.go
  vendor/github.com/containers/image/v5/pkg/blobcache/src.go
  vendor/github.com/containers/image/v5/storage/storage_dest.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/storage/storage_reference.go
  vendor/github.com/containers/image/v5/storage/storage_src.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#5478 Setting --arch should set the TARGETARCH build arg
  imagebuildah/build.go
  tests/bud.bats
  tests/bud/platform-sets-args/Containerfile
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#5528 fix CentOS/RHEL build - no BATS there
  rpm/buildah.spec
Labels: approved, lgtm, No New Tests

#5463 Add release note template to split dependency chores
  .github/release.yml
Labels: kind/documentation, approved, lgtm

#5527 Don't leak temp files on failures
  image.go
  run_common.go
Labels: approved, lgtm, No New Tests

#5473 Don't expand RUN heredocs ourselves, let the shell do it
  copier/copier.go
  docker/types.go
  go.mod
  go.sum
  tests/conformance/conformance_test.go
  tests/conformance/testdata/Dockerfile.heredoc-quoting
  vendor/github.com/fsouza/go-dockerclient/container.go
  vendor/github.com/openshift/imagebuilder/.travis.yml
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: kind/bug, approved, lgtm

#5495 Integration tests: fake up a replacement for nixery.dev/shell
  tests/bud.bats
  tests/bud/no-history/Dockerfile
Labels: approved, lgtm, kind/other

#5533 [release-1.33] Bump to Buildah v1.33.8, CVE-2024-3727
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/copy/progress_bars.go
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/directory/directory_dest.go
  vendor/github.com/containers/image/v5/directory/directory_src.go
  vendor/github.com/containers/image/v5/directory/directory_transport.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/dest.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/writer.go
  vendor/github.com/containers/image/v5/docker/registries_d.go
  vendor/github.com/containers/image/v5/openshift/openshift_src.go
  vendor/github.com/containers/image/v5/ostree/ostree_dest.go
  vendor/github.com/containers/image/v5/ostree/ostree_src.go
  vendor/github.com/containers/image/v5/pkg/blobcache/blobcache.go
  vendor/github.com/containers/image/v5/pkg/blobcache/dest.go
  vendor/github.com/containers/image/v5/pkg/blobcache/src.go
  vendor/github.com/containers/image/v5/storage/storage_dest.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/storage/storage_reference.go
  vendor/github.com/containers/image/v5/storage/storage_src.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, do-not-merge/hold

#5537 bud tests: fix breakage when vendoring into podman
  tests/bud.bats
Labels: approved, lgtm

#5542 Bump to c/common v0.59.0
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/cni/run.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_freebsd.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux_template.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/hooks/monitor.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/stefanberger/go-pkcs11uri/.travis.yml
  vendor/github.com/stefanberger/go-pkcs11uri/pkcs11uri.go
  vendor/modules.txt
Labels: approved, lgtm

#5543 build: be more selective about specifying the default OS
  imagebuildah/build.go
  tests/bud.bats
Labels: approved, lgtm, kind/failing-test

#5545 Bump to Buildah v1.36.0
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#5544 fix secret mounts for env vars when using chroot isolation
  chroot/run_linux.go
  tests/bud.bats
  tests/bud/secret-env/Dockerfile
Labels: kind/bug, approved, lgtm

#5538 CI: Clarify Debian use for conformance tests
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5532 imagebuildah: Support custom image reference lookup for cache push/pull
  define/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pull.go
  push.go
Labels: approved, lgtm, kind/api-change, No New Tests
