Repository containers/buildah, pull requests merged in 2024-12, with the labels that each got.

#5849 [skip-ci] Packit: f39 and rhel cleanups
  .packit.yaml
Labels: approved, lgtm, kind/other

#5856 CI: remove some inter-job dependencies, run cross-compile task with make -j, use /tmp for Go build cache
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5815 [release-1.34] integration tests: switch some base images
  .packit.yaml
  tests/bud.bats
  tests/bud/build-with-from/Containerfile
  tests/bud/copy-chown/Containerfile.chown_user
  tests/bud/dupe-arg-env-name/Containerfile
  tests/bud/heredoc/Containerfile
Labels: approved, lgtm, kind/failing-test, jira

#5816 [release-1.33] integration tests: switch some base images
  .packit.yaml
  tests/bud.bats
  tests/bud/build-with-from/Containerfile
  tests/bud/copy-chown/Containerfile.chown_user
  tests/bud/dupe-arg-env-name/Containerfile
  tests/bud/heredoc/Containerfile
Labels: approved, lgtm, kind/failing-test, jira

#5875 copier: use .PAXRecords instead of .Xattrs
  copier/copier.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/cleanup

#5873 Add context to an error message
  copier/copier.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#5854 manifest add: add --artifact-annotation
  cmd/buildah/manifest.go
  docs/buildah-manifest-add.1.md
  tests/lists.bats
Labels: kind/feature, approved, lgtm

#5874 chroot: on Linux, try to pivot_root before falling back to chroot
  Makefile
  chroot/run_common.go
  chroot/run_freebsd.go
  chroot/run_linux.go
  chroot/run_test.go
  run_freebsd.go
  run_linux.go
Labels: approved, lgtm, kind/design

#5876 Fix an error message in the chroot unit test
  chroot/run_test.go
Labels: approved, lgtm, kind/other

#5693 stage_executor: set `avoidLookingCache` only if mounting stage and not additional build context
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm
