Repository containers/buildah, pull requests merged in 2024-06, with the labels that each got.

#5514 [skip-ci] Packit: enable c10s downstream sync
  .packit.yaml
Labels: approved, lgtm, kind/other

#5550 CI VMs: bump, to debian with cgroups v2
  .cirrus.yml
  tests/bud.bats
  tests/conformance/conformance_test.go
  tests/helpers.bash
  tests/run.bats
Labels: approved, lgtm

#5570 Drop copyStringSlice() and copyStringStringMap()
  commit.go
  config.go
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  import.go
  internal/config/convert.go
  new.go
  run_common.go
  tests/conformance/conformance_test.go
  util.go
Labels: approved, lgtm, kind/cleanup

#5572 Cross-build on Fedora
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5566 Re-enable two conformance tests
  .cirrus.yml
  contrib/cirrus/setup.sh
  image.go
  tests/commit.bats
  tests/conformance/conformance_test.go
  tests/conformance/testdata/copychown/Dockerfile
  tests/conformance/testdata/copyempty/Dockerfile
  tests/conformance/testdata/copyempty/Dockerfile2
  tests/push.bats
Labels: approved, lgtm, kind/failing-test

#5407 Clarify definition of --pull options
  cmd/buildah/from.go
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  pkg/cli/common.go
  tests/from.bats
Labels: approved, lgtm

#5574 tests: set _CONTAINERS_USERNS_CONFIGURED=done for libnetwork
  tests/chroot.bats
Labels: approved, lgtm, kind/other

#5580 buildah: fix a nil pointer reference on FreeBSD
  run_common.go
  run_linux.go
Labels: kind/bug, approved, lgtm, No New Tests

#5559 Add some NetBSD support
  copier/hardlink_uint64.go
  copier/hardlink_unix.go
  define/mount_unsupported.go
  pkg/util/uptime_netbsd.go
  pkg/util/version_unix.go
  util/util_unix.go
Labels: approved, lgtm, kind/other, No New Tests

#5593 [release-1.24] Cherry-pick PR #4210
  tests/blobcache.bats
  tests/byid.bats
  tests/images.bats
  tests/lists.bats
Labels: approved, lgtm, kind/other

#5600 CI VMs: bump
  .cirrus.yml
Labels: approved, lgtm

#5597 buildah copy: preserve owner info with --from= a container or image
  cmd/buildah/addcopy.go
  docs/buildah-copy.1.md
  tests/copy.bats
Labels: kind/bug, approved, lgtm

#5595 containerImageRef.NewImageSource(): move the FROM comment to first
  image.go
  tests/bud.bats
Labels: approved, lgtm, kind/cleanup

#5594 Update godoc for Builder.EnsureContainerPathAs
  add.go
  imagebuildah/stage_executor.go
Labels: approved, lgtm, kind/other, No New Tests

#5596 commit: set "parent" for docker format only when requested
  commit.go
  define/build.go
  image.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/api-change

#5599 imagebuildah.StageExecutor.prepare(): log the --platform flag
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm, kind/other

#5605 Rework parsing of --pull flags
  define/pull.go
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: kind/bug, approved, lgtm

#5609 Bump github.com/openshift/imagebuilder from v1.2.10 to v1.2.11
  go.mod
  go.sum
  imagebuildah/stage_executor.go
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: approved, lgtm, kind/other, No New Tests
