Repository containers/buildah, pull requests merged in 2024-03, with the labels that each got.

#5367 Update vendor of containers/common
  Makefile
  go.mod
  go.sum
  info.go
  util/util.go
  util/util_linux.go
  vendor/github.com/containers/common/libimage/events.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/cgroups/systemd.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/machine/machine.go
  vendor/github.com/containers/common/pkg/netns/netns_linux.go
  vendor/modules.txt
Labels: approved, lgtm

#5375 Add a conformance test for copying to a mounted prior stage
  tests/conformance/conformance_test.go
  tests/conformance/testdata/multistage/copyback/Dockerfile
Labels: approved, lgtm, kind/other

#5386 conformance tests: don't break on trailing zeroes in layer blobs
  tests/blobcache.bats
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/failing-test

#5385 Bump c/* projects, Buildah to v1.35.0 and then to v1.36.0-dev
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/libnetwork/internal/util/validate.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroups/systemd_linux.go
  vendor/github.com/containers/common/pkg/config/connections.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/supplemented/supplemented.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/go-openapi/swag/initialism_index.go
  vendor/github.com/go-openapi/swag/yaml.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/aliases.go
  vendor/golang.org/x/sys/unix/syscall_darwin_libSystem.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/tools/go/packages/doc.go
  vendor/golang.org/x/tools/go/packages/external.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/modules.txt
Labels: approved, lgtm

#5389 Update .gitignore
  .gitignore
Labels: approved, lgtm

#5384 [CI:DOCS] Migrate buildah container image
  contrib/buildahimage/Containerfile
  contrib/buildahimage/README.md
  contrib/buildahimage/containers.conf
Labels: approved, lgtm, kind/other

#5381 tests: enable pasta tests
  tests/bud.bats
  tests/run.bats
Labels: approved, lgtm, kind/other

#5374 pr-should-include-tests: use GitHub label, not commit text
  tests/validate/pr-should-include-tests
  tests/validate/pr-should-include-tests.t
Labels: approved, lgtm

#5404 Bump google.golang.org/protobuf to v1.33.0
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  vendor/google.golang.org/protobuf/encoding/protojson/doc.go
  vendor/google.golang.org/protobuf/encoding/protojson/encode.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/encoding/prototext/encode.go
  vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/defaults.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/encoding/json/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/genid/struct_gen.go
  vendor/google.golang.org/protobuf/internal/genid/type_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_extension.go
  vendor/google.golang.org/protobuf/internal/impl/codec_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_tables.go
  vendor/google.golang.org/protobuf/internal/impl/legacy_message.go
  vendor/google.golang.org/protobuf/internal/impl/message.go
  vendor/google.golang.org/protobuf/internal/impl/message_reflect_field.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_reflect.go
  vendor/google.golang.org/protobuf/internal/impl/pointer_unsafe.go
  vendor/google.golang.org/protobuf/internal/strs/strings.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go120.go
  vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go121.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/proto/doc.go
  vendor/google.golang.org/protobuf/proto/encode.go
  vendor/google.golang.org/protobuf/proto/extension.go
  vendor/google.golang.org/protobuf/proto/merge.go
  vendor/google.golang.org/protobuf/proto/proto.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/type.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_equal.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_union.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go120.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go121.go
  vendor/google.golang.org/protobuf/reflect/protoregistry/registry.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.proto
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/modules.txt
Labels: approved, lgtm

#5388 [skip-ci] Makefile: update rpm target
  Makefile
  rpm/Makefile
  rpm/update-spec-version.sh
Labels: approved, lgtm, kind/other

#5410 [skip-ci] rpm: use go-rpm-macros supported vendoring
  rpm/buildah.spec
Labels: approved, lgtm, kind/other

#5402 fix links to containerignore doc
  docs/buildah-add.1.md
  docs/buildah-build.1.md
  docs/buildah-copy.1.md
Labels: kind/documentation, approved, lgtm

#5411 CVE-2024-1753 container escape fix
  internal/volumes/volumes.go
  tests/bud.bats
Labels: approved

#5416 [release-1.35] CVE-2024-1753 fix, bump to v1.35.1, then v1.35.2-dev
  CHANGELOG.md
  changelog.txt
  define/types.go
  internal/volumes/volumes.go
  tests/bud.bats
Labels: approved, lgtm

#5415 Change RUN to comment in bud.bats
  tests/bud.bats
Labels: approved, lgtm

#5419 [release-1.34] CVE-2024-1753 fix, bump Buildah to v1.34.2, then to v1.34.3-dev
  CHANGELOG.md
  changelog.txt
  define/types.go
  internal/volumes/volumes.go
  tests/blobcache.bats
  tests/bud.bats
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#5431 [release-1.32] Recover release-branch CI
  .cirrus.yml
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/other

#5436 Makefile - instead of calling `as` directly, use it from env var
  Makefile
Labels: kind/bug, approved, lgtm

#5441 [release-1.35] Bump c/common to v0.58.1, Buildah to v1.35.3
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/run.bats
  vendor/github.com/containers/common/libnetwork/etchosts/ip.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta_linux.go
  vendor/github.com/containers/common/libnetwork/pasta/types.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/const.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/libnetwork/util/ip.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm
