Repository containers/buildah, pull requests merged in 2024-08, with the labels that each got.

#5631 [release-1.33] Fixes Listing tags in JFrog Artifactory may fail
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#5654 Use Epoch: 2 and respect the epoch in dependencies.
  rpm/buildah.spec
Labels: approved, lgtm, kind/other, No New Tests

#5667 `make vendor-in-container`: use the caller's Go cache if it exists
  Makefile
Labels: approved, lgtm, kind/other

#5541 install: On Debian/Ubuntu, add installation of libbtrfs-dev and libdevmapper-dev
  install.md
Labels: kind/documentation, approved, lgtm

#5665 [CI:DOCS] Update tutorials to keep up with API changes in storage
  docs/tutorials/01-intro.md
  docs/tutorials/02-registries-repositories.md
  docs/tutorials/03-on-build.md
  docs/tutorials/04-include-in-your-build-tool.md
  docs/tutorials/05-openshift-rootless-build.md
Labels: kind/documentation, approved, lgtm

#5666 Update containerd
  cmd/buildah/version.go
  go.mod
  go.sum
  imagebuildah/build.go
  pkg/parse/parse.go
  vendor/github.com/containerd/containerd/errdefs/errdefs_deprecated.go
  vendor/github.com/containerd/containerd/platforms/platforms_deprecated.go
  vendor/github.com/containerd/containerd/platforms/platforms_deprecated_other.go
  vendor/github.com/containerd/containerd/platforms/platforms_deprecated_windows.go
  vendor/github.com/containerd/platforms/.gitattributes
  vendor/github.com/containerd/platforms/.golangci.yml
  vendor/github.com/containerd/platforms/LICENSE
  vendor/github.com/containerd/platforms/README.md
  vendor/github.com/containerd/platforms/compare.go
  vendor/github.com/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/platforms/cpuinfo_linux.go
  vendor/github.com/containerd/platforms/cpuinfo_other.go
  vendor/github.com/containerd/platforms/database.go
  vendor/github.com/containerd/platforms/defaults.go
  vendor/github.com/containerd/platforms/defaults_darwin.go
  vendor/github.com/containerd/platforms/defaults_freebsd.go
  vendor/github.com/containerd/platforms/defaults_unix.go
  vendor/github.com/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/platforms/errors.go
  vendor/github.com/containerd/platforms/platform_compat_windows.go
  vendor/github.com/containerd/platforms/platforms.go
  vendor/github.com/containerd/platforms/platforms_other.go
  vendor/github.com/containerd/platforms/platforms_windows.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other, No New Tests

#5673 conformance tests: use mirror.gcr.io for most images
  tests/conformance/README.md
  tests/conformance/conformance_test.go
  tests/conformance/testdata/Dockerfile.add
  tests/conformance/testdata/Dockerfile.copyfrom_1
  tests/conformance/testdata/Dockerfile.copyfrom_10
  tests/conformance/testdata/Dockerfile.copyfrom_11
  tests/conformance/testdata/Dockerfile.copyfrom_12
  tests/conformance/testdata/Dockerfile.copyfrom_13
  tests/conformance/testdata/Dockerfile.copyfrom_2
  tests/conformance/testdata/Dockerfile.copyfrom_3
  tests/conformance/testdata/Dockerfile.copyfrom_3_1
  tests/conformance/testdata/Dockerfile.copyfrom_4
  tests/conformance/testdata/Dockerfile.copyfrom_5
  tests/conformance/testdata/Dockerfile.copyfrom_6
  tests/conformance/testdata/Dockerfile.copyfrom_7
  tests/conformance/testdata/Dockerfile.copyfrom_8
  tests/conformance/testdata/Dockerfile.copyfrom_9
  tests/conformance/testdata/Dockerfile.edgecases
  tests/conformance/testdata/Dockerfile.env
  tests/conformance/testdata/Dockerfile.exposedefault
  tests/conformance/testdata/Dockerfile.heredoc-quoting
  tests/conformance/testdata/Dockerfile.margs
  tests/conformance/testdata/Dockerfile.run.args
  tests/conformance/testdata/add/dir-not-dir/Dockerfile
  tests/conformance/testdata/add/not-dir-dir/Dockerfile
  tests/conformance/testdata/add/parent-clean/Dockerfile
  tests/conformance/testdata/add/parent-dangling/Dockerfile
  tests/conformance/testdata/add/populated-dir-not-dir/Dockerfile
  tests/conformance/testdata/builtins/Dockerfile
  tests/conformance/testdata/chown-volume/Dockerfile
  tests/conformance/testdata/copyblahblub/Dockerfile
  tests/conformance/testdata/copyblahblub/Dockerfile2
  tests/conformance/testdata/copyblahblub/Dockerfile3
  tests/conformance/testdata/dir/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/nothing-dot/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/nothing-slash/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-file/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nofile/Dockerfile
  tests/conformance/testdata/dockerignore/allowlist/subsubdir-nosubdir/Dockerfile
  tests/conformance/testdata/dockerignore/exceptions-skip/Dockerfile
  tests/conformance/testdata/dockerignore/exceptions-weirdness-1/Dockerfile
  tests/conformance/testdata/dockerignore/exceptions-weirdness-2/Dockerfile
  tests/conformance/testdata/dockerignore/integration1/Dockerfile
  tests/conformance/testdata/dockerignore/integration3/Dockerfile
  tests/conformance/testdata/env/precedence/Dockerfile
  tests/conformance/testdata/heredoc/Dockerfile.heredoc_copy
  tests/conformance/testdata/mount/Dockerfile
  tests/conformance/testdata/multistage/copyback/Dockerfile
  tests/conformance/testdata/overlapdirwithoutslash/Dockerfile
  tests/conformance/testdata/overlapdirwithslash/Dockerfile
  tests/conformance/testdata/transientmount/Dockerfile
  tests/conformance/testdata/transientmount/Dockerfile.env
  tests/conformance/testdata/volume/Dockerfile
  tests/conformance/testdata/volumerun/Dockerfile
  tests/conformance/testdata/wildcard/Dockerfile
Labels: approved, lgtm, kind/failing-test

#5676 Add(): re-escape any globbed items that included escapes
  add.go
  tests/conformance/conformance_test.go
  tests/conformance/testdata/copy-escape-glob/Dockerfile
  tests/conformance/testdata/copy-escape-glob/app/[xyz]/[abc]/file.txt
  tests/conformance/testdata/copy-escape-glob/app/[xyz]/file.txt
  tests/conformance/testdata/copy-escape-glob/app/jkl?/file.txt
  tests/conformance/testdata/copy-escape-glob/app/n?pe/file.txt
  tests/conformance/testdata/copy-escape-glob/app/nope/file.txt
  tests/conformance/testdata/copy-escape-glob/app/st*uv/file.txt
  tests/conformance/testdata/copy-escape-glob/app/strauv/file.txt
Labels: kind/bug, approved, lgtm

#5672 unit tests: use test-specific policy.json and registries.conf
  buildah_test.go
  cmd/buildah/common_test.go
  commit_test.go
  convertcw_test.go
Labels: approved, lgtm, kind/failing-test

#5684 conformance: move weirdly-named files out of the repository
  tests/conformance/conformance_test.go
  tests/conformance/testdata/copy-escape-glob/app/jkl?/file.txt
  tests/conformance/testdata/copy-escape-glob/app/n?pe/file.txt
  tests/conformance/testdata/copy-escape-glob/app/st*uv/file.txt
Labels: approved, lgtm, kind/cleanup

#5686 Commit(): retry committing to local storage on storage.LayerUnknown
  common.go
  common_test.go
Labels: approved, lgtm, kind/other

#5694 run: fix a nil pointer dereference on FreeBSD
  run_freebsd.go
Labels: kind/bug, approved, lgtm, No New Tests

#5696 [release-1.37] Bump Buildah to v1.37.2, c/common v0.60.2, c/image v5.32.2
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/signature/fulcio_cert.go
  vendor/github.com/containers/image/v5/signature/internal/rekor_set.go
  vendor/github.com/containers/image/v5/signature/internal/sigstore_payload.go
  vendor/github.com/containers/image/v5/signature/policy_config_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_eval_signedby.go
  vendor/github.com/containers/image/v5/signature/policy_eval_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_types.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#5701 [CI:DOCS] buildah-build.1.md: expand the --layer-label description
  docs/buildah-build.1.md
Labels: kind/documentation, approved, lgtm

#5703 New VMs
  .cirrus.yml
Labels: approved, lgtm

#5704 Add a validation script for Makefile $(SOURCES)
  Makefile
  hack/makefile_sources
Labels: approved, lgtm, kind/other

#5690 imagebuildah: make scratch config handling toggleable
  buildah.go
  config.go
  define/build.go
  docs/buildah-copy.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  import.go
  new.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm, kind/api-change
