Repository containers/buildah, pull requests merged in 2025-08, with the labels that each got.

#6302 Only suppress "noted" items when not squashing
  image.go
  run_common.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#6315 History should note unset-label, timestamp, and rewrite-timestamp
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#6311 build: `--mount=type=bind` ignore `modTime` for cache candidates
  imagebuildah/util.go
  imagebuildah/util_test.go
  tests/bud.bats
Labels: approved, lgtm

#6338 [release-1.41] Bump to v1.41.2
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#6344 [release-1.41] Bump Buildah to v1.41.3
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#6328 Losen the dependency on go-connections/tlsconfig
  add.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#6346 Add --transient-store global option
  cmd/buildah/common.go
  cmd/buildah/common_test.go
  cmd/buildah/main.go
  docs/buildah.1.md
  info.go
  tests/copy/copy.go
  tests/imgtype/imgtype.go
Labels: approved, lgtm, kind/other

#6353 Handle tagged+digested references when processing --all-platforms
  imagebuildah/build.go
  tests/bud.bats
  tests/helpers.bash
Labels: kind/bug, approved, lgtm
