Repository containers/buildah, pull requests merged in 2025-01, with the labels that each got.

#5897 Allow cache mounts to be stages and additional build contexts
  imagebuildah/stage_executor.go
  internal/types.go
  internal/volumes/volumes.go
  tests/bud.bats
Labels: approved, lgtm, kind/failing-test

#5814 [release-1.35] integration tests: switch some base images
  .packit.yaml
  tests/bud.bats
  tests/bud/build-with-from/Containerfile
  tests/bud/copy-chown/Containerfile.chown_user
  tests/bud/dupe-arg-env-name/Containerfile
  tests/bud/heredoc/Containerfile
Labels: approved, lgtm, kind/failing-test, jira

#5900 New VM Images
  .cirrus.yml
Labels: approved, lgtm, kind/other

#5888 [skip-ci] RPM: cleanup changelog conditionals
  rpm/buildah.spec
Labels: approved, lgtm, kind/other

#5901 copy-preserving-extended-attributes: use a different base image
  tests/copy.bats
Labels: approved, lgtm, kind/failing-test

#5883 Add support for --security-opt mask and unmask
  define/build.go
  docs/buildah-build.1.md
  internal/mkcw/embed/entrypoint_amd64.gz
  pkg/parse/parse.go
  run_linux.go
  tests/bud.bats
  tests/bud/masks/Containerfile
  tests/bud/masks/test.sh
Labels: approved, lgtm

#5907 [CI:DOCS] Touch up changelogs
  CHANGELOG.md
  changelog.txt
Labels: Change Size Small, approved, No New Tests

#5910 [release-1.37][CI:DOCS] Touch up changelogs
  CHANGELOG.md
  changelog.txt
Labels: Change Size Small, approved, lgtm, No New Tests

#5911 [release-1.38] Bump c/storage v1.56.1, c/image v5.33.1, c/common v0.61.1
  .cirrus.yml
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/pasta/pasta_linux.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/layers.go
  vendor/modules.txt
Labels: Change Size Small, approved, lgtm, No New Tests

#5922 relabel(): correct a misleading parameter name
  run_common.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#5918 [release-1.38] tag v1.38.1
  .cirrus.yml
  CHANGELOG.md
  Makefile
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other, No New Tests

#5921 [release-1.33] tag v1.33.12
  .cirrus.yml
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  pkg/overlay/overlay.go
  pkg/overlay/overlay_unsupported.go
Labels: approved, lgtm, kind/other

#5925 Add more checks to the --mount flag parsing logic
  internal/volumes/volumes.go
  internal/volumes/volumes_test.go
Labels: approved, lgtm, kind/other

#5926 chroot mount flags integration test: copy binaries
  tests/chroot.bats
Labels: approved, lgtm, kind/other

#5930 bump github.com/vbatts/tar-split
  go.mod
  go.sum
  vendor/github.com/vbatts/tar-split/archive/tar/format.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5928 [release-1.38] bump github.com/vbatts/tar-split from v0.11.6 to v0.11.7
  Makefile
  go.mod
  go.sum
  vendor/github.com/vbatts/tar-split/archive/tar/format.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/modules.txt
Labels: approved, lgtm, kind/other

#5919 [release-1.37] tag v1.37.6
  .cirrus.yml
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other, No New Tests

#5936 fix broken doc link
  docs/tutorials/04-include-in-your-build-tool.md
Labels: kind/documentation, approved, lgtm

#5935 run_freebsd.go: only import runtime-spec once
  run_freebsd.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#5937 refactor: replace `golang.org/x/exp` with stdlib
  bind/mount.go
  bind/util.go
  chroot/run_test.go
  commit.go
  config.go
  go.mod
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/config/convert_test.go
  internal/volumes/volumes.go
  new.go
  pkg/cli/build.go
  run_common.go
  run_freebsd.go
  run_linux.go
  scan.go
  tests/conformance/conformance_test.go
  util/util.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/modules.txt
Labels: approved, lgtm, kind/cleanup

#5924 Run(): always clean up options.ExternalImageMounts
  run.go
  run_freebsd.go
  run_linux.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#5934 Accept image names as sources for cache mounts
  cmd/buildah/run.go
  internal/volumes/volumes.go
  internal/volumes/volumes_test.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
  tests/bud/buildkit-mount-from/Dockerfilecachefromimage
Labels: kind/feature, approved, lgtm

#5920 [release-1.35] tag v1.35.5
  .cirrus.yml
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other, No New Tests

#5938 [skip-ci] RPM: use default gobuild macro on RHEL
  rpm/buildah.spec
Labels: approved, lgtm, kind/other, No New Tests

#5931 [release-1.26] backport fix for CVE-2024-11218
  Makefile
  cmd/buildah/run.go
  define/types.go
  docs/buildah-run.1.md
  imagebuildah/stage_executor.go
  internal/open/open.go
  internal/open/open_linux.go
  internal/open/open_linux_test.go
  internal/open/open_test.go
  internal/open/open_types.go
  internal/open/open_unix.go
  internal/open/open_unsupported.go
  internal/parse/parse.go
  internal/types.go
  internal/volumes/bind_linux.go
  internal/volumes/bind_linux_test.go
  internal/volumes/bind_notlinux.go
  internal/volumes/bind_test.go
  pkg/overlay/overlay.go
  run.go
  run_linux.go
  tests/bud.bats
  tests/bud/buildkit-mount-from/Dockerfilebuildkitbase
  tests/bud/buildkit-mount-from/hello1
  tests/conformance/testdata/multistage/copyback/Dockerfile
  tests/run.bats
Labels: kind/bug, approved, lgtm

#5942 [release-1.26] Bump version to 1.26.9
  .cirrus.yml
  CHANGELOG.md
  changelog.txt
  contrib/rpm/buildah.spec
  define/types.go
Labels: approved, lgtm

#5691 build, run: record hash or digest in image history for sources used in `--mount`
  imagebuildah/stage_executor.go
  imagebuildah/util.go
  imagebuildah/util_test.go
  tests/bud.bats
Labels: approved, lgtm

#5927 pkg/overlay: cleanups
  pkg/overlay/overlay.go
  pkg/overlay/overlay_freebsd.go
  pkg/overlay/overlay_linux.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#5552 bats tests - parallelize
  .cirrus.yml
  tests/blobcache.bats
  tests/bud.bats
  tests/source.bats
  tests/test_runner.sh
Labels: approved, lgtm

#5946 [release-1.27] Backport fix for CVE-2024-11218
  cmd/buildah/run.go
  define/types.go
  docs/buildah-run.1.md
  imagebuildah/stage_executor.go
  internal/open/open.go
  internal/open/open_linux.go
  internal/open/open_linux_test.go
  internal/open/open_test.go
  internal/open/open_types.go
  internal/open/open_unix.go
  internal/open/open_unsupported.go
  internal/parse/parse.go
  internal/types.go
  internal/volumes/bind_linux.go
  internal/volumes/bind_linux_test.go
  internal/volumes/bind_notlinux.go
  internal/volumes/bind_test.go
  pkg/overlay/overlay.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
  tests/bud/buildkit-mount-from/Dockerfilebuildkitbase
  tests/bud/buildkit-mount-from/hello1
  tests/conformance/testdata/multistage/copyback/Dockerfile
  tests/run.bats
Labels: approved, lgtm
