Repository containers/buildah, pull requests merged in 2025-07, with the labels that each got.

#6271 Update "bud with --cpu-shares" test, and rename it
  tests/bud.bats
Labels: kind/bug, approved, lgtm

#6263 [release-1.33] Add conditional release-checking system test
  tests/basic.bats
Labels: approved, lgtm, kind/failing-test

#6252 chore(typos): fix typos
  buildah_test.go
  commit.go
  commit_test.go
  convertcw_test.go
  define/build.go
  imagebuildah/stage_executor.go
  internal/mkcw/workload.go
Labels: approved, lgtm, kind/other

#6240 feat: ADD/COPY --link support for buildah
  add.go
  cmd/buildah/addcopy.go
  docs/buildah-add.1.md
  docs/buildah-copy.1.md
  imagebuildah/stage_executor.go
  tests/add.bats
  tests/bud.bats
  tests/copy.bats
Labels: kind/feature, approved, lgtm

#6269 stage_executor: check platform of cache candidates
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#6286 CI: make runc tests non-blocking
  .cirrus.yml
Labels: approved, lgtm, kind/other

#6300 Restore the default meaning of `--pull` (should be `always`).
  cmd/buildah/from.go
  docs/buildah-build.1.md
  docs/buildah-from.1.md
  pkg/cli/common.go
  pkg/parse/parse.go
  tests/from.bats
  tests/rmi.bats
Labels: approved, lgtm

#6296 Exclude pulled up parent directories at commit-time
  copier/copier.go
  copier/copier_test.go
  image.go
  run_common.go
  tests/bud.bats
Labels: approved, lgtm, kind/api-change, kind/failing-test
