Repository containers/buildah, pull requests merged in 2025-06, with the labels that each got.

#6201 [release-1.40] run: handle relabeling bind mounts ourselves
  .cirrus.yml
  Makefile
  chroot/pty_unsupported.go
  chroot/run_common.go
  docs/buildah-build.1.md
  internal/pty/pty_posix.go
  internal/pty/pty_ptmx.go
  internal/pty/pty_unsupported.go
  rpm/buildah.spec
  run_common.go
  run_linux.go
  tests/bud.bats
  tests/dumpspec/dumpspec.go
  tests/dumpspec/dumpspec_linux.go
  tests/dumpspec/dumpspec_notlinux.go
  tests/dumpspec/dumpspec_notunix.go
  tests/dumpspec/dumpspec_unix.go
  tests/dumpspec/notes.md
  tests/helpers.bash
  tests/run.bats
  tests/tmt/system.fmf
Labels: kind/bug, approved, lgtm

#6204 [release-1.40] vendor: update c/common to v0.63.1
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/resolvconf/resolv.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#6199 [release-1.40] tag v1.40.1
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other, No New Tests

#6189 commit: add --source-date-epoch and --rewrite-timestamp flags
  cmd/buildah/commit.go
  commit.go
  commit_test.go
  digester.go
  docs/buildah-commit.1.md
  image.go
  imagebuildah/stage_executor.go
  internal/types.go
  tests/commit.bats
Labels: kind/feature, approved, lgtm

#6208 build: add --source-date-epoch and --rewrite-timestamp flags
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  image.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  internal/types.go
  internal/util/util.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/helpers.bash
Labels: kind/feature, approved, lgtm

#6211 build: --source-date-epoch/--timestamp use static hostname/cid
  image.go
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm, kind/other

#6215 docs: add --setopt "*.countme=false" to dnf examples
  demos/buildah-scratch-demo.sh
  docs/buildah-unshare.1.md
  docs/tutorials/01-intro.md
  docs/tutorials/02-registries-repositories.md
  docs/tutorials/03-on-build.md
  docs/tutorials/05-openshift-rootless-build.md
  docs/tutorials/README.md
  tests/test_buildah_baseline.sh
Labels: kind/documentation, approved, lgtm

#6214 commit,build: --source-date-epoch/--timestamp omit identity label
  cmd/buildah/commit.go
  commit.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  imagebuildah/stage_executor.go
  pkg/parse/parse.go
  tests/bud.bats
  tests/commit.bats
Labels: kind/bug, approved, lgtm

#6198 build: add support for `--inherit-annotations`
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/base-with-labels/Containerfile2
Labels: approved, lgtm

#6230 "root fs only mounted once" test: accept root with only the rw option
  tests/run.bats
Labels: approved, lgtm, kind/other

#6232 conformance: use mirrored frontend and base images
  tests/conformance/conformance_test.go
  tests/conformance/testdata/env/precedence/Dockerfile
  tests/conformance/testdata/heredoc/Dockerfile.heredoc_copy
Labels: approved, lgtm, kind/other

#6228 CI: ensure rootless groups aren't duplicates
  contrib/cirrus/lib.sh
  tests/bud.bats
  tests/helpers.bash
  tests/run.bats
Labels: approved, lgtm, kind/flake

#6236 Add CommitOptions.OmitLayerHistoryEntry, for skipping the new bits
  commit.go
  commit_test.go
  image.go
Labels: kind/feature, approved, lgtm

#6239 build, commit: set the OCI ...created annotation on OCI images
  cmd/buildah/commit.go
  commit.go
  define/build.go
  docs/buildah-build.1.md
  docs/buildah-commit.1.md
  image.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/commit.bats
  tests/config.bats
  tests/helpers.bash
Labels: kind/feature, approved, lgtm

#6242 Use containers/common's formats package instead of our own
  cmd/buildah/containers.go
  cmd/buildah/images.go
  cmd/buildah/info.go
  cmd/buildah/inspect.go
  go.mod
  pkg/formats/doc.go
  pkg/formats/formats.go
  pkg/formats/formats_test.go
  pkg/formats/templates.go
  tests/inspect.bats
  vendor/github.com/containers/common/pkg/formats/formats.go
  vendor/github.com/containers/common/pkg/formats/templates.go
  vendor/modules.txt
Labels: approved, lgtm, kind/cleanup

#6247 Accept SOURCE_DATE_EPOCH as a build-arg
  imagebuildah/build.go
  tests/bud.bats
Labels: kind/feature, approved, lgtm
