Repository containers/buildah, pull requests merged in 2025-04, with the labels that each got.

#6092 build: return `ExecErrorCodeGeneric` when git operation fails instead of relaying error code directly from git
  define/types.go
  tests/bud.bats
Labels: approved, lgtm

#6101 cmd/buildah: rm unused code
  cmd/buildah/common.go
  cmd/buildah/common_test.go
  cmd/buildah/containers.go
  cmd/buildah/containers_test.go
Labels: approved, lgtm

#5971 stage_executor: reset platform in systemcontext for every stage.
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/multiarch/Containerfile.reset-platform
Labels: approved, lgtm

#6118 Modernize
  chroot/run_linux.go
  chroot/run_test.go
  cmd/buildah/config.go
  cmd/buildah/containers.go
  cmd/buildah/images.go
  cmd/buildah/info.go
  config.go
  copier/copier.go
  copier/copier_test.go
  define/build.go
  imagebuildah/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  info.go
  internal/config/convert.go
  internal/config/convert_test.go
  internal/config/override.go
  internal/sbom/presets.go
  new.go
  pkg/cli/build.go
  pkg/cli/common.go
  pkg/formats/formats.go
  pkg/formats/templates.go
  pkg/jail/jail.go
  pkg/parse/parse.go
  pkg/sshagent/sshagent.go
  pkg/sshagent/sshagent_test.go
  run_common.go
  run_linux.go
  scan.go
  tests/conformance/conformance_test.go
  tests/testreport/testreport.go
  util/util.go
Labels: approved, lgtm, kind/cleanup

#6108 Add a link to project governance and MAINTAINERS file
  GOVERNANCE.md
  MAINTAINERS
  MAINTAINERS.md
  OWNERS
Labels: approved, lgtm, kind/other, No New Tests

#6110 stage_executor,getCreatedBy: expand buildArgs before invoking `generatePathChecksum`
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/buildkit-mount/Containerfile5
Labels: approved, lgtm

#6120 .github: check_cirrus_cron work around github bug
  .github/workflows/check_cirrus_cron.yml
Labels: approved, lgtm, do-not-merge/hold

#6103 build: add support for `--inherit-labels`
  define/build.go
  docs/buildah-build.1.md
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
  tests/bud/base-with-labels/Containerfile.layer
  tests/bud/base-with-labels/Containerfile.multi-stage
Labels: approved, lgtm

#6128 cli: hide the `completion` command instead of disabling it outright
  cmd/buildah/main.go
Labels: approved, lgtm, kind/other, No New Tests

#6130 cirrus: make Total Success wait for rootless integration
  .cirrus.yml
Labels: approved, lgtm

#6127 [CI:DOCS] Document rw/src for --mount in buildah-run(1)
  docs/buildah-run.1.md
Labels: kind/documentation, approved, lgtm

#6099 Update Buildah issue template to new version and support podman build
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/buildah_bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/podman_build_bug_report.yaml
Labels: approved, lgtm, kind/other

#6129 chroot: use symbolic names when complaining about mount() errors
  chroot/run_linux.go
  chroot/run_linux_test.go
Labels: approved, lgtm, kind/other

#6136 Bump c/storage v1.58.0, c/image v5.35.0, c/common v0.63.0, Buildah v1.40.0, then to dev
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#6141 Filter image only when necessary
  image.go
Labels: approved, lgtm, kind/cleanup, No New Tests
