Repository containers/buildah, pull requests merged in 2025-03, with the labels that each got.

#5885 [skip-ci] TMT: system tests
  .fmf/version
  .packit.yaml
  plans/main.fmf
  rpm/buildah.spec
  rpm/gating.yaml
  tests/tmt/system.fmf
  tests/tmt/system.sh
Labels: approved, lgtm, kind/other

#6022 [release-1.39] Bump c/image to v5.34.1, c/common v0.62.1, c/buildah v1.39.2
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  tests/conformance/testdata/Dockerfile.add
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/signature/fulcio_cert.go
  vendor/github.com/containers/image/v5/signature/pki_cert.go
  vendor/github.com/containers/image/v5/signature/policy_config_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_eval_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_types.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#6028 [release-1.26] tests/conformance/testdata/Dockerfile.add:...
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, No New Tests

#6024 [release-1.37] tests/conformance/testdata/Dockerfile.add:...
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, No New Tests

#6027 [release-1.27] tests/conformance/testdata/Dockerfile.add:...
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, No New Tests

#6025 [release-1.33] tests/conformance/testdata/Dockerfile.add:...
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, No New Tests

#6026 [release-1.29] tests/conformance/testdata/Dockerfile.add:...
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, No New Tests

#6031 internal/mkcw.Archive(): use github.com/containers/storage/pkg/ioutils
  internal/mkcw/archive.go
Labels: approved, lgtm, kind/cleanup, No New Tests

#6036 github: disable cron rerun action
  .github/workflows/rerun_cirrus_cron.yml
Labels: approved, lgtm

#6014 Use UnparsedInstance.Manifest instead of ImageSource.GetManifest
  cmd/buildah/common.go
  cmd/buildah/manifest.go
  imagebuildah/build.go
  import.go
  internal/source/source.go
  new.go
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#6041 stage_executor: history should include heredoc summary correctly
  imagebuildah/stage_executor.go
  tests/bud.bats
Labels: approved, lgtm

#5999 buildah-build.1.md: secret examples
  docs/buildah-build.1.md
Labels: approved, lgtm

#6063 github: remove cirrus rerun action
  .github/workflows/rerun_cirrus_cron.yml
Labels: approved, lgtm

#6047 fix: dockerfiles... always evaluates to an empty list
  imagebuildah/build.go
  imagebuildah/build_linux_test.go
Labels: kind/bug, approved, lgtm

#6060 Update to Go 1.23 and bump golang.org/x/crypto v0.36.0
  .cirrus.yml
  .packit.yaml
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: approved, lgtm

#6061 [release-1.39] Bump c/storage to v1.57.2, c/image v5.34.2, c/common v0.62.2, c/buildah v1.39.3
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/idmap/idmapped_utils.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#6008 Add --parents option for COPY in Containerfiles
  add.go
  cmd/buildah/addcopy.go
  copier/copier.go
  copier/copier_test.go
  docs/buildah-copy.1.md
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/copy-parents/Containerfile
  tests/bud/copy-parents/Containerfile-hardlinks
  tests/bud/copy-parents/x/a.txt
  tests/bud/copy-parents/x/y/a.txt
  tests/bud/copy-parents/x/y/b.txt
  tests/bud/copy-parents/x/z/a.txt
  tests/bud/copy-parents/x/z/b.txt
  tests/bud/copy-parents/y/a.txt
  tests/bud/copy-parents/y/b.txt
  tests/conformance/conformance_test.go
  tests/conformance/testdata/copy-parents/x/a.txt
  tests/conformance/testdata/copy-parents/x/y/a.txt
  tests/conformance/testdata/copy-parents/x/y/b.txt
  tests/conformance/testdata/copy-parents/x/z/a.txt
  tests/conformance/testdata/copy-parents/x/z/b.txt
  tests/conformance/testdata/copy-parents/y/a.txt
  tests/conformance/testdata/copy-parents/y/b.txt
  tests/copy.bats
Labels: kind/feature, approved, lgtm

#6037 [release-1.35] tests/conformance/testdata/Dockerfile.add: update some URLs
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, kind/failing-test

#6039 vendor: bump c/common to `dbeb17e40c80`
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#6076 Fix built-in args on ARM64
  imagebuildah/build.go
  tests/conformance/conformance_test.go
Labels: kind/bug, approved, lgtm, kind/other

#6079 vendor: update github.com/opencontainers/selinux to v1.12.0
  chroot/selinux.go
  go.mod
  go.sum
  util.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#6023 feat: use HistoryTimestamp, if set, for oci-archive entries
  commit.go
  common.go
  tests/bud.bats
Labels: kind/feature, approved, lgtm

#6088 createPlatformContainer: drop MS_REMOUNT|MS_BIND
  chroot/run_linux.go
  tests/chroot.bats
Labels: kind/bug, approved, lgtm

#6083 Allow extendedGlob to work with Windows paths
  copier/copier.go
  copier/xattrs_test.go
Labels: kind/bug, approved, lgtm
