Repository containers/buildah, pull requests merged in 2025-05, with the labels that each got.

#6146 test/serve: fix a descriptor leak, add preliminary directory support
  tests/serve/serve.go
Labels: kind/bug, approved, lgtm

#6161 Support label_users in buildah
  pkg/parse/parse.go
Labels: approved, lgtm, No New Tests

#6167 Fix typo in comment
  copier/copier.go
Labels: kind/documentation, lgtm, No New Tests

#5743 Refactor NewImageSource to add a manifest type abstraction
  image.go
  internal/config/override.go
Labels: approved, lgtm, kind/cleanup, do-not-merge/hold, No New Tests

#6172 [skip-ci] Packit: Ignore ELN and CentOS Stream jobs
  .packit.yaml
Labels: approved, lgtm, kind/other

#6173 internal/util.SetHas(): handle maps of [generic]generic
  internal/util/util.go
  internal/util/util_test.go
Labels: approved, lgtm, kind/other

#6170 [skip-ci] Packit: set fedora-all after F40 EOL
  .packit.yaml
Labels: approved, lgtm

#6174 Use Fedora 42 instead of 41 in that one conformance test
  tests/conformance/README.md
  tests/conformance/testdata/header-builtin/Dockerfile
Labels: approved, lgtm, kind/other

#6175 [CI:DOCS] update a couple of lists in the build man page
  docs/buildah-build.1.md
Labels: kind/documentation, approved, lgtm

#6176 pkg/parse.GetBuildOutput(): use strings.Cut()
  pkg/parse/parse.go
  pkg/parse/parse_test.go
Labels: approved, lgtm, kind/cleanup

#6177 build: allow --output to be specified multiple times
  define/build.go
  imagebuildah/executor.go
  imagebuildah/stage_executor.go
  pkg/cli/build.go
  pkg/cli/common.go
  tests/bud.bats
Labels: kind/feature, approved, lgtm

#6179 copier: add Ensure and ConditionalRemove
  copier/copier.go
  copier/copier_test.go
  copier/copier_unix_test.go
  copier/syscall_unix.go
  copier/syscall_windows.go
Labels: approved, lgtm, kind/api-change

#6178 add: add a new --timestamp flag
  add.go
  cmd/buildah/addcopy.go
  copier/copier.go
  copier/copier_test.go
  docs/buildah-add.1.md
  docs/buildah-copy.1.md
  tests/add.bats
  tests/helpers.bash
Labels: kind/feature, approved, lgtm

#6124 [CI:DOCS] Add CNCF roadmap, touchup other CNCF files
  GOVERNANCE.md
  MAINTAINERS.md
  OWNERS
  ROADMAP.md
Labels: approved, lgtm

#6181 [CI:DOCS] README.md: add openssf passing badge
  README.md
Labels: approved, lgtm

#6191 remove static nix build
  Makefile
  nix/default-arm64.nix
  nix/default.nix
  nix/nixpkgs.json
  nix/nixpkgs.nix
Labels: approved, lgtm
