Repository containers/buildah, pull requests merged in 2025-02, with the labels that each got.

#5962 Bump Buildah to v1.39.0, c/storage v1.57.1, c/image v5.34.0, c/common v0.62.0
  CHANGELOG.md
  changelog.txt
  define/types.go
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/internal/util/bridge.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/registries_d.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/pkg/tlsclientconfig/tlsclientconfig.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/spf13/pflag/.editorconfig
  vendor/github.com/spf13/pflag/.golangci.yaml
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/ip.go
  vendor/github.com/spf13/pflag/ipnet_slice.go
  vendor/github.com/spf13/pflag/string_array.go
  vendor/modules.txt
Labels: approved, lgtm, No New Tests

#5954 CI: parallize unit tests
  .cirrus.yml
  Makefile
  buildah_test.go
  chroot/run_test.go
  cmd/buildah/images_test.go
  commit_test.go
  common_test.go
  contrib/cirrus/test.sh
  convertcw_test.go
  copier/xattrs_test.go
  define/pull_test.go
  define/types_test.go
  digester_test.go
  imagebuildah/stage_executor_test.go
  imagebuildah/util_test.go
  internal/config/convert_test.go
  internal/mkcw/archive_test.go
  internal/mkcw/luks_test.go
  internal/mkcw/workload_test.go
  internal/open/open_linux_test.go
  internal/open/open_test.go
  internal/sbom/merge_test.go
  internal/sbom/presets_test.go
  internal/tmpdir/tmpdir_test.go
  internal/volumes/bind_linux_test.go
  internal/volumes/volumes_test.go
  new_test.go
  pkg/chrootuser/user_test.go
  pkg/cli/common_test.go
  pkg/formats/formats_test.go
  pkg/jail/jail_test.go
  pkg/parse/parse_test.go
  pkg/rusage/rusage_test.go
  pkg/sshagent/sshagent_test.go
  pkg/util/resource_unix_test.go
  pkg/util/util_test.go
  run_test.go
  util/util_test.go
Labels: approved, lgtm

#5955 [release-1.29] Fix CVE-2024-11218
  Makefile
  cmd/buildah/run.go
  define/types.go
  docs/buildah-run.1.md
  imagebuildah/stage_executor.go
  internal/open/open.go
  internal/open/open_linux.go
  internal/open/open_linux_test.go
  internal/open/open_test.go
  internal/open/open_types.go
  internal/open/open_unix.go
  internal/open/open_unsupported.go
  internal/parse/parse.go
  internal/types.go
  internal/volumes/bind_linux.go
  internal/volumes/bind_linux_test.go
  internal/volumes/bind_notlinux.go
  internal/volumes/bind_test.go
  pkg/overlay/overlay.go
  run.go
  run_common.go
  run_freebsd.go
  run_linux.go
  tests/bud.bats
  tests/bud/buildkit-mount-from/Dockerfilebuildkitbase
  tests/bud/buildkit-mount-from/hello1
  tests/conformance/testdata/multistage/copyback/Dockerfile
  tests/run.bats
Labels: kind/bug, approved, lgtm

#5977 [release-1.29] Bump to Buildah v1.29.5
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, No New Tests

#5979 .cirrus: bump ci resources
  .cirrus.yml
Labels: approved, lgtm

#5978 Distinguish --mount=type=cache locations by ownership, too
  internal/volumes/volumes.go
  tests/conformance/conformance_test.go
Labels: kind/bug, approved, lgtm

#5982 Switch to the CNCF Code of Conduct
  CODE-OF-CONDUCT.md
Labels: approved, lgtm, kind/other

#5986 .cirrus: use more cores for smoke task
  .cirrus.yml
Labels: approved, lgtm

#5959 Use tmpfs for integration tests
  imagebuildah/stage_executor.go
  tests/bud.bats
  tests/bud/heredoc/Containerfile
  tests/helpers.bash
  tests/mkcw.bats
  tests/test_runner.sh
Labels: approved, lgtm

#5992 chroot createPlatformContainer: use MS_REMOUNT
  chroot/run_linux.go
  tests/run.bats
Labels: kind/bug, approved, lgtm

#6003 [release-1.39] chroot createPlatformContainer: use MS_REMOUNT
  chroot/run_linux.go
  tests/run.bats
Labels: kind/bug, approved, lgtm

#5995 conformance: make `TestCommit` and `TestConformance` parallel
  tests/conformance/conformance_test.go
Labels: approved, lgtm

#6007 [release-1.39] tag v1.39.1
  .cirrus.yml
  CHANGELOG.md
  changelog.txt
  define/types.go
Labels: approved, lgtm, kind/other, No New Tests

#5990 Fix Conformance tests on ARM64
  config.go
  go.mod
  go.sum
  imagebuildah/build.go
  tests/bud.bats
  tests/conformance/conformance_test.go
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: approved, lgtm

#6012 tests/conformance/testdata/Dockerfile.add: update some URLs
  tests/conformance/testdata/Dockerfile.add
Labels: approved, lgtm, kind/failing-test
